[2021-01-20 22:07] reichert621 commented on #538
@aguilaair this is just for the admin/dashboard side, we can already retrieve customer conversations with the `ConversationController.find_by_customer` endpoint but for now we're avoiding displaying these on the customer side

the point of this ticket is just to make it easier to link one conversation to another in the dashboard, but we're still figuring out the best way to do that

[2021-01-21 15:45] sladyn98 opened #539 "After closing and deleting the conversation one cannot send a message from the widget"
**Describe the bug**
When I am chatting with an agent and the agent closes and deletes the conversation and I try to send a message via the widget it does not get sent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'widget'
2. Click on 'Send message'
3. Close the message from the dashboard and delete it
4. Try sending a message from the widget

**Expected behavior**
It should send a

[2021-01-21 19:19] #538 closed

[2021-01-22 00:13] makkiedavid commented on #441
Hi @reichert621, is there any progress on this?

[2021-01-22 04:41] reichert621 opened #541 "Send a weekly report to Slack with an overview of the week's metrics"
**Problem**
A few things:
- Users want to see metrics from Papercups more regularly
- Users want to be able to stay in Slack as often as they can if possible
- Users want to be reassured that their Slack integration is working as expected

**Solution**
Let's create a job to run every Friday that does the following:
- Finds every account with an active Slack integration
- For each account, pulls me

[2021-01-22 05:12] mikermcneil commented on #541
@reichert621 re: whether to start with a threshhold on # of conversations:  I'd be ok with it getting sent regardless, especially if it had useful information.  Users with high volume might be more annoyed if it didn't have the information.

Main concern this would alleviate is the "Oh crap are my chats still coming through into Slack?  Am I missing something?"

[2021-01-22 13:57] reichert621 commented on #541
makes sense, thanks @mikermcneil!

[2021-01-22 15:54] reichert621 commented on #441
hey @makkiedavid sorry for the delay on this! hoping to get to it by next week

[2021-01-23 04:02] hieutle2011 commented on #534
Hi, can i help on this?

[2021-01-23 14:52] reichert621 commented on #534
sure! I'll assign you for now @hieutle2011 👍

[2021-01-25 13:40] makkiedavid commented on #441
Looking forward to it a lot! Thanks.

[2021-01-26 12:06] timgl opened #547 "Attempted to send event"
**Describe the bug**

We get a ton of 'attempted to send event' errors when running papercups
![image](https://user-images.githubusercontent.com/1727427/105842807-13385b80-5fd7-11eb-934e-3d12bd8be4f3.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to app.posthog.com
2. open dev console
3. it's probably there

**Expected behavior**
not throw a bunch of errors

**Screenshots**
If appli

[2021-01-26 14:25] Zegoverno opened #548 "Integration with matrix bridge - beeper"
**Problem**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Solution**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context, screenshots, or related issues about

[2021-01-26 23:03] cheeseblubber opened #551 "Live session doesn't track across multiple screens for non single page apps"

[2021-01-27 19:48] reichert621 commented on #441
hey @makkiedavid I added the backend logic for this but still need to implement the UI -- want me to just turn this off for your account manually for you in the meantime?

[2021-01-28 00:54] makkiedavid commented on #441
@reichert621 turning it off for me would be great! I messaged you the e-mail I signed up with.

[2021-02-01 17:16] reichert621 commented on #534
thanks @hieutle2011!

[2021-02-01 17:16] #534 closed

[2021-02-01 17:17] reichert621 commented on #486
thanks @jeepers3327! (forgot to close this 😅 )

[2021-02-01 17:17] #486 closed

[2021-02-01 17:17] reichert621 commented on #454
thanks @edgarkanye! (forgot to close this 😅 )

[2021-02-01 17:17] #454 closed

[2021-02-01 17:18] reichert621 commented on #451
hey @psolvy! any updates on this?

[2021-02-01 23:38] cheeseblubber opened #559 "@mention feature in private notes"
**Problem**
When I want to bring someone's attention to a ticket it is annoying to paste the link somewhere and have multiple clicks to send it to the person.

**Solution**
I want to be able to @mention someone and notify them in their desired channel that they've set. Either through Slack or email.

[2021-02-01 23:51] Twixes opened #560 "Support private notes in Slack integration"
**Problem**
Private notes added in #521 are great – they are however not sendable from the Slack integration, nor are they viewable there.

**Solution**
There should be an explicit way to send a private note from Slack (e.g. the message is considered a note when if it begins with a slash), and when a private note is sent from somewhere else (i.e. the web app), it should in turn be displayed in the

[2021-02-02 18:24] reichert621 commented on #560
@Twixes I did a little research into this, and it looks like Slack doesn't support slash commands in reply threads for some reason 😞 (see "**Limitations on use**" in https://api.slack.com/interactivity/slash-commands#enabling-interactivity-with-slash-commands__what-are-slash-commands)

So I'm thinking there are a couple alternatives to how we can handle this:
1. Any messages that @mentions the Pap

[2021-02-02 18:32] Twixes commented on #560
I think 1. could occasionally backfire if someone wants to do this intentionally. 2. sounds pretty good, just that the prefix should be simple to enter (definitely not an emoji) and practically never used in an online conversation or in some support case at the start of the message. I was thinking a backslash would work well.

[2021-02-02 19:25] reichert621 commented on #560
backslash sounds good for now :+1:

[2021-02-05 17:57] reichert621 commented on #560
done in https://github.com/papercups-io/papercups/pull/562!

[2021-02-05 17:57] #560 closed

[2021-02-08 00:51] Twixes opened #564 "Close and Reopen in Reply from Slack"
**Problem**
Currently to close or reopen a conversation, you have to click the link to the Papercups dashboard and do it there.

**Solution**
It'd be much smoother and faster if at the bottom of the initial Slack message linked to a Papercups conversation (below Status), there was button "Close" or "Reopen" - based on the current status of the conversation.

<img width="504" alt="Screen Shot 2021-

[2021-02-08 19:25] cheeseblubber opened #565 "View customers by customer tags"
I want a page on the dashboard where I can view and manage all of my customer tags. There are two use cases here: first is for sales to manage their tags and leads and second is a way to manage feature requests

[2021-02-08 22:11] reichert621 commented on #564
Done in https://github.com/papercups-io/papercups/pull/566!

[2021-02-08 22:11] #564 closed

[2021-02-09 17:55] #531 closed

[2021-02-09 17:55] #532 closed

[2021-02-09 17:55] #533 closed

[2021-02-10 20:31] #444 closed

[2021-02-10 20:37] #482 closed

[2021-02-10 20:39] #484 closed

[2021-02-10 20:40] #499 closed

[2021-02-10 21:33] cheeseblubber opened #570 "View and edit tags descriptions"
**Problem**
I want to be able to add tags and description for more context. Some example use cases might be to tag a specific github issue or jira ticket

**Solution**
I want to add an editable text box on customers tag page

[2021-02-10 21:34] cheeseblubber opened #571 "Basic text search through tags"
I want to be able to do basic string text search through tags of descriptions and tags on tags page

[2021-02-11 18:38] cheeseblubber opened #572 "Text box should expand when there is a lot of text"
The text box should expand when there are long text instead of a scroll bar

![Screen Shot 2021-02-11 at 1 35 36 PM](https://user-images.githubusercontent.com/4218509/107682229-0fab0280-6c6e-11eb-82e6-796c584c6fc2.png)

[2021-02-12 15:40] cheeseblubber opened #573 "Add example for next js in getting started"
See issue: https://github.com/papercups-io/chat-widget/issues/59 we can add a temporary fix by showing usage in NextJS in getting started as well

[2021-02-12 15:46] cheeseblubber opened #574 "Have tabs to switch between React and HTML example in getting started"
We should support more example in different languages to prevent issues from set up. We probably want something like what stripe has as an example
<img width="885" alt="Screen Shot 2021-02-12 at 10 45 57 AM" src="https://user-images.githubusercontent.com/4218509/107789423-91a73400-6d1f-11eb-9f2e-ab1b0de1b347.png">

[2021-02-12 15:57] #417 closed

[2021-02-16 02:13] cheeseblubber opened #577 "Add dark mode to the chat widget including the demo"

[2021-02-17 15:27] reichert621 commented on #565
done in https://github.com/papercups-io/papercups/pull/575

[2021-02-17 15:27] #565 closed

[2021-02-17 15:27] reichert621 commented on #570
done in https://github.com/papercups-io/papercups/pull/575

[2021-02-17 15:28] #570 closed

[2021-02-17 21:30] cheeseblubber opened #579 "Continue over email should CC the support agent that last responded"

[2021-02-18 16:22] cheeseblubber opened #580 "Clicking on a created tag on the side bar should like to the tag page"

[2021-02-18 16:25] cheeseblubber opened #581 "automated chat flow"
Place holder issue for clicking on flows

[2021-02-18 18:49] #580 closed

[2021-02-19 02:51] cheeseblubber opened #583 "Store story time session playbacks"
We have ability to store file uploads on S3 we should do the same for Story time

[2021-02-22 12:42] ThisIsQasim opened #584 "Can't get slack integration to work"
**Describe the bug**
I am trying to setup Slack integration on a self hosted papercups setup. I have created a new slack app as mentioned in the wiki and added the required environment variables but the integrations tabs still redirects to the Papercups slack app instead of my own. I am also seeing the following in the logs

[code]

[2021-02-22 18:57] cheeseblubber opened #585 "I should be able to drag a file in to the chatwidget to upload a file"

[2021-02-22 21:23] cheeseblubber opened #586 "Whitelist domains for shared Slack channel"
Don't create a ticket if its from your domain for shared Slack Channel

[2021-02-23 01:07] reichert621 commented on #584
hey @ThisIsQasim! did you modify any of the code before you deployed?

it might be easiest to hop on a call sometime this week and help you debug... feel free to book a time on https://calendly.com/alex-reichert/ and I'd be happy to help

[2021-02-23 04:09] ThisIsQasim commented on #584
No. I am using the default docker image. Meanwhile, I have scheduled a call for today.

[2021-02-23 14:35] reichert621 commented on #584
sounds good @ThisIsQasim — I wonder if our docker image is out of date? cc @cheeseblubber

[2021-02-23 15:04] ThisIsQasim commented on #584
It's the latest image.

[2021-02-24 16:53] cheeseblubber opened #589 "Support attaching files to messages when replying from Slack"
You should be able to upload files in Slack and have it show up in the chat widget

[2021-02-25 03:48] fmterrorf commented on #451
HI :wave: If this is up for grabs, I'd like to work on this! Thanks

[2021-02-25 15:41] reichert621 commented on #451
hey @fmterrorf! let me check in with @flmel to see if he's still interested in working on this, i think he may have had some questions that weren't addressed in the issue description

[2021-02-25 16:08] cheeseblubber opened #591 "Fix UX around team invites"
Its confusing to add a team member since people don't read. We should have a plus button under teams that you can input an email and it'll send the invite link to the team member.

[2021-02-27 18:40] ThisIsQasim opened #596 "Turn off Postgres ssl in new docker image"
**Describe the bug**
The new docker images requires ssl for connecting to postgres. Can you make it configurable?

[2021-02-28 15:22] cheeseblubber commented on #596
Hi @ThisIsQasim can you describe your environment how are you deploying to the postgres and what the error you are getting. Why do you want to disable SSL for connecting to Postgres?

[2021-02-28 15:28] cheeseblubber commented on #584
@ThisIsQasim pushed a fix for the docker release this week going to close for now feel free to reopen if this didn't fix the issue

[2021-02-28 15:28] #584 closed

[2021-02-28 15:33] cheeseblubber commented on #596
Im leaning towards keeping ssl required for prod docker file postgres and keeping it optional for dev dockerfile. I guess it would make sense for testing purposes or side projects

[2021-02-28 18:12] ThisIsQasim commented on #596
Papercups and postgres are in a private network so adding TLS on top seems a little extra. The postgres is shared with another application which doesn't like TLS so enabling TLS is not an option for me. I would really appreciate if TLS for the database could be turned off by setting an environment variable. You could have it enabled by default of course.

[2021-03-01 17:12] cheeseblubber commented on #596
Fair point I've merged it in the environment variable is "REQUIRE_DB_SSL"

[2021-03-01 18:49] ThisIsQasim commented on #596
Setting the environment variable `REQUIRE_DB_SSL=false` still expects ssl. Is it because environment variables are treated as strings and the config expects a boolean?

[2021-03-01 19:01] cheeseblubber commented on #596
Oops good catch. I've fixed it in the latest master should be building soon

[2021-03-01 19:05] reichert621 opened #598 "Make IP address tracking on customers configurable"
**Problem**
For GDPR compliance, we should not track customer IP addresses.

**Solution**
Make it possible to disable this with an env variable, and then disable it by default in our hosted version for now.

**Testing**
Do some manual testing to make sure IPs aren't getting persisted to the `customers` table.

**Questions, or need help getting started?**
Feel free to ask below, or [ping us on Slac

[2021-03-01 19:11] reichert621 opened #599 "Make it possible to delete an account and all of its data via API"
**Problem**
Some users set up a new account and then ask for it to be deleted. Eventually we'll add a UI to enable this, but to start off we should be able to do it safely and programmatically.

(This will probably require some database migrations that improve how associated records are deleted... at the moment some resources are not automatically deleted when a parent resource is attempted to be

[2021-03-01 19:11] reichert621 opened #600 "Make it possible to delete a user and all of its data via API"
**Problem**
We want to be able to delete a user record and all of its associated data. Eventually we'll add a UI to enable this, but to start off we should be able to do it safely and programmatically.

(This will probably require some database migrations that improve how associated records are deleted... at the moment some resources are not automatically deleted when a parent resource is attempte

[2021-03-01 19:11] reichert621 opened #601 "Make it possible to delete a customer and all of its data via API"
**Problem**
We want to be able to delete a customer record and all of its associated data. Eventually we'll add a UI to enable this, but to start off we should be able to do it safely and programmatically.

(This will probably require some database migrations that improve how associated records are deleted... at the moment some resources are not automatically deleted when a parent resource is atte

[2021-03-01 19:17] reichert621 opened #602 "Enable exporting all customer data as JSON"
**Problem**
For GDPR compliance, we need to make it possible to export all of a given customer's data. Let's start off by just exporting it as JSON.

**Solution**
Set up an API (e.g. `GET /api/customers/:id?export=json` or something) that returns all data associated with a given customer, including:
- conversations
- messages
- notes
- tags

In the customer UI, add a button that downloads this dat

[2021-03-01 19:22] ThisIsQasim commented on #596
Thank you for the prompt response but for some reason it is still expecting SSL on the database. Maybe I am doing something wrong. Will try in a fresh environment and see if that makes a difference.

[2021-03-01 23:38] fmterrorf commented on #600
Hi there, I'd like to work on this one :wave:

[2021-03-02 01:13] fmterrorf commented on #600
Just looking at the `users` table and yeah it looks like there's quite a bit of tables associated to it that don't have ON DELETE CASCADE

[code]

[2021-03-02 01:25] reichert621 commented on #600
hey @fmterrorf! yep, these are the things we'll need to fix -- do you still wanna take it? happy to assign you in the meantime :+1:

[2021-03-02 14:18] cheeseblubber commented on #596
Did you get to try on a fresh environment?

[2021-03-02 16:09] #598 closed

[2021-03-02 20:43] cheeseblubber opened #607 "change branch from master to main"
Change branch to be consistent with new github defaults.

[2021-03-02 22:26] #602 closed

[2021-03-03 03:56] fmterrorf commented on #600
If a `user` gets deleted, and that user is assigned to a `conversation`, should the `conversation` be deleted? Right now i have the `conversation.assignee_id` set to to null if the assigned user is deleted. See [diff](https://github.com/papercups-io/papercups/compare/master...fmterrorf:delete_user_data#diff-f5e80f638e16c883312c8913a41cd826ff59d3408850c076676269e9713b93b2R20)

Same question with wi

[2021-03-03 04:09] reichert621 commented on #600
It probably makes most sense to just set those values to null in both cases
like you said :)

On Tue, Mar 2, 2021 at 10:56 PM Daven <notifications@github.com> wrote:

[2021-03-03 06:14] knewter commented on #596
This still doesn't work because it's a compile-time ENV var so the container for papercups was built with it enabled and this doesn't provide a way to override it generally. There's a nice post on configuration in elixir with releases here: https://elixir-lang.org/getting-started/mix-otp/config-and-releases.html

It should probably be present in this file to support runtime changes: https://github

[2021-03-03 06:15] knewter commented on #596
(on a related note, I landed here because I'm working on adding papercups to homelabos - https://gitlab.com/NickBusey/HomelabOS/-/merge_requests/654)

[2021-03-03 18:49] reichert621 opened #609 "Messages `sent_at` field is sometimes set as minutes after `created_at`"
**Describe the bug**
The `sent_at` field should always come before the `created_at`/`inserted_at` field, but for some reason it's not always.

This may be a timezone issue or something else... still not sure.

**Expected behavior**
`sent_at` is set as soon as the message is sent, while `created_at`/`inserted_at` is set when the message is persisted to the db.

**Additional context**
Noticed this f

[2021-03-03 20:39] #601 closed

[2021-03-03 21:17] #599 closed

[2021-03-03 22:57] reichert621 commented on #600
@fmterrorf any updates on this? i've set up similar PRs for `customers` (https://github.com/papercups-io/papercups/pull/611) and `accounts` (https://github.com/papercups-io/papercups/pull/612) if that's helpful for reference!

[2021-03-03 23:13] fmterrorf commented on #600
Opened a PR here https://github.com/papercups-io/papercups/pull/613

[2021-03-04 02:27] fmterrorf opened #614 "Running mix.test shows Ecto errors"
**Describe the bug**
Running mix test produces the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run mix test

**Expected behavior**
It should not show those errors

**Additional context**
I think the issue is in the `slack_controller_test.exs`. If you run `mix test test/chat_api_web/controllers/slack_controller_test.exs` this command it'll show the error above.

Y

[2021-03-04 17:23] #600 closed

[2021-03-04 19:24] cheeseblubber opened #616 "Set env variable for supporting ipv6 in releases"
current build fails when setting socket_options to inet6

[2021-03-05 01:56] a8t commented on #574
I can work on this.

[2021-03-05 02:47] reichert621 commented on #574
thanks @a8t! assigning you for now :)

[2021-03-05 13:47] aguilaair commented on #574
Maybe add flutter in the future too? (Maybe not yet because not all features are integrated, specifically agent availability)

[2021-03-05 14:21] a8t commented on #297
Since I'm already looking at this page, I can look at this too.

[2021-03-05 15:47] reichert621 commented on #297
Oops I believe this is done now! We can close this.

On Fri, Mar 5, 2021 at 9:21 AM Andy Tran <notifications@github.com> wrote:

[2021-03-05 18:20] a8t commented on #614
I'm getting this too.

[2021-03-05 18:28] reichert621 commented on #614
yup this is a known issue -- the errors show up due to async tasks being run during the tests (e.g. when a message is created, it triggers webhook events and slack notifications to be sent async)

not sure what the best fix is at the moment, but definitely would be nice to reduce the noise :+1:

[2021-03-05 18:33] fmterrorf commented on #614
Looking at this blog post too https://dockyard.com/blog/2019/02/13/understanding-test-concurrency-in-elixir specifically at Ecto.Sandbox's [shared mode](https://hexdocs.pm/ecto_sql/Ecto.Adapters.SQL.Sandbox.html#module-shared-mode), but it looks like test are already using that https://github.com/papercups-io/papercups/blob/master/test/support/conn_case.ex#L38.

This isnt a big deal tho, since doe

[2021-03-05 19:06] reichert621 commented on #614
yeah... definitely annoying though 😅

[2021-03-06 01:18] fmterrorf commented on #614
Hmm when testing the `slack_controller_test.exs`, we only want to tests the controller right, and not the `Conversations.Notification` which calls `Conversations.Notification.notify/1`, which contains the call to `Task.start`.

What if we mock the calls to `Conversations.Notification` using [Mox](https://hexdocs.pm/mox/Mox.html). That way the controller tests are solely focused on controllers, and

[2021-03-06 04:18] fmterrorf commented on #614
Ok I have a [branch](https://github.com/papercups-io/papercups/compare/master...fmterrorf:silence_ecto_errors) that removes these errors
![Screenshot from 2021-03-05 22-12-04](https://user-images.githubusercontent.com/77761194/110194768-e100f180-7dff-11eb-90e3-cb67023b11e2.png)

It uses Mock's [setup_with_mocks](https://github.com/papercups-io/papercups/compare/master...fmterrorf:silence_ecto_erro

[2021-03-09 20:31] a8t commented on #574
Should the issue be closed? Or edited, if we still want it terminal-styled like above.

[2021-03-09 21:06] reichert621 commented on #574
I’ll let Kam decide :)

On Tue, Mar 9, 2021 at 3:32 PM Andy Tran <notifications@github.com> wrote:

[2021-03-09 22:23] #266 closed

[2021-03-09 22:24] reichert621 commented on #223
Going to handle this at https://docs.papercups.io/api-endpoints for now 👍

[2021-03-09 22:24] #223 closed

[2021-03-09 22:25] reichert621 commented on #168
@nt7 we're working on a mattermost integration this week! just wanted to let you know in case you're still interested in trying it out :)

[2021-03-09 22:26] #122 closed

[2021-03-09 22:26] #106 closed

[2021-03-09 22:27] reichert621 commented on #614
hmmm let me think about this a bit more @fmterrorf -- i think it's not too urgent at the moment

[2021-03-09 22:29] #572 closed

[2021-03-10 15:03] reichert621 commented on #574
going to close for now -- feel free to create another ticket if we want to update the design later @cheeseblubber!

[2021-03-10 15:03] #574 closed

[2021-03-10 15:25] #491 closed

[2021-03-10 15:31] reichert621 opened #621 "Add `away_message` field to `widget_settings` table"
**Problem**
We're adding an `awayMessage` prop to our `ChatWidget` component, so we should add this field to our `widget_settings` table as well in case users want to set it in our dashboard (rather than directly in their code config)

**Solution**
Let's add an optional/nullable `away_message` string field to the `widget_settings` table.

**Additional context**
See https://github.com/papercups-io/

[2021-03-10 15:40] reichert621 opened #622 "Add `away_message` input in "Getting Started" page"
**Problem**
After #621 is finished, we should add the input to the "Getting Started" page so users can actually set this field.

**Solution**
Add an input below the `greeting` input on the "Getting Started" page (which is here: https://github.com/papercups-io/papercups/blob/master/assets/src/components/account/GettingStartedOverview.tsx#L306-L318)

The label should say "**Set an away message (will

[2021-03-10 15:53] reichert621 opened #623 "Add boilerplate CRUD APIs for `canned_responses`"
**Problem**
Users have been asking for canned responses, and the schema is pretty straightforward, so let's start setting it up!

**Solution**
Set up the db migrations and boilerplate CRUD (create/read/update/delete) methods for a `canned_responses` table.

For an example of how to do this, you can probably use https://hexdocs.pm/phoenix/Mix.Tasks.Phx.Gen.Json.html (or see https://github.com/paper

[2021-03-10 16:02] reichert621 commented on #621
great! i'll assign you to both for now :+1:

[2021-03-10 16:03] reichert621 commented on #622
(@a8t can you leave a comment here so i can assign you 😄 )

[2021-03-10 16:11] a8t commented on #623
What if the user wants variables (or whatever we want to call it) for interpolating into the message? Like `content: "Hi %user_name%, nice to meet you."` - any thoughts on this? Would probably be a next-iteration feature.

[2021-03-10 16:17] reichert621 commented on #623
seems like a good idea! but i don't think it needs to be part of this ticket :+1:

[2021-03-10 16:33] a8t commented on #622
commenting

[2021-03-10 18:43] fmterrorf commented on #451
HI @reichert621 Yeah! I'd like to work on this one

[2021-03-10 18:54] cheeseblubber opened #624 "Upgrade Elixir and use Runtime.exs"
Currently a lot of variable are set during build time. We want to convert those to be set at runtime in our Dockerfile

[2021-03-10 18:54] cheeseblubber commented on #596
Yep that is the issue I've created to migrate phoneix over next week https://github.com/papercups-io/papercups/issues/624

[2021-03-10 19:03] reichert621 commented on #451
ok great! assigning you for now 🚀

[2021-03-10 23:39] fredfortier opened #627 "Cryptographic Authentication Without the Email Based Registration Workflow"
I suspect that what I'm about to ask is already possible but I couldn't easily find documentation.

I want to use self-signed customer data instead of email for registration. For example, this may involve implementing implementing an alternative `api/register` endpoint that takes `{customer: "...", signature: "0x.."}`. We recover a public key from the signed customer data then authenticate it agai

[2021-03-11 00:01] a8t commented on #621
default limit is 255 characters. Do we want more or less?

[2021-03-11 00:27] jeepers3327 commented on #623
Hi, is this still unassigned?.
I'd like to work on this one later after my work.

[2021-03-11 00:28] a8t commented on #621
Thanks for linking that relevant example. It was helpful!

[2021-03-11 01:02] a8t commented on #623
@jeepers3327 I'm starting work on it now, but I don't mind if we both do and your PR is the one that goes in.

[2021-03-11 02:04] reichert621 commented on #621
@a8t no default is necessary! and `text` seems fine :1:

[2021-03-11 02:14] reichert621 commented on #623
@jeepers3327 @a8t I'll assign you both for now :+1: happy to review both PRs and provide feedback 🤓

[2021-03-11 02:15] reichert621 commented on #622
yeah i think if you're not a member of the org/repo it doesn't let me assign you unless you engage with the issue 🤷

[2021-03-11 22:30] cheeseblubber opened #630 "When on mobile view our chat widget should take up full screen"
![](https://files.slack.com/files-pri/T018254HCUV-F01QKG9SG5D/image_from_ios.png)
![Image from iOS](https://user-images.githubusercontent.com/4218509/110863937-69174900-828f-11eb-9b26-55831fdd2560.png)

[2021-03-12 00:11] fmterrorf commented on #451
Yeah this one is tricky. I've opened a draft PR for this, but i dont feel too good about it :sweat_smile:

[2021-03-12 00:46] reichert621 commented on #451
oops @fmterrorf just saw this!

i wrote this in your PR just now:

it seems like it might make sense to go that route instead... what do you think?

[2021-03-12 01:34] fmterrorf commented on #451
Yeah i think that's the way to go. It'll make pagination & ordering better

[2021-03-12 15:50] reichert621 commented on #451
sounds good!

[2021-03-14 16:39] nt7 commented on #168
Wow, that's great to hear!
I'm keen to try it out :)

[2021-03-15 21:24] reichert621 opened #635 "Make it possible to view conversations by tag"
**Problem**
At the moment, we only support viewing customers by tag. Users also want to be able to view conversations the same way.

**Solution**
Let's add conversations data to the `TagDetailPage.tsx` that previews and links to conversations by tag.

<img width="1386" alt="conversations-by-tag" src="https://user-images.githubusercontent.com/5264279/111380248-76ab4500-867a-11eb-809a-3c350e901e92.p

[2021-03-15 21:25] #621 closed

[2021-03-15 21:25] #622 closed

[2021-03-15 21:26] #623 closed

[2021-03-15 21:33] reichert621 opened #636 "Set up a customer details page"
**Problem**
Right now the only way to view a customer's details is in a relatively small modal.

Eventually we'll want to show a lot more information around customers (such as tags, company info, latest conversations, etc), so we should set up a full page UI for displaying customer details.

**Solution**
Set up a customer details page.

TODO:
- include some designs/screenshots for inspiration
- in

[2021-03-15 21:58] reichert621 opened #637 "Gmail integration v1"
**Problem**
Users want to sync their `support@` email accounts with Papercups.

Why?
- the whole team can see emails within the Papercups dashboard
- people can tag or comment on messages without their customers seeing any of this
- anyone from the team can reply to emails, and it will show up as the `support@` email from the customer's perspective
- people can reply to emails directly from Slack

[2021-03-15 22:02] reichert621 commented on #627
hey @fredfortier! not sure I understand 😅 maybe we could hop on a quick call sometime to learn more about your use case?

let me know if that would work for you!

[2021-03-15 23:29] a8t commented on #637
Interesting. Gmail seems to have a [Push Notification system](https://developers.google.com/gmail/api/guides/push) that could be used instead of polling.

[2021-03-16 03:11] reichert621 opened #638 "Improve security in conversation/message/customer controller show/update/delete methods"
**Problem**
Right now any user with a valid auth token can retrieve any conversation/message/customer resource as long as they know the ID of the resource. We should return either a 404 (Not found) or 403 (Forbidden) error if someone tries to retrieve/update/delete a resource that does not have a matching `account_id`

**Solution**
In the `show`, `update`, and `delete` methods of the conversation/

[2021-03-16 08:26] jeepers3327 commented on #638
Can I work on this one?

[2021-03-16 13:56] a8t commented on #638
I would vote for 404. An unauthorized user doesn't need it to be a bit more descriptive, right?

I would also vote for the 2nd of your suggestions, doing the check in the controller. I think that it separates the concern of the controller (who knows about the interface and the current user etc) from the concern of the Messages context

@jeepers3327 you can look at my PR for that previous issue we

[2021-03-16 14:58] jeepers3327 commented on #638
Right. Since you already started working on it @a8t , should be assigned to you.
Thanks for informing me.

[2021-03-16 15:06] reichert621 commented on #638
hey guys! @wmnnd is working on this one for now, but there are some other controllers that will need similar fixes (e.g. canned responses) -- i still need to create tickets for those as well but if you see any controllers with this same issue feel free to put up a PR @a8t @jeepers3327!

[2021-03-16 16:15] reichert621 commented on #638
done in https://github.com/papercups-io/papercups/pull/639

[2021-03-16 16:15] #638 closed

[2021-03-16 16:37] reichert621 commented on #637
thanks @a8t! super helpful :)

also going to paste in some sample response payloads from the Gmail API here...

### `/gmail/v1/users/me/messages`

[code]

### `/gmail/v1/users/me/messages/#{message_id}`

[code]

### `/gmail/v1/users/me/threads`

[code]

### `/gmail/v1/users/me/threads/#{thread_id}?format=full`

[code]

### Decoded message body

Encoded:
`
"PGRpdiBkaXI9Imx0ciI-TmljZSEgVGhpcyBpcyBhI

[2021-03-16 17:08] wmnnd commented on #637
Here are some gerneral considerations for evaluating whether using IMAP would be a viable alternative to the Gmail API:

## What is IMAP
IMAP is *the* standard for retrieving emails from a server and defined in [RFC 3501](https://tools.ietf.org/html/rfc3501).
IMAP is supported by all email providers¹.

## IMAP and Gmail
- Special Integration with Gmail is still possible; IMAP credentials for Gmail

[2021-03-16 18:59] reichert621 commented on #168
@nt7 if you want to give it a shot, here are the docs 😄 https://docs.papercups.io/reply-from-mattermost

it's still in the early stages, so happy to hop on a call and walk you through it if that would help!

[2021-03-16 19:31] reichert621 opened #640 "Improve security in `CannedResponseController` show/update/delete methods"
**Problem**
Right now any user with a valid auth token can retrieve any canned_response resource as long as they know the ID of the resource. We should return a 404 (Not found) error if someone tries to retrieve/update/delete a resource that does not have a matching `account_id`

**Solution**
In the `show`, `update`, and `delete` methods of the canned_response controller, let's add an `authorize`

[2021-03-16 19:31] reichert621 commented on #640
cc @a8t @jeepers3327 (i'll set up more tickets like this one)

[2021-03-16 19:35] reichert621 opened #641 "Improve security in `CompanyController` show/update/delete methods"
**Problem**
Right now any user with a valid auth token can retrieve any `company` resource as long as they know the ID of the resource. We should return a 404 (Not found) error if someone tries to retrieve/update/delete a resource that does not have a matching `account_id`

**Solution**
In the `show`, `update`, and `delete` methods of the company controller, let's add an `authorize` plug (middlewa

[2021-03-16 19:35] reichert621 opened #642 "Improve security in `NoteController` show/update/delete methods"
**Problem**
Right now any user with a valid auth token can retrieve any `note` resource as long as they know the ID of the resource. We should return a 404 (Not found) error if someone tries to retrieve/update/delete a resource that does not have a matching `account_id`

**Solution**
In the `show`, `update`, and `delete` methods of the note controller, let's add an `authorize` plug (middleware) to

[2021-03-16 19:35] reichert621 opened #643 "Improve security in `TagController` show/update/delete methods"
**Problem**
Right now any user with a valid auth token can retrieve any `tag` resource as long as they know the ID of the resource. We should return a 404 (Not found) error if someone tries to retrieve/update/delete a resource that does not have a matching `account_id`

**Solution**
In the `show`, `update`, and `delete` methods of the tag controller, let's add an `authorize` plug (middleware) to h

[2021-03-16 21:05] reichert621 commented on #636
### Sample design from Intercom:
<img width="1337" alt="Screen Shot 2021-03-16 at 5 03 31 PM" src="https://user-images.githubusercontent.com/5264279/111379540-a4dc5500-8679-11eb-93db-c0317b2bae46.png">

### Sample design from Crisp:
![crisp-customer-ui](https://user-images.githubusercontent.com/5264279/111379631-bc1b4280-8679-11eb-80d3-d772252670a9.png)

[2021-03-16 21:42] a8t commented on #640
i can do this one!

[2021-03-16 22:18] jeepers3327 commented on #642
I can work on this one.

[2021-03-16 23:05] a8t commented on #643
I can do this one too, assuming my other PR is approved.

[2021-03-17 00:26] ghsyeung commented on #641
Hi, I really like this project :+1: and looking forward to using it at our company.
I have some questions after looking at #639.

First of all I don't have experience in Elixir + Phoenix so please point out if my understanding is incorrect.

My understanding is that `plug` acts like middleware that's called prior to the controller action and the `conn` object should be returned or `halt` should be

[2021-03-17 02:22] a8t commented on #641
We could default to authorize like this:

[code]

[2021-03-17 02:53] ghsyeung commented on #641
That would work for default to close, but it means each Controller's private `authorize` will need to call `FallbackController`.

But I am not sure how to make it work if a single controller has multiple authorization logic.

For example,

[code]

The closest I see is something like

[code]

Just sharing this as an idea, it may be the case that there will never be multiple authorization logic with

[2021-03-17 11:56] reichert621 commented on #641
@ghsyeung thanks for all the thoughts!

just wanted to clarify one thing -- what the `authorize` method is doing at the moment is just checking that the resource being fetched belongs to the same `account_id` as the currently authenticated user; it doesn't mean that the controller endpoint is completely open to any unauthenticated user otherwise (we have another plug that ensures users are authent

[2021-03-17 14:37] #640 closed

[2021-03-17 14:37] #642 closed

[2021-03-17 16:38] ghsyeung commented on #641
:+1: I am totally aware that we are talking about authorization, not authentication.

Regarding your idea to run authorization check on matching paths, I don't think it provides much benefit over
running them on `when action in [:show, :update, :delete, :edit]` (the actions with ID if you use [resources](https://hexdocs.pm/phoenix/routing.html#resources)). The code is easier to understand that way

[2021-03-17 17:37] a8t commented on #641
Yeah I can do it.

[2021-03-17 19:22] reichert621 opened #655 "Set up UI for canned responses"
**Problem**
Now that we have the APIs set up for canned responses, we should build out a simple UI where our users can create/view/edit/delete them :)

**Solution**
Set up a UI! Design TBD, but we can probably use Intercom for inspiration:

<img width="1276" alt="Screen Shot 2021-03-17 at 3 18 18 PM" src="https://user-images.githubusercontent.com/5264279/111525682-3e683d00-8734-11eb-8266-02787c980

[2021-03-17 21:57] reichert621 commented on #637
rough next steps:
- figure out how to authenticate an email/gmail account
- figure out how to retrieve messages from the account
- figure out how to listen for new messages (probably just polling for now?)
- figure out how to send messages as the account

(we can worry about how we map these to resources in papercups later)

[2021-03-18 05:36] a8t commented on #641
Proof of concept is up. I like Bodyguard.

I should note, given above discussion: it's not really 'default open' OR 'default closed'. There's no default. You must write the authorization check into the controller. It's possible to simply not write said line of code.

The catch-all is for when you _do_ write a line for authorization check, but you specify (via typo for example) a non-existent rule

[2021-03-18 05:44] a8t commented on #54
Bodyguard actually offers [schema-level authorization helpers](https://github.com/schrockwell/bodyguard#schema-scopes), but I think context- or controller-level is enough. I think we should close this in favour of the more recent issues.

[2021-03-18 14:33] reichert621 commented on #54
closing in favor of these more specific tickets: https://github.com/papercups-io/papercups/issues/641

[2021-03-18 14:33] #54 closed

[2021-03-18 17:27] oTree-org opened #660 "app.json: suggestion about wording of BACKEND_URL"
In app.json, `BACKEND_URL` and `REACT_APP_URL` have the following description:

Maybe would be good to clarify this refers to the papercups server URL, not the website you're embedding the widget into. Could be a bit unclear especially if the website is also deployed on Heroku. How about something like this?

Anyway very nice project with smooth setup :)

[2021-03-18 18:44] ghsyeung commented on #641
The PR looks great, I learned quite a bit from it.

_(Big Caveat: I only eyeballed it from the Bodyguard code, never tried it myself)_

Looking at the bodyguard code, if `apply(:authorize)` fails (i.e. none of the guarded `authorize` matches) then `permit` should fail.

https://github.com/schrockwell/bodyguard/blob/develop/lib/bodyguard.ex#L26

https://github.com/schrockwell/bodyguard/blob/develop

[2021-03-18 18:52] reichert621 commented on #641
yeah I kinda like the plug approach, it seems like a nice combination of the recent updates we made with the added benefit of `bodyguard`... what do you think @a8t?

[2021-03-18 19:14] reichert621 commented on #660
thanks @oTree-org! that's a good idea 👍

[2021-03-18 19:46] a8t commented on #641
I might be wrong, but I can't figure out how to have the Bodyguard.Plug.Authorize plug only run on certain actions.

[2021-03-18 20:13] a8t commented on #641
Oh, I think I figured it out. The guard just wasn't happy with the keyword list. I'll push soon.

[2021-03-18 21:43] a8t commented on #641
https://github.com/papercups-io/papercups/pull/657/files#diff-38651fc8c71802bee5c5074160f63b5a6ed967c518756f5005d3d948932836e9

Please take a look. I'm... not sure if I like it.

[2021-03-19 18:43] taewookim opened #663 "Docker crashing"
osboxes@osboxes:~$ docker run papercups/papercups

[code]

[2021-03-19 22:21] fmterrorf commented on #451
Forgot to add `fixes: #451` on my last PR :sweat_smile: but we could probably close this issue

[2021-03-19 22:24] #451 closed

[2021-03-19 23:46] a8t commented on #536
I'd love to take a stab at this.

[2021-03-20 00:16] a8t commented on #536
Unless I'm misunderstanding,

For every hour:
- For conversations that satisfy certain criteria.
- If they do, we send a slack message to a person that satisfies certain criteria

Do we remind them every hour until the conversation is resolved?

[2021-03-20 00:22] reichert621 commented on #536
Hey Andy! Sorry we probably need to update this, I don’t think we want to
be too aggressive with the reminders... maybe a daily batched reminder in
the morning or end of day would make more sense? Need to think about it

On Fri, Mar 19, 2021 at 8:16 PM Andy Tran ***@***.***> wrote:

[2021-03-20 00:56] a8t commented on #536
No worries. Can you define an unresolved conversation? is it when `Conversation.status = open`?

[2021-03-20 03:51] a8t commented on #536
...oh yeah, batching them kinda complicates it because they might have gotten to the message by that point. So maybe the job should just run once a day.

[2021-03-20 05:22] a8t commented on #536
- What's a _valid_ Slack user ID? are there invalid ones, and a way to check?
- Any thoughts on what the copy should be? I'm thinking:

[2021-03-21 06:16] soheilpro opened #668 "Local deployment still loads the widget from chat-widget.papercups.io"
I'm testing Papercups locally and I have installed the script on a sample page like this:

[code]

But in the Developer Tools, I see many requests being made to *chat-widget.papercups.io*. Is this the intended behavior?

[2021-03-21 08:06] aguilaair commented on #668
You need to specify the URL. Please take a look at the docs: https://docs.papercups.io/chat#using-in-html

[2021-03-21 10:58] soheilpro commented on #668
If you mean baseUrl, I have set that. This is my full source code:

[code]

[2021-03-22 01:47] #643 closed

[2021-03-22 01:48] #641 closed

[2021-03-22 02:05] rozenmd commented on #140
@reichert621 Is this documented anywhere?

Trying to work out how to replace the chat icon with a custom image, only related option I can see is `iconVariant?: 'outlined' | 'filled';`

[2021-03-22 14:20] imjared commented on #571
i'd be down to take a pass at this. would you expect all searching to be done on the client against a list of fetched tags?

[2021-03-22 14:20] reichert621 commented on #668
hey @soheilpro! this is because the chat is hosted in an iframe serving this React app: https://github.com/papercups-io/chat-window

if you want to override this, you can specify an `iframeUrlOverride` (see config options for the chat widget here: https://github.com/papercups-io/chat-widget#options)

[2021-03-22 14:24] reichert621 commented on #571
@imjared yup let's just do a client side search for now :)

maybe just put a search input above the tags table (in the `TagsOverview.tsx`) here:
<img width="1096" alt="Screen Shot 2021-03-22 at 10 22 11 AM" src="https://user-images.githubusercontent.com/5264279/112005005-bb126700-8af8-11eb-9e57-397efc9d74dd.png">

[2021-03-22 15:23] #635 closed

[2021-03-22 15:53] soheilpro commented on #668
Thank you.

[2021-03-22 15:53] #668 closed

[2021-03-22 22:57] reichert621 commented on #596
@cheeseblubber is this still an issue or can we close?

[2021-03-22 22:58] reichert621 commented on #616
@cheeseblubber can we close?

[2021-03-22 22:59] reichert621 commented on #571
@imjared I added this on the customers overview today if you want to take a look for reference :) https://github.com/papercups-io/papercups/blob/master/assets/src/components/customers/CustomersPage.tsx#L158-L165

<img width="806" alt="Screen Shot 2021-03-22 at 6 57 54 PM" src="https://user-images.githubusercontent.com/5264279/112068630-a954b200-8b40-11eb-958c-e888347273bc.png">

[2021-03-23 00:36] johncadengo opened #672 "Persist data on docker compose"
**Problem**
When I spin down a docker compose container, the data does not persist.

**Solution**
When I run `docker-compose down` and `docker-compose up -d` I should still have the same data from the previous run.

**Describe alternatives you've considered**
I have considered persisting a docker volume for the two containers involved, one for Postgres, and the other for the papercups container. H

[2021-03-23 02:16] johncadengo opened #673 "How to run mix on docker container"
I'm using the docker container and I'm trying to run this command:
[code]

This comes from [accounts.ex](https://github.com/papercups-io/papercups/pull/447/files#diff-ef913e27ecc7b178263bc558980e8e994fc57f1504b0598fa2f887bc563fac05R145). How do I run this command from within the docker container?

[2021-03-23 02:34] cheeseblubber commented on #673
@johncadengo hey John this is something I need to fix in the docker file. We're looking to get this fix this week.

[2021-03-23 02:40] cheeseblubber commented on #596
Closing now this is fixed

[2021-03-23 02:40] #596 closed

[2021-03-23 09:54] J0 commented on #655
Hey!

Can I have this issue?

[2021-03-23 13:52] cheeseblubber commented on #672
Hi @johncadengo I need to do a better job on documentation on the production deploys but I think docker compose prod is a bit misleading. We've just got https://github.com/papercups-io/charts set up and we're gonna recommend you to use this going forward for production. We're going to document the release and upgrade processes soon.

[2021-03-23 15:00] reichert621 opened #674 "[Twilio Integration v1] Set up Twilio authorization flow"
**Problem**
Users need a way to connect Papercups to their Twilio account.

**Solution**
Set up a flow (similar to Mattermost) that allows users to enter their Twilio API information for future use.

**Describe alternatives you've considered**
In the future it may make more sense to use an OAuth flow or [Twilio Connect](https://www.twilio.com/docs/iam/connect).

**Additional context**
https://gith

[2021-03-23 15:05] reichert621 opened #675 "[Twilio Integration v1] Set up webhook handler"
**Problem**
When a user with a Twilio authorization (from https://github.com/papercups-io/papercups/issues/674) receives a new message, Twilio sends the data to a webhook URL (that is specified within the Twilio account).

When a new message comes in, we have to handle it appropriately (i.e. create a new conversation in Papercups, or add the message to an existing conversation, etc)

**Solution**

[2021-03-23 15:10] reichert621 opened #676 "[Twilio Integration v1] Send replies via SMS"
**Problem**
When a user/agent replies to a conversation that was started over SMS, we want to make sure the message gets sent back via SMS (with Twilio)

**Solution**
When a user/agent replies from dashboard/Slack/etc:
- AND conversation `source: "sms"`
- AND customer has valid phone number

...send SMS message to customer via Twilio API using account's `twilio_authorization` info.

**Additional c

[2021-03-23 15:12] reichert621 opened #677 "[Twilio Integration v1] Write documentation for getting started"
**Problem**
Users who want to connect to Twilio will need docs to guide them through the process, since Twilio can be a bit difficult to navigate if you've never used it before.

**Solution**
Write docs and add them to https://docs.papercups.io/

**Additional context**
https://github.com/papercups-io/papercups/issues/678

**Questions, or need help getting started?**
Feel free to ask below, or [pin

[2021-03-23 15:13] reichert621 opened #678 "Twilio integration v1"
**Problem**
Users want to be able to receive messages from their customers via SMS (and eventually WhatsApp).

The easiest way to get an MVP up and running is to use Twilio.

**Solution**
Papercups users should be able to:
- Set up a Twilio authorization with their own API keys and phone number
- Point their Twilio account at a Papercups webhook URL to handle incoming SMS messages
- New messages w

[2021-03-23 15:33] reichert621 commented on #636
We'll probably want to add a bunch of enhancements to this page, but for now the basic page is done :+1:

[2021-03-23 15:33] #636 closed

[2021-03-23 15:38] a8t commented on #678
I'm in! @fmterrorf how did you want to split it up? Maybe I can do #676

[2021-03-23 15:50] a8t commented on #676
I can look into this

[2021-03-23 15:52] fmterrorf commented on #678
@a8t i'll have a look into details in a bit. Thinking of picking up #675

[2021-03-23 15:52] reichert621 commented on #678
@a8t @fmterrorf let me know if you need any help getting set up with Twilio!

[2021-03-23 19:08] johncadengo commented on #672
@cheeseblubber thanks for the info. Is there any reason for the move to Kubernetes over docker for production? Does this mean you'll be phasing out support for running this in docker, or that you're limiting it to support for local development, and using Kubernetes for production deployments?

[2021-03-23 22:51] fmterrorf commented on #675
I'll take this one! I've setup my twilio account, but probably going to work on it the next day :pray:

[2021-03-24 10:34] jaimeiniesta opened #683 "Bitdefender Anti-tracker Chrome extension blocks Papercups admin"
**Describe the bug**
Bitdefender Anti-tracker Chrome extension blocks Papercups admin

**To Reproduce**
Steps to reproduce the behavior:
1. Install the Bitdefender extension on https://chrome.google.com/webstore/detail/bitdefender-anti-tracker/khndhdhbebhaddchcgnalcjlaekbbeof
2. Reload Papercups admin
3. See that, as a visitor, the chat widget shows "we're not online at the moment". Also, as an ad

[2021-03-24 12:18] reichert621 commented on #683
thanks for flagging this @jaimeiniesta! btw when you check the extension, does it show anything being blocked other than google analytics for you?

[2021-03-24 13:30] jaimeiniesta commented on #683
No, I only see google analytics being blocked...

https://www.dropbox.com/s/lv82thica83fsnp/Captura%20de%20pantalla%202021-03-24%20a%20las%2014.28.53.png?raw=1

[2021-03-24 13:36] jaimeiniesta commented on #683
Bitdefender it's definitely making it not work, see this screenshot where I open another incognito window in the back and try to talk to myself, the message notification reaches the admin conversations but the text "hola" is not shown, just "...". And, "my reply" does not reach the other side either.

https://www.dropbox.com/s/8b9zud828y83l8k/Captura%20de%20pantalla%202021-03-24%20a%20las%2014.32.

[2021-03-24 19:38] rhonsby commented on #591
Dibs

[2021-03-25 01:56] reichert621 commented on #637
@wmnnd here are some quick thoughts, hopefully this is a bit more concrete! (I'll try to keep adding more details, but feel free to ask any questions or clarifications)

To start off we're just going to poll for new messages (every 5-10 mins?) rather than rely on a "push" notification from a webhook or something like that. This feature will only be used by <10 beta users to start, so let's not wor

[2021-03-25 05:08] Bhargav252000 commented on #630
Hey!
I want to work on this issue.

[2021-03-25 11:03] reichert621 commented on #630
sure @Bhargav252000! the code will be in this repo: https://github.com/papercups-io/chat-widget

[2021-03-25 15:03] #332 closed

[2021-03-25 15:03] #132 closed

[2021-03-25 21:31] reichert621 opened #688 "Proactively send messages to customers from the customer details page"
**Problem**
Users want to be able to proactively send messages to their customers.

Now that we have a customer details page, let's add this feature there!

**Solution**
Add a modal (or some UI) that enables sending a message to a customer that hasn't started a conversation yet.

**Additional context**
At the moment this feature only exists within the Live Session viewer (with our Storytime featur

[2021-03-26 00:15] johncadengo commented on #673
@cheeseblubber Thanks for the update. Just checking in on this. Are you all still supporting docker? (You mentioned moving away from Docker in the other issue: https://github.com/papercups-io/papercups/issues/672) It would be great if I could run this command in my docker container, so I'm looking forward to the update from you.

[2021-03-26 02:32] fmterrorf commented on #675
Just giving an update on this one. I've push out my changes here https://github.com/papercups-io/papercups/compare/twilio-integration-v1...fmterrorf:twilio-webhook. Currently making unit tests for it

[2021-03-26 03:56] a8t commented on #676
Can you define 'valid phone number'? is that something Twilio defines?

[2021-03-26 05:08] a8t commented on #676
nts - https://support.twilio.com/hc/en-us/articles/223183668-Can-I-Test-Twilio-s-REST-API-Within-my-Application-Without-Actually-Making-the-Request-

[2021-03-26 14:11] remyleone opened #691 "Having papercups available as an helm chart"
**Problem**

I would like to install on a kubernetes cluster a running and production ready setup of papercups

**Solution**

I would like to see on your organization a repository such as:

github.com/papercups-io/helm-charts

That contains all the required charts to deploy papercups on a standard Kubernetes
https://helm.sh/docs/topics/charts/

**Describe alternatives you've considered**

- Having

[2021-03-26 14:43] cheeseblubber commented on #691
We have helm charts working https://github.com/papercups-io/charts we just need to get it documented. Let me know if you have any issue or feedback for the helm chart.

[2021-03-26 14:48] remyleone commented on #691
Sorry, I was looking for helm charts :) I've missed it. Will take a look and let you know if I encounter an issue.

[2021-03-26 14:48] #691 closed

[2021-03-26 15:18] taewookim commented on #688
might be better to just use setTimeout() and pop a chat ANYWAY  with a pre-written message in case of user idling, so that it engages the user

(FYI: im the one who requested this feature on slack chat with Alex)

[2021-03-26 20:38] reichert621 opened #692 "Self-hosted users should automatically be granted all premium features"
Right now they have to run a script manually to do this. Remove this requirement.

[2021-03-27 14:40] #181 closed

[2021-03-27 14:41] cheeseblubber commented on #435
Closing for the time being since analytics and tracking can be a rabbit hole

[2021-03-27 14:41] #435 closed

[2021-03-27 14:41] cheeseblubber commented on #424
Finished

[2021-03-27 14:41] #424 closed

[2021-03-27 14:42] #586 closed

[2021-03-27 14:46] #476 closed

[2021-03-27 14:51] cheeseblubber commented on #446
Sounds like it isn't an issue closing now

[2021-03-27 14:51] #446 closed

[2021-03-28 19:48] #278 closed

[2021-03-28 19:49] cheeseblubber commented on #202
Closing this issue. Using browser information is good enough

[2021-03-28 19:49] #202 closed

[2021-03-28 19:49] cheeseblubber commented on #195
@reichert621 is this still an issue?

[2021-03-28 19:50] cheeseblubber commented on #168
Closing since this is merged in

[2021-03-28 19:50] #168 closed

[2021-03-28 19:54] cheeseblubber commented on #262
Closing this since we don't have enough bandwidth to do this atm

[2021-03-28 19:54] #262 closed

[2021-03-28 19:55] cheeseblubber commented on #143
This has been merged in on the dashboard side

[2021-03-28 19:55] #143 closed

[2021-03-28 19:56] cheeseblubber commented on #673
We're going to enable it by default https://github.com/papercups-io/papercups/issues/692. This would fix your issue right? @johncadengo

[2021-03-28 19:57] #505 closed

[2021-03-28 20:02] #624 closed

[2021-03-28 20:03] #616 closed

[2021-03-28 20:05] cheeseblubber commented on #627
Don't really understand this ticket. Closing for now. Feel free to reopen if this is still something you are interested in.

[2021-03-28 20:05] #627 closed

[2021-03-28 20:07] cheeseblubber commented on #436
Duplicate of https://github.com/papercups-io/papercups/issues/688

[2021-03-28 20:07] #436 closed

[2021-03-28 20:10] #416 closed

[2021-03-28 23:26] johncadengo commented on #673
@cheeseblubber yes https://github.com/papercups-io/papercups/issues/692 would fix my issue. I don't see a need to run mix within a docker container beyond this command. Thanks.

[2021-03-29 00:28] a8t commented on #677
- make an account
- add account sid and auth token to papercups
- set up webhook

is there anything else?

[2021-03-29 15:11] reichert621 commented on #195
nope we can close 👍

[2021-03-29 15:11] #195 closed

[2021-03-29 15:31] reichert621 commented on #677
@a8t nope that's about it, just need to include screenshots and links etc to guide through the flow

[2021-03-30 14:30] cheeseblubber commented on #571
Closing this since its been merged in. Feel free to reopened if its not completed yet

[2021-03-30 14:30] #571 closed

[2021-04-01 15:49] cheeseblubber opened #699 "Support file uploads with Mattermost integration"
Right now messages from file uploads doesn't show up in Mattermost

[2021-04-01 18:33] #692 closed

[2021-04-02 17:01] reichert621 commented on #683
@jaimeiniesta just curious, are you still having this issue? (the dashboard should no longer have any cookies, i wonder if that fixes your issue 🤔 )

[2021-04-02 22:08] reichert621 opened #704 "View response/resolution metrics by date range"
**Problem**
Right now we only show the weekly metrics, but it would be great to show stats for longer period of time (e.g. YTD)

**Testing**
Write some automated tests please!

**Questions, or need help getting started?**
Feel free to ask below, or [ping us on Slack](https://join.slack.com/t/papercups-io/shared_invite/zt-h0c3fxmd-hZi1Zp8~D61S6GD16aMqmg) :)

(You can also check out our [CONTRIBUTIN

[2021-04-02 22:15] reichert621 opened #705 "Reopen conversation when new reply comes in via Gmail integration"
**Describe the bug**
Reopen conversation when new reply comes in via Gmail integration.

Right now the conversation stays closed.

[2021-04-02 22:30] a8t commented on #704
I'm interested in digging into the metrics side of the system! Would need to dig around but don't mind doing that.

[2021-04-04 19:10] matthewhall-ca opened #706 "Support for specifying the customer on the /api/v1/messages endpoint"
**Problem**
Wanting to create messages that come from customers programmatically inside an existing Conversation with the REST API

**Solution**
Add support to the /api/v1/messages endpoint to provide a customerId

**Describe alternatives you've considered**
Implementing the existing websockets system from the widget

**Additional context**
We make a Slack bot called https://chatfox.app/ — We’re u

[2021-04-05 12:54] reichert621 commented on #706
makes sense! thanks for flagging this @matthewhall-ca, we'll update it this week :+1:

[2021-04-05 12:56] reichert621 commented on #704
sure @a8t! let me know if you need any guidance :)

[2021-04-05 15:13] #675 closed

[2021-04-05 15:13] #674 closed

[2021-04-05 15:14] #676 closed

[2021-04-05 18:15] cheeseblubber commented on #683
Closing this feel free to reopen if this is still an issue

[2021-04-05 18:15] #683 closed

[2021-04-05 18:48] #473 closed

[2021-04-05 18:53] reichert621 opened #707 "Make it possible to disconnect from Gmail integration"
**Problem**
Right now users can only connect/reconnect to Gmail. Let's add a way for users to disconnect from the integration if they want to.

<img width="1136" alt="Screen Shot 2021-04-05 at 2 51 01 PM" src="https://user-images.githubusercontent.com/5264279/113612911-70c3d680-961e-11eb-9d3f-1c8714204ba6.png">

**Solution**
This will involve a few small tasks on both the frontend and backend:
- S

[2021-04-05 19:05] reichert621 opened #708 "Use server-side pagination for the customer overview page"
**Problem**
As we've gotten more and more customers in our DB, the customer overview page has gotten slower since we don't paginate the results on the server.

We already have the backend logic to be able to use pagination, but we still need to update the `GET /api/customers` endpoint to actually use it.

**Solution**
- Update the `CustomerController#index` route at `GET /api/customers` to accept

[2021-04-05 19:12] reichert621 opened #709 "Set up simple form UI for creating a new customer/contact"
**Problem**
At the moment, customers are only created when they initialize a conversation (e.g. from chat, email, slack etc)

We want to be able to create customers from scratch, so we can do things like add notes, tags, proactively send them messages, etc.

**Solution**
Set up a simple form UI that creates a new customer from the following fields:
- email
- name (optional)
- phone (optional)
- ex

[2021-04-05 19:46] #591 closed

[2021-04-05 20:38] fmterrorf commented on #708
Hi @reichert621 👋 I'm interested on working on this one

[2021-04-05 21:01] reichert621 commented on #708
sounds good @fmterrorf! assigning you 😄

[2021-04-05 21:05] rhonsby opened #711 "Navigating from customer details page to a conversation requires two back navigations to go back to the customer details page"
**Describe the bug**
When I click on a conversation on the customer details page and navigate to the conversation page, in order to navigate back to the customer details page, I have to tap on the back navigation twice.

I haven't looked deeply into what's going on, but there's something going on where the history is getting pushed twice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2021-04-05 23:49] a8t commented on #704
OK, I poked around and I know where to look now. Got any design inspiration for this?

[2021-04-06 04:02] a8t commented on #707
Thought I'd try this one out. I'm having trouble getting the connection step working locally. I have the Google API key and all that, I'm able to select my email and everything, but it never says Connected. It seems like Google would want to call an endpoint on my localhost to let it know that I authorized? How do I set that up?

[2021-04-06 04:06] reichert621 commented on #707
ah yeah @a8t the google auth setup is a little annoying... you'd probably need to set up your own project and redirect url, did you do that already?

[2021-04-06 04:06] reichert621 commented on #707
the easiest way to handle this in the meantime might just be to create a dummy record in the database with fake api keys etc

[2021-04-06 04:13] a8t opened #712 "Unauthorized users can delete integrations"
**Describe the bug**
Any authenticated user can delete any user's Slack, Gmail, Mattermost, and Twilio integration if they have the right ID.

[code]

Return of the `Bodyguard`...?

[2021-04-06 04:15] a8t commented on #707
Yeah I set up my own project. I don't think I understand what the redirect url is for, gonna have to read up some docs... I'm guessing I will have to ngrok my local server?

[2021-04-06 05:40] a8t commented on #707
gottem
<img width="915" alt="image" src="https://user-images.githubusercontent.com/7440689/113663951-e9f01780-9678-11eb-8d42-500b6151ab74.png">

had to jump back and forth through the front end code a bit to figure it out. would be good to have some docs for this. for posterity, `redirect_uri = http://localhost:3000/integrations/google` worked

[2021-04-06 13:25] #707 closed

[2021-04-06 14:39] #705 closed

[2021-04-06 18:29] jaimeiniesta commented on #683
Hey thanks - I just tried and it seems to work fine with Bitdefender enabled! And no cookies were catched! 🚀

[2021-04-06 19:45] reichert621 opened #719 "Fix socket disconnections in dashboard"
**Describe the bug**
If the dashboard sits idle for too long, the socket disconnects and prevents messages from being sent/received until the page is refreshed.

**Expected behavior**
We should either automatically reconnect if we can, or at the very least display some notification instructing the user to refresh the page if the socket is disconnected.

[2021-04-06 22:11] reichert621 opened #720 "Deprecate customer `last_seen` field"
**Problem**
This field is no longer helpful, now that we have `last_seen_at` as a datetime (rather than `last_seen` which is just a date)

**Solution**
- Find where this field is used in the code and get rid of it or replace it with `last_seen_at` where possible
- Write the db migration to remove the field

**Additional context**
This is currently a required field on the `customers` table, but I'm

[2021-04-06 22:11] reichert621 commented on #720
(cc @rhonsby)

[2021-04-06 22:40] fmterrorf commented on #708
I noticed that this search box uses a code from the client https://github.com/papercups-io/papercups/blob/master/assets/src/components/customers/CustomersPage.tsx#L13 to do a text search
![sreenshot](https://user-images.githubusercontent.com/77761194/113786437-5d843a00-96f6-11eb-8b50-831369c690ba.png)

If we start paginating the customers page, we wont have all the customers in the initial request

[2021-04-07 04:37] rahulpat opened #721 "Webhook status unchanged after verification"
**Describe the bug**
Unverified label is unchanged when a webhook endpoint is verified.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.papercups.io/integrations
2. Paste webhooks url in text input
3. Text shows verified! But label remains unchanged.

**Expected behavior**
Label should change to verified.

**Screenshots**

![pap1](https://user-images.githubusercontent.com/8

[2021-04-07 12:01] reichert621 commented on #708
ah good call-out! @fmterrorf for the sake of this ticket, feel free to just hide the search from the UI. we can update it to do the search on the server after this is done :+1: (or just in a separate ticket)

[2021-04-07 12:13] reichert621 commented on #721
hey @rahulpat! i just tried it out with your webhook url and it seemed to work, just curious if you changed anything since filing this ticket?

did you try removing the event subscription and adding it back again?

[2021-04-07 12:46] reichert621 commented on #721
ah it seems like the "update" is not working 🤔 but i think if you try removing it and then adding it again, it should work now?

thanks for reporting this!

[2021-04-07 12:50] rahulpat commented on #721
Seems to have worked now!

[2021-04-07 12:51] reichert621 commented on #721
great! i think i understand the issue :+1: thanks again, we'll put out a fix soon!

[2021-04-07 16:21] a8t commented on #719
Is this an expected behaviour of Phoenix channels...?

[2021-04-07 17:36] #688 closed

[2021-04-07 17:36] #709 closed

[2021-04-07 18:27] #721 closed

[2021-04-07 20:25] #706 closed

[2021-04-07 20:57] reichert621 commented on #706
hey @matthewhall-ca — we're deploying the update for this right now :+1: let us know if you have any issues with it!

[2021-04-07 21:50] matthewhall-ca commented on #706
@reichert621 Working PERFECT! 🎉

[2021-04-07 21:56] matthewhall-ca opened #724 "Webhooks not moving past "Unverified" status"
**Describe the bug**
We've added 2 new Webhooks but neither are moving past the "Unverified" status to be "Verified" or an "Error" state

**To Reproduce**
Steps to reproduce the behavior:
1. Add webhook
2. Stays at Unverified

**Expected behavior**
Moves to Verified

[2021-04-07 23:27] reichert621 commented on #724
sorry about that @matthewhall-ca! i think i might know the issue...

in the meantime, can you try responding with json in the form of `{"challenge": payload}`, rather than just the `payload` itself? i'm curious if that will work

[2021-04-07 23:35] matthewhall-ca commented on #724
Success! JSON fixed it rather than just a string

[2021-04-08 21:30] reichert621 opened #727 "If a message gets sent to a closed conversation, it should reopen it"
**Describe the bug**
If a message gets sent to a closed conversation, it should reopen the conversation so the message doesn't get missed.

[2021-04-09 03:32] fmterrorf commented on #708
Just giving an update for this one :wave: I was able to get it working the `/customers` page. I'm currently getting it to work in the `CompanyDetailsPage` and `TagDetailsPage` since the Customer Table is being used there. Probably going to put it up for PR tomorrow

[2021-04-13 18:05] utsav0209 commented on #720
Hey @reichert621, I am planning to work on this if no one else is already working on this.

[2021-04-13 19:50] reichert621 commented on #720
sure @utsav0209! thanks for putting up the PR :) assigning you to this ticket now :+1:

[2021-04-15 14:24] cheeseblubber opened #737 "Add docs for Twillio integration instructions"
https://github.com/papercups-io/docs

[2021-04-15 14:26] reichert621 commented on #737
duplicate of https://github.com/papercups-io/papercups/issues/677

[2021-04-15 14:26] #737 closed

[2021-04-15 14:58] cheeseblubber opened #738 "Papercups is double sending messages"
Not sure the best way to reproduce but when sending a message from Slack sometimes it will show up as a double message on the dashboard and to the chatwidget side

<img width="840" alt="Screen Shot 2021-04-15 at 10 48 42 AM" src="https://user-images.githubusercontent.com/4218509/114890639-30f8ae00-9dd9-11eb-8dc7-39ea8ba3cf13.png">
<img width="437" alt="Screen Shot 2021-04-15 at 10 48 37 AM" src="h

[2021-04-15 15:03] reichert621 commented on #738
(quick note -- first guess is that slack is doing an automatic retry after N milliseconds... first thing to try would be adding a `sleep` to the webhook handler to see if that reproduces the issue)

[2021-04-15 16:47] cheeseblubber opened #739 "When I m creating a new customer I want to create notes and tags as well"
1. In customer https://app.papercups.io/customers page
2. When you click on the + New Customer you should be able to create tags and notes inside the modal

[2021-04-15 19:54] a8t commented on #738
Is it persisted? If you refresh does it just go away?

[2021-04-15 19:57] a8t commented on #677
@reichert621 I see that it's assigned to you, but I could do this if you don't have time.

[2021-04-15 20:04] reichert621 commented on #738
@a8t yeah it's persisted -- i was able to repro with the step i mentioned above (slack does an auto-retry after 3s, so if things are slow for some reason this will happen)

i'm working on a fix at the moment!

[2021-04-15 20:05] reichert621 commented on #677
sure that would be super helpful @a8t!

[2021-04-15 21:31] reichert621 opened #741 "Show that agents are online if they are active in Slack"
**Problem**
A lot of users prefer to reply directly from Slack, instead of the Papercups dashboard.

They want the "agent availability indicator" to show if they're online in Slack. At the moment it only shows as "online" when in the dashboard.

**Solution**
Figure out how to use the Slack API/events to indicate online presence.

**Testing**
This will probably require a bunch of manual testing sin

[2021-04-15 22:55] LeviLong01 commented on #407
Is this still open?

Was poking around at this and saw a place where it could be done at.
When a user registers the "enqueue_welcome_email" function is called in the "create" function on the "registration_controller" to use the "SendWelcomeEmail" worker.

Could the process be done in that so when a welcome email is sent it also asks for email verification?

[2021-04-16 01:29] LeviLong01 commented on #741
@reichert621 I'm open to take this one on:

What I've gathered so far:

- Slack has [API Events](https://api.slack.com/events) that could push to Papercups
- The Slack [presence_change](https://api.slack.com/events/presence_change) event signifies the status change of a user as "away" vs "active"
- Slack sends the Slack user ID in the JSON in the "user" key, if it's multiple online in a given time

[2021-04-16 05:10] a8t commented on #741
@LeviLong01 regarding your second-last point - have you taken a look at `lib/chat_api/slack/event.ex`?

[2021-04-16 12:44] a8t commented on #26
### Twilio integration docs

# Create a Twilio account
<img width="936" alt="image" src="https://user-images.githubusercontent.com/7440689/115025949-edad4680-9e8f-11eb-8794-a0fdbe0b7ccb.png">

[2021-04-16 13:08] #727 closed

[2021-04-16 15:22] LeviLong01 commented on #741
I did not see that! Thanks will take a look at that

[2021-04-16 15:32] reichert621 commented on #741
@LeviLong01 we also have a `slack_user_id` on the `user_profiles` table, but at the moment there's no way to set it in the UI (i currently just use this script to sync it by matching email addresses: https://github.com/papercups-io/papercups/blob/master/lib/mix/tasks/set_missing_slack_user_ids.ex)

(at the moment we do an email lookup every time we want to match, but eventually it would be nice to

[2021-04-16 20:44] LeviLong01 commented on #741
@reichert621 thanks I see that now on the user_profiles table. Are you wanting to give the ability for someone to set the Slack ID in the UI?

[2021-04-17 01:26] a8t commented on #677
https://github.com/papercups-io/docs/pull/6 @reichert621 please take a look!

[2021-04-17 19:50] LeviLong01 commented on #741
- So far added a migration that adds an attribute called `slack_active` with a Boolean type to the 'user_profiles' table
- Did setup a 'Slack user ID: ' section in the 'My Profile' page in case a user did happen to want to manually add it. Would only want to display that field if the Integrations page shows they are connected to Slack, but am figuring out which table would indicate that a user is

[2021-04-18 16:14] fmterrorf commented on #708
This can be closed now :heart:

[2021-04-18 20:55] #708 closed

[2021-04-19 14:25] reichert621 opened #745 "[Backend] Github integration v1"
**Problem**
We want to be able to quickly create/sync Github issues from Papercups whenever a feature request or bug report comes in.

Then, when a ticket is closed in Github, we will know to notify the user who reported it.

**Solution**
The first step is setting up the backend logic for this:
- Setting up an OAuth flow with Github so we can use their API on behalf of our users
- Setting up a web

[2021-04-19 17:12] reichert621 opened #746 "A user should be able to archive a conversation without closing it first"
**Problem**
Right now conversations can only be deleted/archived after they've been closed. In some cases, people may want to delete them right away (e.g. for spam).

**Solution**
Add the "archive" button action for open conversations as well as closed.

Let's also switch from hard deleting to archiving (soft deleting), since archived conversations get hard deleted after a certain time window anyw

[2021-04-19 17:14] reichert621 opened #747 "Update conversation `last_activity_at` when opened/closed"
**Problem**
If a conversation is closed or reopened, we should update the `last_activity_at` field so that the conversations are sorted properly in the dashboard.

**Testing**
Please write automated tests and test manually.

**Questions, or need help getting started?**
Feel free to ask below, or [ping us on Slack](https://join.slack.com/t/papercups-io/shared_invite/zt-h0c3fxmd-hZi1Zp8~D61S6GD16aMq

[2021-04-19 17:29] cheeseblubber opened #748 "Support SMTP instead of Mailgun for email notifications and transactional emails"
When self hosting some users don't want to use Mailgun and are self hosting their own email service.

[2021-04-19 18:31] reichert621 opened #749 "Set up `Issues` model"
**Problem**
We're prototyping a feature that allows our users to track issues (e.g. feedback, feature requests, bug reports) in Papercups. This will enable our users to integrate more nicely with tools like Github, Jira, Linear, etc. and have a better sense of when to follow up with their customers when issues are resolved.

**Solution**
To start, let's set up an `issues` table with the following

[2021-04-19 19:06] cheeseblubber opened #750 "Make customer notes section on customer page bigger."
It would also be nice if the notes on the customer details page...
- displayed the author/creator of the note somewhere
- displayed the timestamp of the note (when it was last updated?) somewhere
- allowed for line breaks (instead of auto-saving on "enter")
- (optional) support markdown? (see example of `ReactMarkdown` used here: https://github.com/papercups-io/papercups/blob/master/assets/src/com

[2021-04-19 19:38] cheeseblubber opened #752 "As a Product Manager I want to be able to forward an email thread to Papercups"
As a Product Manager often times I have conversations with users over email and I want to be able to send it to Papercups and it gets saved to a customer.

It should recognize that the forwarder's email and the customer's email and create a conversation between the forwarder and customer's email.

Happy path Example:

from: elon@spacex.com
to: pm@papercups.io

Can you integrate Papercups in to our

[2021-04-19 19:39] cheeseblubber opened #753 "Disable auto sync for Shared Slack channel integration"

[2021-04-19 20:42] cheeseblubber opened #754 "Send email from company email from Papercups"
Problem:
As a PM I want to follow up with a customer for a feedback request once the bug/feature is finished

Solution:
Let users connect their email and allow them to send emails. The first iteration of this is to integrate with gmail since it will be the quickest and cover the most usage. Later on we can integrate with smtp and other services

When a feature is finished you can email customer di

[2021-04-19 20:50] a8t commented on #747
What do you think about putting this inside `ChatApi.Conversations.Conversation.put_closed_at/1` ? Might have to rename it but I think it would wrap this nicely. If that sounds good, I can do this.

[2021-04-19 21:15] LeviLong01 commented on #741
Ah I like that @reichert621 was curious myself if that was the right thing to do but didn't know an alternate way

I'll poke around in this, thank you!

[2021-04-20 12:42] sladyn98 commented on #407
@LeviLong01 Thanks for your interest, I guess @cheeseblubber would be able to help you here

[2021-04-20 13:34] reichert621 commented on #747
@a8t yes that should work! basically just update the `last_activity_at` field to the current timestamp 👍 and please include some unit tests 😄

[2021-04-20 13:35] reichert621 commented on #747
(i'll assign this one to you for now, otherwise i'll probably pick it up in a couple days because i'd like to get it done by end of week)

[2021-04-20 15:03] reichert621 opened #756 "Attachments sent via Gmail API should carry over to Papercups"
**Problem**
If a user connects to our Gmail integration, they are not currently able to see attachments from emails sent to that address.

**Solution**
Support file attachments in Gmail integration.

**Testing**
Will require manual testing.

**Questions, or need help getting started?**
Feel free to ask below, or [ping us on Slack](https://join.slack.com/t/papercups-io/shared_invite/zt-h0c3fxmd-hZi

[2021-04-20 17:32] rhonsby opened #758 "Markdown rendering in chat messages don't properly render h1 tags"
**Describe the bug**
Conversations on the conversation page render messages with markdown, but it doesn't seem to be rendering h1 tags properly. h1 tags are smaller than h2 and h3s. I didn't look too deeply into it, but there seems to be some complex css rules that might be causing this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/conversations/all` and click on a conversation.
2

[2021-04-20 17:45] #750 closed

[2021-04-20 18:23] rhonsby opened #760 "Introduce a concept of inboxes"
**Problem**
As we add support for multiple channels like SMS, support emails, shared Slack channels, live chats, etc., we need a way to make it easier for users to view conversations based on the channels to better manage them.

For example, live chats are a bit more time sensitive than channels like SMS, emails, etc. By separating the inboxes and making it easy to see which ones have unread messa

[2021-04-20 18:35] rhonsby opened #761 "Relative dates should display absolute dates after X days"
**Problem**
Relative dates for things like notes and messages are great until you start seeing things like "17 days ago" and have to do some mental math. After a certain point, we should just display an absolute date.

**Solution**
After X days, a relative date should convert to an absolute date. For example, "14 days ago" should convert to "April 4th, 2021".

**Describe alternatives you've consid

[2021-04-20 18:59] #738 closed

[2021-04-20 20:25] a8t commented on #747
gotcha, halfway done

[2021-04-20 21:00] reichert621 commented on #760
@rhonsby this seems great! i'm assuming that once conversations are closed from these new inboxes, they just go to the "Closed" section of the primary inbox?

seems like a good first step :+1: eventually we'll need a concept of an `inbox` model but for now having these "filters by channel" will be helpful for us

[2021-04-21 16:34] rhonsby commented on #760
@reichert621

Yeah, that's basically what would happen since the "inboxes" right now are really just filters on the source.

Can you expand on this? How do you imagine inboxes to work in the future?

[2021-04-21 17:29] reichert621 commented on #760
one easy example that a few people have asked for is having an "inbox" for their landing page and then a separate "inbox" for their dashboard -- e.g. they would pass in an inbox ID/name into their chat config and that would ensure that conversations from that chat widget are passed to the correct inbox (or have some inbox logic that says "if customer messages from this URL, send to inbox B; otherw

[2021-04-21 20:17] cheeseblubber opened #765 "Improve + New customer modal on https://app.papercups.io/customers page"
**Problem**
Right now when creating a customer to add notes or tags you have to create and then click into the individual customer. That is a lot of clicks.

**Solution**
We should be able to add notes and tags in side of "Create new customer" modal

[2021-04-22 00:33] fullpwemium commented on #151
Unable to get this to work anymore....  self-hosting and with the env variable enabled I see the following:

"23:51:37.416 info Skipped sending Gmail notification: nil"

[2021-04-22 00:48] fullpwemium opened #767 "ConversationReply enabled by CONVERSATION_REPLY_EMAILS_ENABLED isn't working"
**Describe the bug**
Using Gmail integration which is confirmed working (receiving email at address adds it to conversations, replying via papercups sends an email). However, when someone sends a message via chat and goes offline (with a valid email), a reply via papercups does not send an email notifying them after any amount of time.

CONVERSATION_REPLY_EMAILS_ENABLED: 1 in docker-compose.

**To

[2021-04-22 01:04] fullpwemium commented on #767
Looking around in https://github.com/papercups-io/papercups/blob/2faa71c8f6f04c3514c10df009709264eb47cc78/lib/workers/send_conversation_reply_email.ex - does it not support using the gmail integration? Could it use Amazon SES or some other SMTP?

System.get_env("DOMAIN") == "mail.heypapercups.io"  <-- not sure if this is being forced either

[2021-04-22 10:12] jaimeiniesta commented on #683
For the record, this happened again. I was unable to reply to conversations from the admin backend until I disabled Bitdefender Antitracker. I finally uninstalled that Chrome Extension :(

[2021-04-22 13:59] jaimeiniesta commented on #683
This may have not been caused by Bitdefender anyway - it looks like the web client loses the websockets connection under some circumstances and is not being able to reconnect. As there are no visible warning sign on the page (like a LOST CONNECTION message, or a reload), you may think you're connected but you're not, and your messages are not sent. :(

[2021-04-22 14:18] reichert621 commented on #683
thanks for letting us know @jaimeiniesta! we may just need to add a notification to refresh the page as a temporary workaround while we figure out the best way to reestablish websocket connections after they're lost 🤔

[2021-04-22 15:52] cheeseblubber opened #769 "Support SMTP for transactional emails"
**Problem**
Currently for self hosting some users don't want to use mailgun or a third party service for sending transactional emails.

**Solution**
We should support SMTP as an integration so the self hosted users can provide their own service. The scope of this feature is purely for sending emails and not receiving.

We should also set the email hosted service based on the environment variable t

[2021-04-22 15:53] cheeseblubber commented on #767
Creating https://github.com/papercups-io/papercups/issues/769

[2021-04-22 18:06] fullpwemium commented on #769
Thank you @cheeseblubber

I would have a go at this myself but my first exposure to Elixir is Papercups.io!

Amazon SES is my desired service for this

[2021-04-22 19:11] cheeseblubber commented on #769
Ok sounds good most likely bamboo seems like the way to go since it would mean supporting SES with minimal work as well.

[2021-04-22 20:17] #747 closed

[2021-04-22 20:30] cheeseblubber opened #770 "Keyboard shortcuts modal on dashboard page"
Problem:
We have keyboard shortcuts that no one knows about

Solution:
Add a question mark button on top right of sending dashboard to pop a modal with keyboard shortcuts
<img width="826" alt="Screen Shot 2021-04-22 at 4 09 56 PM" src="https://user-images.githubusercontent.com/4218509/115778879-45aee600-a385-11eb-9502-727578e2ab3b.png">

At the moment we support
`⌘ Enter` - Send a message
`⌘ d` -

[2021-04-22 20:51] #745 closed

[2021-04-22 20:57] #746 closed

[2021-04-22 21:42] reichert621 opened #772 "Update new message alert email subject line to be more descriptive"
**Problem**
Right now when we send out email alerts for new messages, the subject line is always `"A customer has sent you a message"`

This makes it hard to distinguish between emails from different customers.

**Solution**
Update the subject line to say something like `Test User (foo@bar.com) has sent you a new message` (or if the user is anonymous: `New message in conversation 1a2xxxb3c`)

**Ad

[2021-04-22 23:34] cheeseblubber opened #774 "Dashboard websocket disconnects and doesn't load new messages after a long period"
**Describe the bug**
Dashboard doesn't load new messages after a certain amount of time. If you send a message in to the account it doesn't load until you refresh

In the JS console it loads websocket errors
<img width="537" alt="Screen Shot 2021-04-22 at 7 25 04 PM" src="https://user-images.githubusercontent.com/4218509/115797078-0a221500-a3a1-11eb-9357-d2dd17d71755.png">

**To Reproduce**
Steps

[2021-04-23 14:30] #749 closed

[2021-04-23 14:31] reichert621 commented on #765
duplicate of https://github.com/papercups-io/papercups/issues/739

[2021-04-23 14:31] #765 closed

[2021-04-23 14:38] #677 closed

[2021-04-23 14:38] #678 closed

[2021-04-23 17:51] #772 closed

[2021-04-23 18:29] cheeseblubber opened #775 "Integrate with Segment"
**Problem**
A customer support staff/product manager wants context when helping a customer they want to see context from other systems like product analytics.

**Solution**
Integrate with segment and show customer information in side bar

[2021-04-23 18:44] cheeseblubber opened #776 "Change color of notes to be white on https://app.papercups.io/customers/ page"
It's really yellow for big notes. We should just keep it white background.

[2021-04-23 19:06] cheeseblubber opened #777 "Complete feedback flow"
This is a placeholder issue that should be closed once we are ready to demo the feedback flow

[2021-04-23 19:12] cheeseblubber opened #778 "Support command enter short cut for writing notes in /customers/ page"

[2021-04-23 20:39] reichert621 opened #780 "Some queries on the customer details page are weirdly slow"

[2021-04-23 20:48] reichert621 opened #781 "Create list view of notes"
**Problem**
It's hard to see all customer notes together, they're currently hidden within each customer details page

[2021-04-26 13:27] cheeseblubber opened #782 "When setting up Slack integrations Slack won't sync existing conversations"
**Describe the bug**
Slack integrations doesn't sync existing conversations that gets started. This makes it confusing for our users. It should sync existing conversations.

[2021-04-26 16:36] reichert621 opened #785 "Make it possible to edit/delete issues"
**Problem**
Right now issues can only be created and linked to customer. Need to make it possible to edit/delete.

**Questions, or need help getting started?**
Feel free to ask below, or [ping us on Slack](https://join.slack.com/t/papercups-io/shared_invite/zt-h0c3fxmd-hZi1Zp8~D61S6GD16aMqmg) :)

(You can also check out our [CONTRIBUTING.md](https://github.com/papercups-io/papercups/blob/master/CO

[2021-04-26 16:44] #441 closed

[2021-04-26 16:52] cheeseblubber commented on #407
@LeviLong01 I would keep it separate right now. I m not sure if that function is active at the moment but you can follow a similar pattern to the welcome email

[2021-04-26 17:00] cheeseblubber opened #786 "I want to be able to find and filter customers based on customer metadata in the /customers page"
**Problem**
I want to find customers who are active and ask for feedback.

**Solution**
I want to filter customers by attributes that you pass in through client side or api and be able to search for the customers.

Example:
{
"plan": "starter",
"last active": 04/26/2021
}

On the /customers page I should be able to filter all `plan` that are starter and `last active` date that is within the last 1

[2021-04-26 18:06] reichert621 commented on #786
Figured out we can do this by doing something like this :)
[code]

(For reference: https://thoughtbot.com/blog/querying-embedded-maps-in-postgresql-with-ecto)

[2021-04-27 16:41] fullpwemium commented on #769
@cheeseblubber that sounds great! Is there any ETA on things like this or could it be months from now?

[2021-04-27 19:33] rhonsby commented on #761
@cheeseblubber @reichert621 thoughts on how this should behave?

I'm more inclined to only have relative dates when it's less than a day (or a few at most). Otherwise, we should just use absolute dates.

[2021-04-27 20:39] reichert621 commented on #761
hmmmm i would say anything more than a week should be absolute -- i prefer relative dates when it's just e.g. 2-3 days ago

so maybe for now let's just say the cutoff is 7 days?

[2021-04-27 20:48] cheeseblubber opened #793 "I want to link a github issue in sidebar"
**Problem**
I want to easily be able to associate the conversation/customer with a github issue

**Solution**
When someone sends a message we should give them the ability to link the github issue in the side bar either with a modal or within the sidebar itself

[2021-04-28 14:14] DejiAwoniyi opened #795 "Error when trying to run <ChatWidget/> on React Native Expo"
**Describe the bug**
Trying to add papercups chatwidget  causes an error and a blank screen.

Belos is my code :

`import React from 'react';
import {ChatWidget, ChatWindow, Papercups} from '@papercups-io/chat-widget';
import {StyleSheet, Button, View, Modal, Text} from 'react-native';

const ChatScreen = ({ navigation }) => {

[code]

I have provided the picture of the error below:

![simulator_s

[2021-04-28 14:23] reichert621 commented on #795
hey @DejiAwoniyi! thanks for reporting this -- i just pushed a small change, can you see if it fixed anything on your end?

[2021-04-28 14:31] DejiAwoniyi commented on #795
Hey @reichert621 no changes here. I got the same error and a blank screen. Anything you want me to change on this end? I really like Papercups and would like to integrate it on my expo app

[2021-04-28 14:41] reichert621 commented on #795
@DejiAwoniyi no need to change anything on your end -- i was hoping it would be a quick fix, but i'll have to look into it a bit more deeply later. i might not have time today, but i'll keep you posted!

[2021-04-28 14:44] DejiAwoniyi commented on #795
@reichert621 Ok no problem. I'll keep a look out for it.

[2021-04-29 05:41] chops318 commented on #770
Added a PR for this issue [here](https://github.com/papercups-io/papercups/pull/797)

[2021-04-29 15:01] DejiAwoniyi commented on #795
@reichert621 hey just checking if there was any progress on this. I want to give feedback to the dev team. Sorry to bother. I'm a bit of a noob with RN and papercups

[2021-04-29 15:13] reichert621 commented on #795
Hey @DejiAwoniyi not yet! It's been a bit of a busy week, so might not get to this until week. I'll let you know when we're working on this!

[2021-04-29 16:59] taewookim commented on #688
How do you enable this feature? im using the hosted version of papercups

[2021-04-29 17:17] reichert621 commented on #688
@taewookim we'll be deploying some updates today :) but here's the general flow:
![proactive-chat-demo](https://user-images.githubusercontent.com/5264279/116591764-3a137000-a8ed-11eb-83c0-4efcb4e5d331.gif)

[2021-04-29 17:44] DejiAwoniyi commented on #795
Hi @a8t thanks a million for your wholistic explanation. I actually used the RN widget you provided there but I got the error below. Is it because I have react native WebView elsewhere? IS there a way I can have both? I use webview to pop up and show the terms and conditions of the app.
![Simulator Screen Shot - iPhone 12 mini - 2021-04-29 at 18 42 40](https://user-images.githubusercontent.com/833

[2021-04-29 17:50] reichert621 commented on #795
@DejiAwoniyi do any of the solutions in this thread help? https://github.com/react-native-webview/react-native-webview/issues/373

[2021-04-29 19:46] #793 closed

[2021-04-29 19:47] #785 closed

[2021-04-29 19:47] reichert621 commented on #778
thanks @rhonsby!

[2021-04-29 19:47] #778 closed

[2021-04-29 19:47] #781 closed

[2021-04-29 20:09] cheeseblubber opened #800 "Make it obvious that customer details is clickable in conversations page"
In the conversations page, in the side bar, the Customer details button is clickable but it isn't obvious
<img width="282" alt="Screen Shot 2021-04-29 at 4 09 00 PM" src="https://user-images.githubusercontent.com/4218509/116612187-3ab80080-a905-11eb-8c3d-d3ac782540cd.png">

[2021-04-29 22:54] DejiAwoniyi commented on #795
Hi @reichert621 none have worked but i did realise that when I tried to run `npm ls react-native-webview` under one of the solutions I got the following. I'm guessing that means two versions of RNCwebView are being registered somewhere:

[code]

[2021-04-30 13:04] a8t commented on #795
Can you share your package.json and package.lock?

[2021-04-30 13:53] DejiAwoniyi commented on #795
@a8t I have just updated my expo with `expo update` following the final instruction in that thread. After that, my package.json and package.lock are like this :

[code]

Package.lock :

[code]

The issue now is that the app doesn't even start:
![simulator_screenshot_E33A50BF-2E97-463C-8BEA-1B5CF4492B73](https://user-images.githubusercontent.com/83350689/116704792-b4162880-a9c3-11eb-88c1-b9b363a8e3

[2021-04-30 14:00] cheeseblubber opened #801 "On hover clickable links should turn have a visual indicator that its clickable"
In /customers page the email is clickable but visually it doesn't change when it hover over it it should turn blue like below
<img width="75" alt="Screen Shot 2021-04-30 at 9 59 45 AM" src="https://user-images.githubusercontent.com/4218509/116705696-cfb90900-a99a-11eb-823c-cd8d4c3de8d7.png">

<img width="1270" alt="Screen Shot 2021-04-30 at 9 54 53 AM" src="https://user-images.githubusercontent.co

[2021-04-30 19:13] robserva opened #803 "Provide secure way of identifying customer"
**Problem**
As a user, I can change the email address associated with my Papercups chat client-side. This would lead whoever is chatting with me to believe I'm someone else and if they aren't doing other forms of verification they might reveal some information about me.

**Solution**
I'd like to be able to do one of the following:
- start a papercups "session" server side, where I identify the use

[2021-04-30 19:19] cheeseblubber commented on #803
For reference https://developers.intercom.com/installing-intercom/docs/enable-identity-verification-on-your-web-product

[2021-04-30 19:38] cheeseblubber commented on #769
@fullpwemium it might take a bit if no one from the community wants to take a look at it let me post it this week in our Slack channel on Monday

[2021-04-30 19:52] reichert621 commented on #803
thanks for the write-up @robserva! been meaning to do something like this :+1:

[2021-04-30 21:29] fmterrorf commented on #758
I noticed the default Firefox stylesheet have this code `resource://gre-resources/html.css`
[code]
Which shrinks the `h1` element to 0.83em
![h1](https://user-images.githubusercontent.com/77761194/116756033-a6af6d00-a9c8-11eb-9d2d-1534d8e85fb0.png)

I guess we can force it to use `2em`

[2021-05-01 03:38] DejiAwoniyi commented on #795
Solved it! Thank God! Had to get the `react-native-web-view `version to at least `10.6.0 `

[2021-05-01 03:38] #795 closed

[2021-05-03 15:17] cheeseblubber opened #804 "Slack notification preview should show some information"
Right now the notification doesn't show any information we should allow it to show email + a snippet of the first few words of the message

<img width="332" alt="Screen Shot 2021-05-03 at 11 15 39 AM" src="https://user-images.githubusercontent.com/4218509/116895371-21fb6380-ac01-11eb-904c-1949bef40ebc.png">

[2021-05-04 15:14] cheeseblubber opened #805 "Sign up should land on getting started to minimize a click"

[2021-05-04 17:44] reichert621 opened #806 "Move "Team" management into separate tab"
**Problem**
Instead of having it in the account overview, it would be easier to find if this just existed in its own tab.

**Solution**
Move all of this into a tab called "My team":

<img width="1478" alt="Screen Shot 2021-05-04 at 1 42 31 PM" src="https://user-images.githubusercontent.com/5264279/117046571-d4edbf00-acde-11eb-9c5a-7205ce5d0d29.png">

**Testing**
Please include screenshots in the P

[2021-05-04 20:08] reichert621 opened #807 "Enable filtering customers by tag(s) in the customer list view"
**Problem**
We want to be able to view all customers that have certain tag(s) associated with them.

**Solution**
Add a filter input for tags here, probably between the search input and the "include anonymous" checkbox:

<img width="1100" alt="Screen Shot 2021-05-04 at 4 04 11 PM" src="https://user-images.githubusercontent.com/5264279/117063334-a8dc3900-acf2-11eb-9f76-1cfa599ac8d0.png">

We should

[2021-05-04 20:31] reichert621 opened #808 "Add support for conversation reminders/"nudges" after N hours"
**Problem**
Sometimes users want to be reminded about conversations they haven't followed up on in a few hours/days.

**Solution**
Let's add support for setting up "nudges" in conversations after a certain time period.

For the first version of this, the settings for this feature can live in the `/accounts/overview` page.

On the frontend, we'll need:
- A checkbox for enabling/disabling this featu

[2021-05-04 20:34] reichert621 commented on #804
This might be relevant: https://stackoverflow.com/questions/56317962/message-notifications-produce-this-content-cant-be-displayed

May need to just add a "text" field above this line: https://github.com/papercups-io/papercups/blob/master/lib/chat_api/slack/helpers.ex#L847

[2021-05-04 23:37] #804 closed

[2021-05-05 01:46] #786 closed

[2021-05-05 15:38] cheeseblubber opened #813 "Add dropdown to set a team member to set an admin or a member"
As an admin I want to make others an admin or change to a member.

Right now only admins can invite people

[2021-05-05 15:45] #806 closed

[2021-05-05 21:28] #760 closed

[2021-05-05 21:32] cheeseblubber opened #816 "Better phone number filtering for twillio and SMS in integrations page"
**Problem**
Right now if you enter a phone number without the area code or have the wrong formatting in phone number section it will fail silently and not work. We should make sure that there is a country code and that it can work regardless of the text formatting

<img width="534" alt="Screen Shot 2021-05-05 at 5 30 52 PM" src="https://user-images.githubusercontent.com/4218509/117211941-a697de80-

[2021-05-05 21:35] cheeseblubber commented on #816
@a8t you might have some context on this

[2021-05-05 21:59] a8t commented on #816
Twilio has a free phone number validator service that we already use for something else. Maybe we can also pair with a client-side validation. (is a phone number regex stupid?)

[2021-05-06 02:41] lucasavila00 commented on #803
That is a feature that would be really useful.

On top of that, it would be really interesting if an identified user could be reliably reached.

So if the user has sent a message or not I can send him one and it will send the message to their browsers.

[2021-05-06 14:12] cheeseblubber opened #820 "Remove the edit button in https://app.papercups.io/account/profile"
**Problem**
The UX is confusing you should be able to
<img width="604" alt="Screen Shot 2021-05-06 at 10 09 45 AM" src="https://user-images.githubusercontent.com/4218509/117312682-3b93e980-ae53-11eb-948a-a8fb197d15c0.png">

We've had users be confused about our UX and ask us about how to change their name see context @reichert621 @rhonsby
https://app.papercups.io/conversations/all?cid=d9649ce8-c27

[2021-05-06 19:32] cheeseblubber commented on #816
Yeah I think just some client side validation + string formatting would be ideal. It doesn't work if we add spaces in to the phone number

[2021-05-06 20:16] cheeseblubber opened #821 "See number of messages per customer in reporting page"
**Problem**
Who are the most time intensive customers and the customers that are spending the most time on.

**Solution**

[2021-05-06 22:16] lucasavila00 opened #822 "Starting conversations programatically"
**Problem**
I want to be able to send an user a message when my server decides it. It shouldn't matter if the user has started a conversation yet or not.

**Solution**
There are two approaches:
- Server to Server
- Client Based

A server to server solution would be the best one, but it would require a lot of work on Papercups to support it. As it is, the client won't register itself until a messag

[2021-05-06 22:35] robserva commented on #803
I agree that JWT isn't needed. HMAC SHA256 should do the trick, and I think that's the general best practice.

In theory HMAC SHA1 should still be secure (https://crypto.stackexchange.com/questions/26510/why-is-hmac-sha1-still-considered-secure) but I think SHA256 is still standard.

[2021-05-07 01:28] lucasavila00 commented on #822
I have made this draft of what are the needed changes, and they're not that much.

The signature handling part on Elixir was left vague as many technologies could work there.

[2021-05-07 01:39] lucasavila00 opened #824 "Crafted messages on the client can be made to look like Agent's"
**Describe the bug**
There is one [changeset](https://github.com/papercups-io/papercups/blob/master/lib/chat_api/messages.ex#L52) function to create messages, used by both [conversation](https://github.com/papercups-io/papercups/blob/master/lib/chat_api_web/channels/conversation_channel.ex#L84) and [notification](https://github.com/papercups-io/papercups/blob/master/lib/chat_api_web/channels/notif

[2021-05-07 02:36] lucasavila00 commented on #803
I imagine a possible implementation would be to validate the metadata/customer params with the signature after calling `Customers.sanitize_metadata()` [here](https://github.com/papercups-io/papercups/blob/master/lib/chat_api_web/controllers/customer_controller.ex#L57)  and [here](https://github.com/papercups-io/papercups/blob/master/lib/chat_api_web/controllers/customer_controller.ex#L144)

I have

[2021-05-07 02:56] cheeseblubber commented on #820
When someone changes the text it should trigger an edit

[2021-05-07 16:44] #434 closed

[2021-05-07 20:38] reichert621 opened #827 "Allow marking customer/conversation as "priority" from chat widget config"
**Problem**
We don't really use the "priority" inbox much because we often forget to mark important conversations. If we could do this programmatically from the widget, it would be really helpful for us.

**Solution**
Add a `priority` boolean field to the chat config?

**Describe alternatives you've considered**
TBD

**Additional context**
This is mostly just for ourselves for now :)

**Testing**

[2021-05-08 12:23] sidujjain commented on #547
Is there a workaround for this? We are also getting a lot of these errors in our sentry logs.

[2021-05-09 14:36] fmterrorf commented on #769
Hi @cheeseblubber :wave: I can have a look at this one! I was testing out sending emails using SMTP on my personal project. I used this [smtp adapter](https://github.com/fewlinesco/bamboo_smtp) and [Sendgrid](https://sendgrid.com/docs/for-developers/sending-email/integrating-with-the-smtp-api/) to test

[2021-05-09 15:18] fmterrorf commented on #769
I'm thinking we can do something like this https://github.com/plausible/analytics/blob/master/config/runtime.exs#L135 where we have a `MAILER_ADAPTER` environment variable (Mailgun will be the default adapter since that's the existing code is using). And if users want to use SMTP, they can set the `MAILER_ADAPTER` to `Bamboo.SMTPAdapter`

[2021-05-10 06:51] sidujjain opened #828 "Remove internal note link in slack messages"
**Describe the bug**
Internal note link points to a Github pull request and expands every time there is a new slack message.

**To Reproduce**
Steps to reproduce the behavior:
1. Do slack integration on Papercups
2. Send a chat message from Papercups widget
3. See Github PR link preview in the slack channel

**Expected behavior**
The link should either be removed or point to a private link that do

[2021-05-10 17:07] cheeseblubber opened #829 "Email support form"
**Problem**
Sometimes our users want an email support form instead of a chat widget and I personally hate mailto and have never used it. We want to make it really easy for developers to set up an email form and customize it.

**Solution**
1. Make a support form inside of the chatwidget that sends an email to a email address that you specify in Papercups.
2. Make it easy to set up with a reactt/vue

[2021-05-10 17:11] cheeseblubber commented on #828
Hey can you try uninstall and reinstall the Papercups app? If you are still having issues I can email you and schedule a call to debug it

[2021-05-10 18:35] cheeseblubber commented on #828
Btw are you on self hosted or cloud version?

[2021-05-10 18:52] cheeseblubber opened #830 "link to working hours docs"
Its confusing right now what working hour does it should link it to docs https://github.com/papercups-io/chat-widget#options

[2021-05-12 12:51] #770 closed

[2021-05-12 13:18] reichert621 commented on #769
seems like a good idea @fmterrorf -- i wonder if we should look into moving off Swoosh and using Bamboo instead 🤔

[2021-05-12 19:08] reichert621 commented on #547
hey @sidujjain! there are some workarounds, can you describe how you currently have the chat set up? i'm guessing you're using the react component?

[2021-05-12 19:20] sidujjain commented on #547
Hi @reichert621, we are using React component which is dynamically loaded using `next/dynamic`. We have a custom button that triggers the Chat widget using `window.dispatchEvent(new Event("papercups:open"))`. The button stays disabled till `onChatLoaded` callback is called.

[2021-05-13 01:31] fmterrorf commented on #769
We could definitely try looking into that. Bamboo also have a Mailgun adapter

[2021-05-13 14:02] cheeseblubber opened #836 "Simple chatbot flow"
**Problem**
2-3 questions flow

[2021-05-13 14:50] reichert621 commented on #828
this should be resolved now, but feel free to reopen if you're still seeing this issue!

[2021-05-13 14:50] #828 closed

[2021-05-13 14:50] #807 closed

[2021-05-13 20:29] fmterrorf commented on #769
Oh wait. I just noticed that Swoosh ships with an SMTP adapter https://hexdocs.pm/swoosh/0.4.0/Swoosh.Adapters.SMTP.html
Do you think we should stick to Swoosh since we're already using it?

[2021-05-13 23:06] fmterrorf commented on #769
Alright i was able to send an email using the Swoosh smtp adapter (using the Sendgrid)! I'll talk to Kam later today to get the Mailgun keys so I can test if sending email using Mailgun still works
![image](https://user-images.githubusercontent.com/77761194/118198021-5810c280-b40d-11eb-8cf9-2b129d3f29c1.png)

[2021-05-14 17:15] reichert621 commented on #769
nice! I'd also be curious to explore bamboo if their APIs are better, but if swoosh seems fine in the meantime that's great too 😄

[2021-05-17 13:16] cheeseblubber opened #839 "Delete/Update companies api should check if the company belongs to the account"
**Describe the bug**
Right now the /api/companies/ endpoint it doesn't check the account that it belongs to

[2021-05-17 14:11] huntr-helper opened #840 "🚨 Potential Invocation of Process Using Visible Sensitive Information"
👋 Hello, @reichert621, @cheeseblubber, @rhonsby - a potential high severity Invocation of Process Using Visible Sensitive Information vulnerability in your repository has been disclosed to us.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/1-other-papercups-io/papercups** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or speak to the researcher for mo

[2021-05-17 14:36] cheeseblubber commented on #840
Please post the details in the github issue here : @JamieSlome closing for now

[2021-05-17 14:36] #840 closed

[2021-05-19 20:27] cheeseblubber opened #843 "test issue ignore"
Testing test test

[2021-05-19 20:29] #843 closed

[2021-05-19 20:32] cheeseblubber opened #844 "On issues page filter by tag on small screen scrunches up the filter section"
<img width="1324" alt="Screen Shot 2021-05-19 at 4 31 17 PM" src="https://user-images.githubusercontent.com/4218509/118880368-c77c2b80-b8bf-11eb-8a2e-c12e32bc0fad.png">

[2021-05-20 15:07] reichert621 opened #845 "For the account-level Gmail integration, show sender name as "<company_name> Team""
**Problem**
Right now if a team connects an account-level Gmail integration, the email sender shows up as just the email address. This look impersonal and less professional.

**Solution**
Show the sender name as "<company_name> Team" for now, e.g. "Papercups Team" (we can make this configurable later)

**Questions, or need help getting started?**
Feel free to ask below, or [ping us on Slack](https

[2021-05-20 23:08] #637 closed

[2021-05-20 23:09] #754 closed

[2021-05-21 04:46] fmterrorf commented on #769
This can be closed now 🙏

[2021-05-21 10:39] JamieSlome commented on #840
@cheeseblubber - please see the PoC that was provided to us.

💥 BUG
open s3 bucket allow to read anyone file

💥 IMPACT
Anyuser can download anyone uploaded file . Also user may update or delete any uploaded file in s3 bucket (not tested).
AWS offer command line to manipulate s3 bucket bellow

aws s3 ls s3://mybucket -->to list all file
aws s3 cp myfolder s3://mybucket/myfolder --recursive --->copy

[2021-05-21 12:52] jaimeiniesta commented on #683
Thanks for the notification about connection being lost - it's very useful.

It will be even better if it automatically reconnects - I'm having to refresh the web page a lot of times per day currently.

[2021-05-21 16:06] cheeseblubber commented on #840
Great thanks this is fixed now

[2021-05-21 16:31] cheeseblubber commented on #683
Thanks @jaimeiniesta we'll be working on the reconnections first thing next week

[2021-05-22 05:18] JamieSlome commented on #840
@cheeseblubber - great, happy to hear!

Are you able to confirm the advisory patch on the platform or let me know what is the commit SHA that patches this?

Thanks! 🍰

[2021-05-24 10:26] ranjit-git opened #847 "Fix how extra users are handled if subscription plan changes"
Hello, @reichert621 , @cheeseblubber , @rhonsby  - a potential high severity security vulnerability has been  disclosed to huntr .
Report url --> https://www.huntr.dev/bounties/2-other-papercups-io/papercups/

BUG
=======
Bypass payment verification and add more user

IMPACT
========
Free tier allow only to user for your team .
But it can be bypassed .

STEP TO REPRODUCE
====================
1. Fr

[2021-05-24 10:57] ranjit-git opened #848 "🚨 Potential Security Vulnerability"
Hello, @reichert621  , @cheeseblubber  , @rhonsby - a potential high severity security vulnerability has been disclosed to huntr .
Report url --> https://www.huntr.dev/bounties/3-other-papercups-io/papercups/

BUG
=======
user can send chat message even after his account is disabled

IMPACT
========
If a user account is disabled by admin then sill he can send chat message to users

STEP TO REPRODU

[2021-05-24 15:43] reichert621 commented on #839
this actually seems to be fixed already 🤔

[2021-05-24 15:43] #839 closed

[2021-05-24 15:43] #844 closed

[2021-05-24 17:02] reichert621 commented on #845
Fixed as part of https://github.com/papercups-io/papercups/pull/842

[2021-05-24 17:02] #845 closed

[2021-05-25 01:08] cheeseblubber commented on #847
Not a security vulnerability closing

[2021-05-25 01:08] #847 closed

[2021-05-26 19:21] #769 closed

[2021-05-28 14:53] cheeseblubber opened #853 "Add unassigned option to dashboard"
Sometimes on call/customer support agents gets assigned the wrong ticket but don't know who to assign to. We would like to give the ability to unassign the ticket.

[2021-06-01 17:08] #853 closed

[2021-06-03 12:25] Blakeinstein opened #857 "Email notifications for support responses?"
**Problem**
The customer will never know if someone has acknowledged and responded to their query once they go offline.

**Solution**
The customer should get an email notification, when they are not active/online.

[2021-06-03 15:56] cheeseblubber commented on #857
Hey @Blakeinstein we do have this feature it isn't documented well. When a user misses a message sent from Papercups it automatically emails them if the email address is present after 10 minutes. We probably want to cc the user who sent it to make it more apparent

[2021-06-03 15:56] #857 closed

[2021-06-03 16:03] Blakeinstein opened #858 "More control over widget placement"
**Problem**
We have a Vue based solution, that would loved to have a support portal. However, the current implementation isn't as free.
Consider placing the widget in the center. Something like this should work.. but since on opening the transform is set to none. This wouldn't work as intended.
[code]

**Solution**
An option to specify custom css, and the base transform values.

[2021-06-03 19:36] #836 closed

[2021-06-06 15:01] J0 commented on #655
Hey,

Due to other commitments, I don't think I've the bandwidth to complete this PR within the next two months. I think I underestimated the load of my other OSS commitments. I'm going to close this PR and unassign my self from this issue so that I don't block anyone from working on this. If there's still no one working on the issue after two months I'll come back to this.

Sorry about this.

[2021-06-06 15:48] s16914 opened #861 "mattermost connection"
**Describe the bug**
When trying to add a mattermost account, papercups.io logs the user out half way through the input.

1 Tester selects the "integrations" tab
2. Tester Presses “Connect” on the line Reply from Mattermost
3. The tester enters the following data into the fields provided
Mattermost URL: https: //papercup12.cloud.mattermost.com/
Mattermost channe bot token: ab1287cd
Select a channe

[2021-06-06 16:09] s16914 opened #862 "adding a member to the team"
**Describe the bug**
when the logged in user clicks on the link, the registration window is displayed. when clicking on the login option, the user is logged in immediately, but not added to the team.

**To Reproduce**
Initial conditions: The user has a link redirecting to the team's website and an active account
Steps:
1. The tester clicks on the following link: https://app.papercups.io/register/0

[2021-06-06 18:19] reichert621 commented on #861
hey @s16914! what do you mean papercups logs the user out? like it fails to establish the connection with mattermost, or it completely logs you out of the dashboard?

[2021-06-06 18:19] reichert621 commented on #861
hey @s16914! what do you mean papercups logs the user out? like it fails to establish the connection with mattermost, or it completely logs you out of the dashboard?

[2021-06-06 18:20] reichert621 commented on #862
hey @s16914, how many users do you have on your account so far? if you already have 2, you need to upgrade your subscription before you can add more

[2021-06-07 19:12] #808 closed

[2021-06-09 14:38] ranjit-git commented on #848
can you plz update the report status https://www.huntr.dev/bounties/3-other-papercups-io/papercups/ as it is a valid security bug?

[2021-06-09 16:38] #774 closed

[2021-06-09 19:01] rhonsby opened #870 "Improve onboarding flow"
**Problem**
It's not clear to new users what they should be doing as they onboard onto Papercups. We want to improve the onboarding flow to make it clearer what users should do and to provide visibility into the different things they can do to setup their usage of it.

**Solution**
TBD

**Additional context**
Add any other context, screenshots, or related issues about the feature request here.

[2021-06-11 15:05] reichert621 opened #873 "Set up `lambdas` model"
**Problem**
We want to persist lambda functions that our users set up for e.g. scripting and webhook event handlers.

Let's just call the new table `lambdas` for now?

**Solution**
Set the boilerplate for a `lambdas` table with the following fields:
- `name` (`string`): the name/title of the function
- `description` (`string`): a description of what the function does
- `code` (`text`): the code fo

[2021-06-11 15:13] cheeseblubber commented on #873
Here is an example of the json dump that AWS returns:
{
  "CodeSha256" => "SOME SHA",
  "CodeSize" => 1360,
  "DeadLetterConfig" => nil,
  "Description" => "",
  "Environment" => nil,
  "FileSystemConfigs" => nil,
  "FunctionArn" => "arn:aws:lambda:AWS_REGION:AWS_ACCOUNT_ID:function:UNIQUE_FUNCTION_NAME",
  "FunctionName" => "UNIQUE_FUNCTION_NAME",
  "Handler" => "FOLDER_NAME.FILE_NAME.FUNCTION",

[2021-06-14 18:15] reichert621 opened #876 "Set up UI to save and deploy custom webhook handlers as lambdas"
**Problem**
In order to take advantage of this new feature, we need a page where users can:
- Edit/run/test their webhook handler code
- View docs to assist them in writing the code
- Save the latest draft
- Deploy the code

**Solution**
Set up a UI where users can do all of the above.

**Additional context**
For now we will only support JS/Node for the handlers

**Testing**
This will require a bu

[2021-06-14 18:16] reichert621 opened #877 ""Account" submenu refactoring"
**Problem**
The "Account" submenu is a little confusing and hard to navigate. There's lots of room for improvement!

**Solution**
- Rename Account sub-menu to Settings and treat that sub-menu to consist of setting-specific pages only.
- Move new Settings sub-menu to the bottom of the sidebar.
- Rename old Getting Started sub-menu item inside of Settings to Chat widget (or something similar).
- Mov

[2021-06-14 18:21] reichert621 opened #878 "Improve chat widget settings page"
**Problem**
There are a lot of things users can do to configure their chat widget, but a lot of it is hidden in docs and not clear from the chat widget settings page (e.g. "Getting started")

**Solution**
- Improve structure of page by grouping settings together
- Make it clear that these settings are used if an override isn't provided in code
- Include more of the configuration options, or make i

[2021-06-14 18:30] reichert621 opened #879 "Set up new "Getting started" onboarding UI"
**Problem**
Our "Getting started" page just focuses on chat widget settings at the moment, and doesn't really guide users through the full flow of taking advantage of our features (e.g. Slack, email notifications, etc)

**Solution**
Set up a new "Getting started" page, maybe take inspiration from Slack:

![slack-onboarding-ui](https://user-images.githubusercontent.com/5264279/121941185-f3eb6200-cd

[2021-06-14 18:50] reichert621 opened #880 "Allow users to upload photo instead of profile image url"
**Problem**
Right now the only way users can set their profile photo is by pasting in a URL. It would be much easier to just upload an image.

**Solution**
Now that we have the API(s) needed for uploading image files, add support for uploading an image as the profile photo.

**Additional context**
We may want to do some validation on image size/dimensions?

**Testing**
Please include screenshots/g

[2021-06-17 11:10] jaimeiniesta opened #885 "Accessibility - buttons should have discernible text"
**Describe the bug**
The button to toggle the chat widget doesn't have discernible text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a page with the Papercups chat widget installed.
2. Check accessibility with [axe DevTools](https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd)
3. See `Buttons must have discernible text` issue on `<bu

[2021-06-17 19:52] reichert621 commented on #885
thanks for reporting this @jaimeiniesta!

(the component for reference: https://github.com/papercups-io/chat-widget/blob/9d398470c0903602257dbcd37db12c582ddf0587/src/components/WidgetToggle.tsx#L153)

[2021-06-18 05:09] jyggiz commented on #885
Hey, could i take this issue?

[2021-06-19 18:28] reichert621 commented on #885
sure @jyggiz! let me know if you need any guidance :)

[2021-06-20 17:55] cheeseblubber commented on #813
Can break this up into frontend and backend test would love to split this up from community

[2021-06-21 14:48] jyggiz commented on #885
@reichert621 Hello, how are you? Does platform supports support multiple languages or is it planned to do so? I have an option where, inside ChatWidget, I can hardcode the aria-label value, or pass it as a prop for multilingual purposes. What do you think, at this stage it is better to use the first option? Also thought based on props isOpen to pass open/close text :)

[2021-06-21 18:06] reichert621 commented on #885
@jyggiz feel free to hardcode it for now, we plan to support i18n eventually but it will be easy to switch to a dynamic prop once we decide to do so :)

[2021-06-22 06:35] jyggiz commented on #885
@reichert621 Here is PR - https://github.com/papercups-io/chat-widget/pull/97 !

[2021-06-23 20:07] cheeseblubber commented on #26
<img width="1132" alt="Screen Shot 2021-06-23 at 4 05 14 PM" src="https://user-images.githubusercontent.com/4218509/123161143-0d875a80-d43d-11eb-9719-caf6c08e90a5.png">

[2021-06-23 20:41] cheeseblubber commented on #26
![Mini-demo](https://user-images.githubusercontent.com/4218509/123165175-e2ebd080-d441-11eb-92e2-fd9eba439c97.gif)

[2021-06-25 03:00] thejjw opened #895 "Feature to create a chat/conversation link to be shared with"
**Problem**
Hello.
I have much use for a live chat solution but the concern is that most users in my case contact support via various non-web channels (i.e. in person, on phone, email, etc.)
Even so I'd like to solve their problem on live chat platform, but currently the only way I can ask them to do so is to have them visit website with papercups widget and start chat from there. Instead I am won

[2021-06-26 06:23] ryg-git commented on #813
If it is ok, I would like to take up this issue

[2021-06-28 19:07] papercups-dev[bot] opened #898 "Test issue from API"
Test body from API

[2021-06-28 19:08] #898 closed

[2021-06-29 00:02] aboutphilippe opened #900 "Docker error Config provider Config.Reader failed module Mix is not available"
**Describe the bug**
When running docker compose, the docker image returns an error

**To Reproduce**
Steps to reproduce the behavior:

docker compose up of
https://github.com/papercups-io/papercups/blob/master/docker-compose.prod.yml

`version: "3.2"

services:
  papercups:
    image: papercups/papercups:latest
    ports:
      - "3000:3000"
      - "4000:4000"
    command: sh -c "sleep 10 && /en

[2021-06-29 00:26] aboutphilippe commented on #900
Same thing happens if simply running the following command

`docker run -e DATABASE_URL="ecto://postgres:postgres@db/postgres" -e SECRET_KEY_BASE="dvPPvOjpgX2Wk8Y3ONrqWsgM9ZtU4sSrs4l/5CFD1sLm4H+CjLU+EidjNGuSz7bz" -e BACKEND_URL="localhost" papercups/papercups:latest`

[2021-07-02 13:13] utkusaglm commented on #528
Is there any update?

[2021-07-04 08:02] sidujjain opened #903 "Incorrect link rendering in Papercups emails"
**Describe the bug**
If you send any link to the user from Slack, it gets incorrectly rendered in emails received by the user

**To Reproduce**
Steps to reproduce the behavior:
1. Initiate a conversation using the chat widget and close the tab
2. Reply to message from Slack and send any link
3. Wait for the message to arrive in email and check the link

**Expected behavior**
The link should be ren

[2021-07-06 09:56] paescuj commented on #900
This has been introduced by 4dcaa5d44a6e69a1fed0b2ffe8392499f3af8b9f, specifically with the following line: https://github.com/papercups-io/papercups/blob/692b2abae0f96f57f2e285f979b10bfe70127dcc/config/runtime.exs#L168

`Mix.env()` should not be used at runtime, see https://hexdocs.pm/mix/1.12/Mix.html#env/0

As a workaround you can remove the following lines and build the Docker image yourself:

[2021-07-06 17:30] aboutphilippe commented on #900
Thanks @paescuj

I have built a docker image following your suggestion and it worked.

I am not familiar enough with Elixir.. would it require a refactor of that part?
In the meanwhile, I forked the repo and added an if statement to make the appsignal configuration optional.
I've made the following pull request accordingly : https://github.com/papercups-io/papercups/pull/904.

[2021-07-07 07:03] paescuj commented on #900
@aboutphilippe I'm also not very familiar with Elixir and I don't know what the exact intention is regarding AppSignal. So, I think the best thing would be to let the maintainers fix this issue accordingly.

[2021-07-07 19:34] reichert621 commented on #903
thanks for flagging this! looks like the markdown is being parsed incorrectly for emails -- we'll take a look 👍

[2021-07-12 18:15] #903 closed

[2021-07-14 07:12] cheeseblubber opened #909 "Sync customer data with Salesforce Integration"
Customer support teams wants context that lives in Salesforce.

This feature is broken up in to a few parts:
1. Oauth integration with Salesforce.
2. Sync customer metatadata from Salesforce into Papercups
3. Sync customer metadata from Papercups into Salesforce

[2021-07-19 21:42] reichert621 commented on #895
hey @thejjw! sorry for the late response -- we'll definitely consider this feature :) would you want the chat to just take up the full page? (something like [this](https://chat-widget.papercups.io/?accountId=eb504736-0f20-4978-98ff-1a82ae60b266&amp;agentAvailableText=We%27re%20online%20right%20now%21&amp;agentUnavailableText=We%27re%20away%20at%20the%20moment.&amp;closeable=1&amp;companyName=Paper

[2021-07-19 21:49] #879 closed

[2021-07-19 21:49] #877 closed

[2021-07-19 21:49] #876 closed

[2021-07-19 21:50] #873 closed

[2021-07-19 21:50] #862 closed

[2021-07-19 21:59] reichert621 opened #910 "Support @ mentions in the dashboard"
**Problem**
Users want to be able to @mention other people on their team, and then easily view conversations in which they've been @mentioned.

**Solution**
- Update the dashboard conversations UI to support @mentioning teammates
- Store @mentions as metadata on conversations (list of all @mentions to make querying easier?) and messages (just the @mentions within the message)
- Set up a new sideba

[2021-07-19 22:12] reichert621 opened #911 "Create email contact form widget"
**Problem**
Sometimes users just want to have their customers send them an email through the widget, rather than have a real-time live chat session.

**Solution**
Either create a new widget for this, or update the chat widget to support an option for just rendering an email contact form UI.

_(NB: This will require that the customer sets up the gmail integration)_

When a user sends a message thro

[2021-07-19 22:13] reichert621 commented on #911
(Follow up for https://github.com/papercups-io/papercups/issues/829)

[2021-07-19 22:13] reichert621 commented on #803
(bumping this up, see https://app.intercom.com/a/apps/x4uvwkvj/settings/identity-verification/web)

[2021-07-19 22:25] reichert621 opened #912 "Prototype/MVP of dashboard mobile app"
**Problem**
Users want to be able to respond to Papercups messages from their phones more easily. Slack can work for some, but some people would prefer a native Papercups mobile app.

**Solution**
Set up a mobile app in React Native (repo: https://github.com/papercups-io/papercups-mobile-app)

**Questions, or need help getting started?**
Feel free to ask below, or [ping us on Slack](https://join.s

[2021-07-19 22:40] #589 closed

[2021-07-20 04:50] reichert621 opened #914 "Make it clearer where messages come from (e.g. Slack, email, chat)"
**Problem**
Now that we support messages coming in from different channels, we should make it more clear where they're coming from.

**Solution**
We can probably take some inspiration from other products, where we should a little "sent via gmail/slack/whatever" in the footer of the message?

**Describe alternatives you've considered**
TODO: think through potential alternatives

**Testing**
Please

[2021-07-20 04:51] reichert621 opened #915 "Display subject line for conversations/messages coming in via email"
**Problem**
Right now we don't show the subject line of email messages anywhere.

**Solution**
Display the subject line of the email somewhere. (Still need to figure out exactly where)

**Testing**
Please include a screenshot of the update in the PR!

**Questions, or need help getting started?**
Feel free to ask below, or [ping us on Slack](https://join.slack.com/t/papercups-io/shared_invite/zt-h0

[2021-07-21 00:15] thejjw commented on #895
@reichert621 thanks for a response. yes. the link you provided would certainly fit the purpose!

[2021-07-22 22:13] cheeseblubber commented on #26
![Papercups Shared Slack channel](https://user-images.githubusercontent.com/4218509/126716071-00fb92d2-9978-486e-b771-4b7a209ceb01.gif)

[2021-07-23 00:58] #655 closed

[2021-07-28 13:57] Grienauer opened #923 "docker setup for cloudron"
**Problem**
It would be great if there is a cloudron.io docker version of papercups, so it is installable easily for a broader cloudron user group.

the related issue over at cloudron: https://forum.cloudron.io/topic/3026/papercups-open-source-live-customer-chat

**Solution**
Packaging the papercups docker image and provide it for cloudron
documentation: https://docs.cloudron.io/packaging/tutorial

[2021-07-30 18:06] reichert621 commented on #333
Relevant thread: https://news.ycombinator.com/item?id=27973497

[2021-07-31 16:47] #910 closed

[2021-08-03 14:35] #915 closed

[2021-08-03 19:52] cheeseblubber opened #925 "Mattermost crashes when entering bot id"
**Describe the bug**
Mattermost integration page crashes

https://user-images.githubusercontent.com/4218509/128077297-04406b66-15c6-4694-b0e6-93436ad7127f.mov

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.papercups.io/integrations
2. Click on connect under mattermost
3. Enter Mattermost URL and bot token
4. It will crash

[2021-08-03 22:18] #925 closed

[2021-08-04 14:14] cheeseblubber commented on #861
Should be fixed in https://github.com/papercups-io/papercups/commit/aac17d1702b88a31135143ee15da0b6ae27f8f08 deploying this today

[2021-08-17 17:31] cheeseblubber opened #934 "Closing conversations in bulk is annoying in the dashboard"
**Problem**
I want to mass close conversations and the UX is slow and I have to wait for the delay.

**Solution**
Instead of delaying the closing when pressing cmd + D have pop up notification on the right side that lets you reopen the conversation

**Describe alternatives you've considered**
Bulk closing where you can click on multiple conversations and close it. (This partial solves the problem

[2021-08-17 18:23] #914 closed

[2021-08-17 18:23] #912 closed

[2021-08-18 12:05] reichert621 opened #935 "Filter out Slack "event" messages (e.g. channel join/leave)"
**Describe the bug**
Slack message events include messages that are not sent by the users, but just automated messages describing events (like "@alex joined the channel", "@alex left the channel", etc)

These are not technically "bot" messages so they aren't currently filtered out, but we should exclude them from the messages we sync to Papercups.

**To Reproduce**
Steps to reproduce the behavior:

[2021-08-18 15:25] reichert621 commented on #26
<img width="1365" alt="Screen Shot 2021-08-18 at 11 06 56 AM" src="https://user-images.githubusercontent.com/5264279/129923111-8b6be3b7-289a-46f7-be87-0b471b723074.png">

<img width="729" alt="Screen Shot 2021-08-18 at 11 16 37 AM" src="https://user-images.githubusercontent.com/5264279/129924664-e45892cc-4500-43c5-920b-060c77952930.png">

<img width="994" alt="Screen Shot 2021-08-18 at 11 18 05 AM

[2021-08-18 16:07] reichert621 commented on #26
![reply-from-slack](https://user-images.githubusercontent.com/5264279/129932919-8258323e-1608-48e9-90e9-726fe5eb79d1.gif)

![papercups-js-v4](https://user-images.githubusercontent.com/5264279/129932933-9bb1cf9e-c0bb-4da2-af53-b7ee056f95de.png)

[2021-08-23 17:25] cheeseblubber opened #937 "Support email forwarding with Papercups"
Allow the user to respond to emails with Papercups

1. Company specifies which emails they want to forward to Papercups support@somecompany.com
2. Papercups generates an unique id for the email to be forwarded probably company-name_some_id@chat.papercups.io
3. When a customer sends an email it gets forwarded in to Papercups
4. When a user responds to the email it replies back as company-name_some_

[2021-08-23 22:15] paolodamico opened #938 "Tooltips interfere with clicking on the main action"
**Describe the bug**

See screenshot of when you try to delete a conversation. The tooltip interferes with the popup confirmation which makes it harder to delete users.

**To Reproduce**
See above.

**Expected behavior**
Tooltip should disappear when clicking on the button or no tooltip.

**Screenshots**

<img width="449" alt="" src="https://user-images.githubusercontent.com/5864173/130526367-4761

[2021-08-23 22:17] paolodamico opened #939 "App crashes randomly after deleting conversations"
**Describe the bug**
After deleting a conversation app randomly crashes, presumably because the conversation no longer exists.

**To Reproduce**
Delete a conversation and see if this happens. A recent example: https://app.papercups.io/conversations/all?cid=8c046504-be00-4c1e-9ee2-38016f2c86c1

**Expected behavior**
I would expect to go to the next conversation on the list.

**Screenshots**
JS cons

[2021-08-23 22:20] paolodamico opened #940 "Slack links failing"
**Describe the bug**

When clicking on links to view conversations on Slack, links seem broken (something went wrong page on Slack).

**To Reproduce**
- Click on almost any Slack link.
<img width="236" alt="" src="https://user-images.githubusercontent.com/5864173/130526798-3a8580e7-d8c1-4f61-9257-37501169b674.png">

- See this recent example: https://posthogusers.slack.com/app_redirect?channel=C01

[2021-08-24 02:08] #935 closed

[2021-08-24 02:08] #938 closed

[2021-08-24 02:13] reichert621 opened #942 "Enforce redirect to TLS/SSL"
**Describe the bug**
Users can go to http://app.papercups.io without a forced redirect to https

**Expected behavior**
We should enforce the redirect to TLS/SSL

**Screenshots**
<img width="540" alt="Screen Shot 2021-08-23 at 10 13 18 PM" src="https://user-images.githubusercontent.com/5264279/130544883-96489d86-5d6e-4e50-bdbe-fdc935110cf7.png">

[2021-08-24 15:12] #813 closed

[2021-08-25 16:40] reichert621 opened #944 "[Draft] Multiple inboxes v1"
## Problem

- Sometimes users may want to set up multiple chats or channels within the same account, that get handled by different people or teams
- Similarly, some people/teams don't want to have to see any messages from another team
- Users want to reply to these different messages from separate Slack channels, but right now we only support replying to all messages from a single Slack channel

#

[2021-08-26 13:51] reichert621 opened #945 "Improve formatting of email messages in Slack"
Email messages in Slack should be formatted more like... email messages.

This is important because the etiquette around replying to emails is a bit different than replying to a chat message, so it's necessary to make it obvious when a message comes in via email so the person responding can adjust the tone/format of their reply.

We can probably just do something like this:

**Testing**
Please wri

[2021-08-30 18:54] reichert621 opened #949 "Support sending file attachments via Gmail integration"
**Problem**
At the moment, users can't send files via the Gmail integration (they can only receive them)

**Solution**
Add support for sending file attachments via Gmail.

**Additional context**
For example, we want to be able to send files via this modal:
<img width="542" alt="Screen Shot 2021-08-30 at 2 46 31 PM" src="https://user-images.githubusercontent.com/5264279/131389973-dafbd53b-f987-4261

[2021-08-31 14:25] chauhankiran opened #950 "Support for Group/Department"
**Problem**
Consider the example where company has different departments such as Marketing, Sales, and Support. Currently, in Papercups, if customer on the end-side (via website for example) start a new conversion (or existing one), then that conversion displays to all the users on the Papercups admin side. But, it might possible that company do not wants to display the all conversion to all users

[2021-08-31 15:24] reichert621 opened #951 "Add support for email alerts on new conversations only (not all new messages)"
**Problem**
Our email notifications right now can either do all new messages, or none at all.

**Solution**
Some users may want to only be notified when a new conversation is started.

- Add new field to user_settings: `email_alert_on_new_conversation` (default `false`)
- Add new checkbox to user profile UI
- Update the `ChatApi.Emails.send_new_message_alerts` method to take this new field into ac

[2021-08-31 15:26] reichert621 commented on #950
thanks for writing this @chauhankiran! this is definitely something we want to support :)

it seems somewhat connected to our plan to support multiple inboxes: https://github.com/papercups-io/papercups/issues/944 (e.g. each department could have its own "inbox")

[2021-08-31 17:40] #945 closed

[2021-09-01 20:00] reichert621 opened #955 "Cache unsent messages in dashboard when toggling between conversations/pages"
**Problem**
Sometimes users start typing a message, and then switch to another conversation to address it, and then when they switch back their original unsent message is gone.

**Solution**
It would be nice to cache this message somewhere so that users don't have to start over.

We can probably just use localStorage for now?

**Questions, or need help getting started?**
Feel free to ask below, or

[2021-09-02 21:18] cheeseblubber opened #956 "Word wrapping on email messages"
In the email there is no line break between the and upgrade. The first image is the email and second is what gets shown in the dashboard.
<img width="630" alt="Screen Shot 2021-09-02 at 5 17 42 PM" src="https://user-images.githubusercontent.com/4218509/131917476-e4fc1f30-b246-4e14-8b8c-a00d8f0ff4a2.png">

<img width="496" alt="Screen Shot 2021-09-02 at 5 16 49 PM" src="https://user-images.githubus

[2021-09-02 21:39] cheeseblubber opened #957 "Email messages after private notes doesn't get sent in Email forwarder"
**Describe the bug**
If you send a message after a private note in our shared Inbox feature(Beta) it doesn't get sent to email

**To Reproduce**
Steps to reproduce the behavior:
1. Send email to a shared inbox
2. Reply with a normal message - It'll show up
3. Add private note
4. Reply with normal message - it doesn't show up in inbox

**Expected behavior**
Emails should continued to be delivered

[2021-09-02 22:15] cheeseblubber commented on #957
Some more context:

If the customer replies after the private note is set: The issue is fixed for the conversation.

<img width="379" alt="Screen Shot 2021-09-02 at 6 12 32 PM" src="https://user-images.githubusercontent.com/4218509/131923043-3bc264cb-c5cc-431b-9bcf-b0d9a7572b82.png">

[2021-09-03 02:51] sooluh opened #958 "Failed to delete customer. Please try again later."
### Chronology

When I want to delete customer data using the API client I'm trying to build, I get an `Internal Server Error` response.

I tried to check it but I didn't find any error in the script I wrote, and I tried to delete it from the Papercups panel, but the response I received was `Failed to delete customer. Please try again later.`

I also looked at Network in DevTools, and it was true,

[2021-09-03 03:09] reichert621 commented on #958
thanks for flagging this @sooluh! looks like it's a foreign key constraint issue... we'll try to have a fix out soon! (probably next week)

[2021-09-03 03:10] reichert621 commented on #958
love your php library btw! 🎉

[2021-09-03 03:34] sooluh commented on #958
well, I'm not in too much of a hurry for that, you're welcome.
for your compliments to my library, I am very happy, thank you 😀

[2021-09-03 17:55] cheeseblubber opened #959 "Support html only emails"
**Describe the bug**
When you send an html only email it doesn't render.

Example: To get verified with google forwarded address you get an html email that you need to click the link on

**To Reproduce**
Steps to reproduce the behavior:
1. Send an empty string for text email and a html only email. It doesn't render

**Expected behavior**
It should render  consider: https://stackoverflow.com/questi

[2021-09-04 03:40] devtayls commented on #885
@reichert621 Can we close this issue?

[2021-09-07 18:52] #957 closed

[2021-09-07 18:52] #951 closed

[2021-09-09 08:22] sooluh opened #964 "Is it possible to send messages with attachments via API?"
As you guys know, I'm building a PHP library for Papercups. I'm also building an app and making use of this Papercups, but I stopped when I didn't know how to upload an attachment and send it at the same time.

I tried monitoring Network on DevTools and found `/api/upload`, and I managed to write code like [here](https://github.com/sooluh/papercups/blob/8d4f94528d2ef68c9663a3d11aa32db07653fc13/src

[2021-09-09 16:09] cheeseblubber opened #965 "When I click on each button on the side I expect it to go to a page"
When I click on the two people side bar it doesn't go anywhere. The UX should be consistent with the others even if it means defaulting to the first page. The expectation is that these tabs are clickable.

<img width="251" alt="Screen Shot 2021-09-09 at 12 07 09 PM" src="https://user-images.githubusercontent.com/4218509/132722033-a6110110-cc6f-4eda-8377-a8c58f7cfbe0.png">

[2021-09-09 19:59] reichert621 opened #966 "Fix exception handling in Gmail worker"
**Describe the bug**
Since some of the Gmail API methods raise exceptions if they fail, this causes the worker to keep retrying unnecessarily until it succeeds or hits a max retry limit.

**Expected behavior**
If the Gmail API throws certain errors (e.g. token expired, thread not found), it should not retry.

**Additional context**
In general, this worker should probably never retry, since it runs

[2021-09-10 15:08] timgl opened #968 "One-click spam button"
**Problem**
We get quite a lot of unsollicited/spam emails.

**Solution**
Would love to have a 1click in slack to mark as spam, delete the message from Slack (or at least collapse it as those spam emails tend to take up a lot of channel real estate) and  never let emails from that sender through again.

**Describe alternatives you've considered**
I manually 'mark as resolved', then delete the slac

[2021-09-10 15:11] reichert621 commented on #968
good idea @timgl — would you also want these marked as spam within Gmail (e.g. we could label it as spam via the API), or just internally within Papercups?

[2021-09-10 15:18] timgl commented on #968
I think marking them as a spam in gmail is a nice to have, doesn't really affect us that much (except for punishing spammers which is always good :))

[2021-09-19 20:27] cheeseblubber opened #970 "Search shouldn't be case sensitive"
**Describe the bug**
If you search tobias instead of Tobias it may not find the conversation.

**To Reproduce**
1. Start a conversation
2. Search the keyword with different casing than your conversation
3. See no search result shown

[2021-09-22 22:13] dwwoelfel commented on #209
Another potential user for Discord: https://github.com/open-sauced/open-sauced/discussions/682

[2021-09-23 15:40] #966 closed

[2021-09-23 15:41] reichert621 commented on #964
at the moment this is not possible, but we'll fix it soon!

[2021-09-23 17:16] Twixes opened #971 "Improper smile is shown in UI"
**Describe the bug**
When I type ":)", this emoji appears in Papercups UI:
![Smil](https://user-images.githubusercontent.com/4550621/134553041-7034f793-1910-4219-a60f-8f33fed2ea18.png)
That however is outrageously wrong. With ":)" I only mean a slight smile, like so 🙂. Not an excited one like 😃. These smiles are worlds apart.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a slight smil

[2021-09-24 00:43] cheeseblubber opened #972 "Inbox onboarding feedback"
I m confused during onboarding process how to set up an inbox. I figured it out in Settings

* There should be an *Add inbox* button.
It is unclear how to add one. In an empty inbox there should be a button to configure it and add it to the flow

* Settings should be called *configure inboxes*

Why is Integrations page there when adding an inbox. It is confusing to have all these channels. Also ha

[2021-09-24 00:46] cheeseblubber commented on #972
Having the Inboxes Settings close on the sidebar when navigating to it seems weird. I feel like it should stay consistent and keep it opened.

[2021-09-24 17:20] cheeseblubber opened #973 "Reporting doesn't keep track of response time on Slack"
Reporting if you respond only from slack it doesn't keep track of analytics

[2021-09-27 14:36] rgstephens opened #974 "Clean-up `docker-compose` files"
**Describe the bug**
I worked with the `docker-compose.dev.yml` for a couple of days before realizing that it is pointing to an out of date image, [papercups/papercups-dev](https://hub.docker.com/r/papercups/papercups-dev). I kept searching for the API Key page and eventually figured this out.

I don't know the history of the three docker-compose files in the repo but it seems like maybe the `prod

[2021-09-27 14:38] cheeseblubber commented on #974
Yep that makes sense we'll merge it in thanks Greg!

[2021-09-28 15:37] reichert621 opened #977 "If a reply is sent to a deleted message in Slack, don't send it to Slack"
This will be the short term fix. Longer term, we should do a better job deleting a message in Papercups if it's deleted in Slack.

[2021-09-28 16:35] #970 closed

[2021-09-28 16:35] #972 closed

[2021-09-28 16:38] reichert621 opened #979 "Make popular integrations (e.g. chat, Slack) easier to find"
**Problem**
The most common use case for Papercups is setting up chat + reply from Slack.

We should make these two integration settings super easy to find and configure.

**Solution**
- Improve "getting started" page to include links to both of these settings
- Add "popular" badges to these rows in the integrations tables
- Add quick links to the primary inbox integrations settings on the main in

[2021-10-06 14:57] #955 closed, assigned to nobody

[2021-10-13 04:05] johncadengo opened #986 "Adding a link to the away message"
I noticed that on papercup's landing page, there is a link in the away message.

![Screen Shot 2021-10-12 at 8 35 09 PM](https://user-images.githubusercontent.com/561587/137065367-6c277a0b-498f-49d7-a8e7-fde603febb81.png)

I tried doing that on my own away message, just using html, and it did not come through. Is there a way to add a link to the away message?

[2021-10-13 04:31] johncadengo opened #987 "Disable file upload"
I noticed there was an ENV variable `REACT_APP_FILE_UPLOADS_ENABLED`. I set that to `0` but I don't see any effect on the frontend. Is there a way to disable that little file upload icon in the chat widget?

[2021-10-30 21:39] stfullstack commented on #212
I'm running into this issue myself. Can you elaborate on how you fixed it please?

[2021-10-31 10:58] LoanDEV commented on #209
+1

[2021-10-31 18:55] psieniarski opened #990 "It's possible to change the referrer meta field manually?"
**Problem**
I can't find a way to change the referrer meta field. My app lives inside an iframe and I need to pass a parent window URL instead of the iframe URL. It's a problem because currently, that link shows an iframe URL in notifications.

**Solution**
Introduce an API function for updating the current URL or the ability to disable showing a referrer in notifications.

[2021-11-02 12:42] optikfluffel commented on #971
This seems to be an upstream issue in [tommoor/react-emoji-render](https://github.com/tommoor/react-emoji-render) ^^

[2021-11-03 17:28] pauldambra opened #991 "Mark as unread"
**Problem**

I've been using Papercups for the first time this week. What an awesome tool! Keeping my in synch between Slack and Email.

I click into a new message to see if I should prioritise it, discover I don't need to, and then there's no way (that I know of) to mark it as something I should come back to

**Solution**

So... I keep wishing I could mark things as unread in the paper cups app.

[2021-11-03 20:38] reichert621 commented on #991
good idea @pauldambra!

[2021-11-03 20:39] reichert621 commented on #986
hey @johncadengo! you can do this with markdown, e.g. `[demo](https://app.papercups.io/demo)` (https://github.com/papercups-io/papercups.io/blob/5c8494f4a6edae5b61165462120c6a1d764447ca/pages/index.tsx#L488)

[2021-11-03 20:42] johncadengo commented on #986
Oh, thank you! That wasn't clear to me earlier, but great solution. 👍

[2021-11-03 20:55] #986 closed

[2021-11-08 16:27] timgl commented on #968
Any other thoughts on this? A decent chunk of the messages we have to wade through now are spam messages and makes us lose track of real messages in Slack so would be awesome to have this

[2021-11-10 20:39] reichert621 commented on #968
@timgl as a first pass, we could surface a "delete" button in slack that handles deleting the thread both in slack and in the dashboard -- would that be ok for now?

[2021-11-10 21:19] timgl commented on #968
Yep that'd be great!

[2021-11-22 18:08] CharlesMangwa opened #993 "Reply from Slack integration doesn't forward incoming message to the Slack channel"
**Describe the bug**
I've set up the **Reply from Slack** integration from our **Primary Inbox** but Papercups doesn't forward any of the incoming messages to that channel, even though it shows up as **Connected** in the dashboard.

<img width="886" alt="image" src="https://user-images.githubusercontent.com/8975443/142911743-52550728-e1b3-4059-b60c-c59640897850.png">

When I try to reconnect the i

[2021-11-22 18:43] jiannystein opened #994 "Slack Interactivity Request URL for buttons to work"
I am using Heroku Deploy and follow the guide on https://docs.papercups.io/slack.

Both "Mark as resolved" and "Reopen Conversation" buttons on Slack do not work for me.

Is this due to the missing request URL from Interactivity & Shortcuts option from the Slack App I created, or can someone here point me in the right direction?

[2021-11-22 18:46] CharlesMangwa opened #995 "Customer API endpoint doesn't update metadata"
**Describe the bug**
After following the docs to update a customer, the metadata is always returned as `null`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an API key in the dashboard
2. Add your API key as a `Bearer` token & make a `GET` request to retrieve any customer `id` via `https://app.papercups.io/api/v1/customers/`
2. With that `id`, make a `PUT` request to `https://app.pa

[2021-11-22 21:35] siuwafong opened #996 "More Detailed Instructions for Deploying to AWS"
**Problem**
More detailed instructions for deploying to AWS with explanations on what the commands do would be appreciated. I am currently getting the following error for step 1 of EKS setup:

 `AWS::EKS::Cluster/ControlPlane: CREATE_FAILED – "Resource handler returned message: \"Cannot create cluster 'papercups' because us-east-1e, the targeted availability zone, does not currently have sufficien

[2021-12-02 01:24] jeepers3327 commented on #995
I believe you should use PUT request on  `https://app.papercups.io/api/v1/customers/[id]/metadata` as described in the `router.ex` file https://github.com/papercups-io/papercups/blob/7c850c47ff244dbdc03fa1fa5e28011b2f338653/lib/chat_api_web/router.ex#L52

The reason `https://app.papercups.io/api/v1/customers/[id]/` returns a null is because the changeset used in `update_customer` does not pick up

[2021-12-02 07:37] CharlesMangwa commented on #995
Thanks for the lead @jeepers3327! I forgot to mention in my initial description that I _did_ try a `PUT` on `https://app.papercups.io/api/v1/customers/[id]/metadata` but it returns
[code]
even though the `id` I provided does exist and all. Am I missing something obvious?

FWIW: I also tried `https://app.papercups.io/api/customers/[id]/metadata` (without the `v1`). This one does return the `data` o

[2021-12-03 04:43] jeepers3327 commented on #995
Hi @CharlesMangwa,
Could you try accessing this endpoint `` with your `id` and tell me the result if it exist or not. Based on https://github.com/papercups-io/papercups/blob/master/lib/chat_api_web/router.ex, it shouldn't matter whether there's a `v1` prefix on the api endpoint or not.

Note: I don't really launch the application on my local or the hosted version, I just give out advice based on t

[2021-12-03 11:31] CharlesMangwa commented on #995
hey @jeepers3327, thanks for your help, it's much appreciated!

There seem to be different scopes actually:

https://github.com/papercups-io/papercups/blob/1ad023a1a5e3bdb915ff4c8790ea149439d08e9a/lib/chat_api_web/router.ex#L35

https://github.com/papercups-io/papercups/blob/1ad023a1a5e3bdb915ff4c8790ea149439d08e9a/lib/chat_api_web/router.ex#L182

 with only the former accepting `put("/customers/:

[2021-12-03 11:41] jeepers3327 commented on #995
Have you checked if metadata field was filled when you update it or does it nullify the current metadata value

[2021-12-03 12:07] CharlesMangwa commented on #995
There's no metadata (`null`) and I'm trying to add some but it always returns `null`

[2021-12-04 11:19] jeepers3327 commented on #995
Hi @CharlesMangwa,

I've found the bug and how to fix it, though I need to ask for confirmation from @reichert621 regarding the fix.

From line 131 - 142, it fetches `metadata` from the `PUT` request, merges it with extra fields and then transform some of fields after sanitizing it. https://github.com/papercups-io/papercups/blob/7c850c47ff244dbdc03fa1fa5e28011b2f338653/lib/chat_api_web/controllers

[2021-12-17 12:46] AndreSoble opened #997 "webhook via ngrok not challenged - local setup"
When trying to test the webhook locally using ngrok no challenge is beeing send to the webhook endpoint.

Steps to reproduce the behavior:
1. docker-compose up locally
2. sign in etc.
3. start ngrok to forward a webhook call to a simple local webhook which should log the API path and body.
4. Add the webhook using the ngrok url

**Expected behavior**
Papercups should send the challenge to the webh

[2022-01-01 19:30] vontainment opened #998 "Incomplete docs, missing a few keys to getting storytime to work. (listed them here)"
There is a lack of documentation of a couple of important mentions and a few in app things that need to be fixed as they are very misleading.

So to get storytime working I had to add ENV
`REACT_APP_STORYTIME_ENABLED: 1`
It is not mentioned ANYWHERE that I could find.

this is the first part of code from storytime page:
[code]

This is from widget:
[code]

the instructions make it sound like to ju

[2022-01-01 21:18] #998 closed

[2022-01-06 15:35] reichert621 commented on #995
hey @jeepers3327 thanks for all the help on this! would you mind putting up a PR with your fix? 😄

[2022-01-06 17:36] CharlesMangwa commented on #993
Was able to get it to work after completely removing the Papercups app from Slack + disconnecting the integration from the dashboard, and then trying again from scratch, though it took multiple attempts. FWIW: I was trying with a private channel.

[2022-01-06 17:37] CharlesMangwa commented on #993
Was able to get it to work after completely removing the Papercups app from Slack + disconnecting the integration from the dashboard, and then trying again from scratch, though it took multiple attempts. FWIW: I was trying with a private channel.

[2022-01-06 17:37] #993 closed

[2022-01-14 08:34] CharlesMangwa commented on #995
Hey @jeepers3327! Do you think you could put up a PR with this fix pls?

[2022-01-16 19:34] krvajal opened #1003 "Dev question"
Where is the code for this https://github.com/papercups-io/papercups/blob/master/assets/public/widget-rc.js

[2022-04-01 05:26] ranjit-git commented on #848
Is this bug fixed?

[2022-04-01 05:27] ranjit-git commented on #848
its about a year but i see security bug is still open

[2022-05-11 06:09] CharlesMangwa commented on #995
Closed by https://github.com/papercups-io/papercups/pull/1000#issuecomment-1122855148.

[2022-05-11 06:09] #995 closed

[2022-05-18 14:00] aguilaair commented on #1003
https://github.com/papercups-io/chat-widget

[2022-07-10 07:25] taobojlen opened #1009 "SMTP adapter is broken in Docker image"
**Describe the bug**
When self-hosting Papercups with docker compose, the SMTP mailer is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Open iex
2. `import Swoosh.Email`
3. Try to send an email like `new() |> from("noreply@support.example.com") |> to("myself@example.com") |> subject("Hi there") |> text_body("Testing SMTP integration") |> ChatApi.Mailers.deliver()`. You will see the

[2022-08-01 13:45] #991 closed

[2022-09-12 11:02] #997 closed