[2020-07-22 01:39] reichert621 opened #26 "Media library"
## Chat widget

**Demo:**
![demo](https://user-images.githubusercontent.com/5264279/88118921-e4a37900-cb8c-11ea-825f-86deb8edc518.gif)

**Sped up:**
![demo-v2](https://user-images.githubusercontent.com/5264279/88118920-e4a37900-cb8c-11ea-920a-efa9ba966d9f.gif)

## Conversations

**Demo:**
![dashboard-v1](https://user-images.githubusercontent.com/5264279/88119050-4f54b480-cb8d-11ea-8f50-1a656068fd8

[2020-07-22 21:55] rberrelleza opened #29 "Run on a non-default port"
I'm trying to run papercups on a different port than 4000. I set the env var PORT the port to 8080, and started the server using `mix phx.server`, on the prod configuration

When the server starts, I get this error:
[code]

No matter the port I put in, it fails. If I remove the part of the code that's reading from an env var, and hardcode port 8080, it all works fine.

Any ideas?

[2020-07-22 22:20] reichert621 commented on #29
hey @rberrelleza!

my ~guess is that the `PORT` env variable is used in both our frontend app (as our webpack dev server or whatever is used under the hood in `create-react-app`) as well as our server (with the prod config), which is why you're getting the error that "something is already running"

though hmm... I'm a little confused why the frontend is trying to run with the prod config anyway 🤔

[2020-07-22 22:23] rberrelleza commented on #29
I'm trying to run papercups on as a container on our kubernetes cluster.

With production, what I meant is that I'm trying to get the port using an env var, like you have in prod.secret.exs.

[2020-07-22 22:46] reichert621 commented on #29
@rberrelleza my cofounder probably has more expertise around things like this 😅 we can probably hash this out more quickly over slack if you'd like to come by! https://join.slack.com/t/papercupsworkspace/shared_invite/zt-g7jq0pr5-z_nrk5JplOZ6TdGdIkmahQ

[2020-07-22 22:52] rberrelleza commented on #29
Will do! Feel free to close the issue and I'll follow up there.

[2020-07-22 22:52] cheeseblubber commented on #29
Just noticed `Something is already running on port 8080.` do you have something runnning on the container? If we tried to run it on another port like 7070 just as a test I wonder if it would work.

[2020-07-22 22:53] rberrelleza commented on #29
@cheeseblubber I tried, but got the same error. I think @reichert621 is right and the `PORT` env var is being used for both front and backend.

[2020-07-22 22:57] reichert621 commented on #29
if you changed this line https://github.com/papercups-io/papercups/blob/master/config/dev.exs#L19 to use the environment variable, then yes -- it'll use the same port for both :/

definitely something we can fix! just want to make sure this is the issue you're facing :)

[2020-07-22 23:21] rberrelleza commented on #29
@reichert621 that was the issue. setting $PORT was overriding both the backend and the frontend's port at the same time. I forgot that that react's webserver uses PORT.

[2020-07-22 23:39] reichert621 commented on #29
I forgot about that too 😅 thanks for flagging!

[2020-07-23 23:59] rberrelleza opened #30 "Docker deployment?"
I have an almost-functioning Dockerfile, happy to contribute it if this is something you are interested in supporting.

[2020-07-24 01:49] cheeseblubber commented on #30
Thanks Ramiro! Definitely if you open a pull request we'd be happy to accept it

[2020-07-24 01:49] cheeseblubber commented on #30
It definitely it is in our roadmap to support docker in the long run

[2020-07-28 20:05] cheeseblubber commented on #26
![connect_to_slack_fast](https://user-images.githubusercontent.com/4218509/88715795-eb714500-d0d2-11ea-84ad-acf0c2124f31.gif)

[2020-07-28 20:17] cheeseblubber commented on #26
![1600-slack-integration-fast](https://user-images.githubusercontent.com/4218509/88716918-a0583180-d0d4-11ea-93b3-12437ac51138.gif)

[2020-07-31 00:53] reichert621 opened #52 "Fix icon for "Logout""
We currently have a "settings" icon for the "Logout" button in the dashboard:
![Screen Shot 2020-07-30 at 8 51 12 PM](https://user-images.githubusercontent.com/5264279/88988307-82422b00-d2a6-11ea-837b-599b3a056cb5.png)

Here's the line it's on: https://github.com/papercups-io/papercups/blob/master/assets/src/components/Dashboard.tsx#L143

Find a more appropriate icon here: https://ant.design/compo

[2020-07-31 00:57] reichert621 opened #53 "Create user "Profile" tab under the "Accounts" section in the nav"
We'll keep this page simple for now... just a profile page with:
- an input for the user's name
- an input for the user's profile image url (we'll support image upload in a future ticket)

Let's create a new table `user_profiles` to store this data, with a `name` string field and a `profile_image_url` string field, along with a `user_id` reference to the `users` table.

Implement these API endpoin

[2020-07-31 01:04] reichert621 opened #54 "Include `account_id` in more Ecto (SQL) `where` clauses"
For API endpoints that should be secured (e.g. these: https://github.com/papercups-io/papercups/blob/master/lib/chat_api_web/router.ex#L52-L56) we need to make sure we're always limiting the data returned to the current user's `account_id`

The account id can be accessed on `conn.assigns.current_user` in each request like so:
https://github.com/papercups-io/papercups/blob/master/lib/chat_api_web/c

[2020-07-31 01:06] reichert621 opened #55 "Use Phoenix Presence to indicate when a customer is online"
This will require some tweaks to https://github.com/papercups-io/chat-widget to send over the `customer_id` when connecting to a socket. Once that's setup, we can start using Presence to detect when a customer is online, and use a little green badge or something to indicate so in the dashboard.

[2020-07-31 01:08] reichert621 opened #56 "Set up integration with Microsoft Teams"
Some folks have requested this integration, so let's do some investigation into how difficult it would be. (It sounds like it shouldn't be too difficult.)

Maybe see our Slack integration for some inspiration? https://github.com/papercups-io/papercups/blob/master/lib/chat_api/slack.ex

[2020-07-31 01:10] reichert621 opened #57 "Fix how we save IP addresses of customers"
Since we currently get very little info on the anonymous customers that interact with the chat widget, we save their IP addresses (so we can eventually do a location lookup)

At the moment, we use `conn.remote_ip` (https://github.com/papercups-io/papercups/blob/master/lib/chat_api_web/controllers/customer_controller.ex#L17), but this ~seems to only return private IP addresses.

Investigate this as

[2020-07-31 01:16] reichert621 opened #58 "Delete user invitation links after they are used"
Right now user invitations (from `user_invitations` table) never get deleted, but we should delete them after they are successfully used.

This is where we currently use it: https://github.com/papercups-io/papercups/blob/master/lib/chat_api_web/controllers/registration_controller.ex#L14

If the registration is successful, the `user_invite` record should be deleted.

[2020-07-31 01:18] reichert621 opened #59 "[Low priority] Prevent users from signing up with an expired invitation"
The `user_invitation` table has an `expires_at` field which should be taken into account when signing up. If the invite has expired, throw an error and let the user know.

[2020-07-31 01:20] reichert621 opened #60 "Set up factories for our tests to DRY them up"
See https://hexdocs.pm/ecto/test-factories.html

Currently a bunch of our tests have the same boilerplate code... let's try to DRY it up with factories!

[2020-07-31 01:23] reichert621 opened #61 "Fix Slack messaging if user reconnects to a different channel"
If a user starts a conversation in one Slack channel, and then reconnects their account to a different Slack channel, the following messages in that conversation thread get messed up.

We need to either:
1. Keep sending messages to the old thread
2. Start a new thread in the new channel

Option 1 makes it easier to see the history of a thread, but Option 2 still seems better (I wouldn't want to ha

[2020-07-31 20:24] reichert621 opened #63 "Support markdown in chat messages"
Maybe give this a shot? https://marked.js.org/#/README.md

This could also work: https://github.com/rexxars/react-markdown

First goal would just be:
- If I type `**Hello** _world_ www.papercups.io`
- I see: **Hello** _world_ www.papercups.io

[2020-07-31 22:10] reichert621 commented on #52
Fixed in https://github.com/papercups-io/papercups/pull/64

[2020-07-31 22:10] #52 closed

[2020-08-01 00:37] n1arash commented on #58
Hi,
I want to send a PR on this.
Isn't this better that we add a boolean flag for user invite and keep the record that will invalidate the invitation link and save the record in the database for future use like analytics or showing past invitations?

[2020-08-01 00:51] reichert621 commented on #58
hmm yeah @n1arash, good point -- maybe we can add a flag like you suggested or just update the `expires_at` field to the current time, and then make sure we check against expiration before allowing the invitation to be used? what do you think?

[2020-08-01 01:01] n1arash commented on #58
I think updating the `expires_at` field can do the job, and also we can send an appropriate error to the frontend if a user used the link again with a 403 status header.

[2020-08-01 01:11] reichert621 commented on #58
sounds perfect @n1arash

[2020-08-01 11:29] rlanga commented on #58
Hi,
I've done some sample modifications that delete the invite token after user creation is successful. I also split out the logic for cases when an invite token is included in the params and when it isn't. I think logic for #59 can be added to the create method for invite tokens. It could be modified to set the boolean flag to the invites as @n1arash mentioned.

Here's the [link](https://github.c

[2020-08-01 13:31] reichert621 commented on #58
@rlanga nice! your commit definitely looks like it solves the original issue, and i love the refactoring + test coverage 😁

i think what @n1arash mentioned might be a good idea though — instead of deleting the invite after it's used, it would be helpful to keep it around so we can have a record of which invites have been used vs not. so rather than deleting, we could set up a method like
[code]

o

[2020-08-01 18:04] cheeseblubber commented on #30
Merged in commit

[2020-08-01 18:04] #30 closed

[2020-08-03 02:06] reichert621 opened #72 "[Preview] Setting up Slack"
## Setting up Slack

If you plan on self-hosting Papercups, you'll need to set up your own Slack app if you want to handle messaging through Slack.

### Creating the app

- Go to https://api.slack.com/apps
- Click “Create New App”
- Name it whatever you’d like, and pick the Slack workspace you’d like to test it against

![](https://paper-attachments.dropbox.com/s_63895AAB3973EA701984146FF05B409388

[2020-08-03 02:08] #72 closed

[2020-08-03 07:04] n1arash opened #73 "papercup image on ducker hub"
I was trying to run the project using docker-compose but there is a problem Papercups image does not exist in the docker hub and it will fail to run.

https://github.com/papercups-io/papercups/blob/master/docker-compose.yml#L5

I believe that we need to build and push the latest image, based on repo tags to the docker hub using Github Actions or any other CI service.

[2020-08-03 10:43] rlanga commented on #58
Definitely sounds like a great idea! I could modify my code for this

[2020-08-03 13:19] reichert621 commented on #58
thanks @rlanga!

[2020-08-03 13:20] reichert621 commented on #73
thanks for flagging @n1arash!

@cheeseblubber can you take a look?

[2020-08-03 20:11] cheeseblubber commented on #73
Thanks I'll create a docker repository today! If you want to build it locally you can run `docker build . -t papercups` and then `docker-compose` up and you should be able to develop locally

[2020-08-04 02:23] reichert621 commented on #53
Done in #66

[2020-08-04 02:23] #53 closed

[2020-08-04 14:27] reichert621 opened #75 "Investigate XMPP support"
See this comment: https://elixirforum.com/t/an-open-source-alternative-to-intercom-drift-etc/33450/4

I'm not too familiar with XMPP, but wanted to kick off a discussion thread here so I don't forget about it :)

[2020-08-04 19:43] DannyFeliz opened #76 "Support real time message time"
It would be nice if the message time in the chat were real-time, you can archive that using a library like [timeago.js](https://github.com/hustcc/timeago.js), they support real-time render.

[2020-08-04 19:50] reichert621 commented on #76
great idea @DannyFeliz, we'll check it out :)

[2020-08-04 19:56] joaohf commented on #75
Hello, I was digging into how would be possible to integrate with XMPP, like ejabberd.

Some links:

https://docs.ejabberd.im/use-cases/#customer-chat-crm
https://livehelperchat.com/full-xmpp-chat-support-for-ejabberd-423a.html (see a demo in the bottom of the page)
https://github.com/LiveHelperChat/xmpp-chat

[2020-08-04 20:36] reichert621 commented on #58
btw @rlanga and @n1arash if you ever want to chat with us directly about this, feel free to join our slack or discord channels https://github.com/papercups-io/papercups#get-in-touch 😄

[2020-08-04 23:30] reichert621 commented on #75
thanks @joaohf this is super helpful!

[2020-08-05 02:02] cheeseblubber commented on #26
[
![Screen Shot 2020-08-04 at 7 01 59 PM](https://user-images.githubusercontent.com/4218509/89363441-0e789780-d685-11ea-9868-ae434200bf44.png)
](url)
![Uploading Screen Shot 20
![Screen Shot 2020-08-04 at 6 53 50 PM](https://user-images.githubusercontent.com/4218509/89363449-12a4b500-d685-11ea-9d4d-461bad4f6580.png)
20-08-04 at 7.01.17 PM.png…]()

[2020-08-05 02:06] cheeseblubber commented on #26
![Screen Shot 2020-08-04 at 7 01 17 PM](https://user-images.githubusercontent.com/4218509/89363629-88108580-d685-11ea-8f18-3e8240d77397.png)
![Screen Shot 2020-08-04 at 6 53 50 PM](https://user-images.githubusercontent.com/4218509/89363646-8f379380-d685-11ea-806e-6ef99c22d622.png)

[2020-08-05 02:10] cheeseblubber commented on #26
![Screen Shot 2020-08-04 at 7 09 59 PM](https://user-images.githubusercontent.com/4218509/89363889-1c7ae800-d686-11ea-9251-5967bda05115.png)

[2020-08-05 02:14] cheeseblubber commented on #26
![g10](https://user-images.githubusercontent.com/4218509/89364150-b5116800-d686-11ea-9c90-a771e4b73023.png)

[2020-08-05 05:17] cheeseblubber opened #78 "Profile picture not showing up"
![bug_with_showing_profile_picture](https://user-images.githubusercontent.com/4218509/89374450-46d99f00-d6a0-11ea-8a8f-43687938e493.gif)
![Screen Shot 2020-08-04 at 10 17 00 PM](https://user-images.githubusercontent.com/4218509/89374454-49d48f80-d6a0-11ea-8275-a37861062834.png)

Profile picture shows up in the demo page but doesn't show up when you install it separately on a different app

[2020-08-05 05:18] cheeseblubber commented on #78
![bug_with_showing_profile_picture](https://user-images.githubusercontent.com/4218509/89374504-64a70400-d6a0-11ea-97a7-d463c168401a.gif)

[2020-08-05 05:23] cheeseblubber commented on #78
Steps to reproduce:
1. Create account
2. add photo url
3. connect widget on your own website
4. Send message from Website
5. Reply to message from app.papercups.io

[2020-08-05 05:36] cheeseblubber opened #79 "Online status disappears after revisiting the page"
![Screen Shot 2020-08-04 at 10 33 34 PM](https://user-images.githubusercontent.com/4218509/89375528-b51f6100-d6a2-11ea-9a1d-2841274df284.png)

Refresh the page on the widget the online status disappears and online status doesn't reshow up

[2020-08-05 06:10] gdandersson opened #80 "Add support for webhooks"
Support for some kind of (web)hooks, for example when a chat is initiated and perhaps email has been entered, initiate hook which might return a list of orders from that customer (visible to the agents only, of course).

Or whenever a message is sent/received, a hook could look at the message and provide additional data (a simple regexp on the message might detect order numbers (x characters long

[2020-08-05 07:19] cheeseblubber commented on #80
Thanks for opening the issue! Which event would be the most useful to you? This way we can prioritize these and break them down to smaller chunks. Also is there a specific production use case you are interested in for your website?

[2020-08-05 07:49] gdandersson commented on #80
If email is required to start chat, then that. Customer clicks on chat icon, enters email and "chat" -> webhook is fired.

The use case we'd love to use is looking up orders in our ecommerce system, so that agents quicker can see the order(s) the customer most likely will ask about.

So webhook of https://ecommerce.com/webhooks/papercups?email=a@b.com returns
1234 https://ecommerce.com/backend/ord

[2020-08-05 15:17] reichert621 commented on #80
great idea @gdandersson! makes a lot of sense.

for this to be useful for you, it sounds like we would need to do the following:
- when a new conversation is started (or a customer is created/updated), send a webhook event with the customer data (e.g. email, etc) in the form of a `POST` request to your webhook endpoint
- your endpoint would pick up the event, and query the customer's order data
-

[2020-08-05 16:31] reichert621 opened #83 "Fix duplicate conversations created"
(This might be an issue in https://github.com/papercups-io/chat-widget)

Sometimes when we receive messages in the dashboard, we get duplicate conversations created with the same message (or empty messages)

<img width="926" alt="Screen Shot 2020-08-05 at 12 31 38 PM" src="https://user-images.githubusercontent.com/5264279/89439052-a32bd580-d717-11ea-8e1c-d0c524399d53.png">

[2020-08-05 19:07] reichert621 commented on #83
handled in https://github.com/papercups-io/chat-widget/pull/13 but still need to upgrade widget in production demo

[2020-08-05 20:39] reichert621 opened #85 "[Low priority] Consider removing `create_or_update`s"
Instead of doing a `create_or_update` for our user profile, user settings, widget settings, it might make more sense to just create these initial records when a user signs up for the first time and just do `updates` in the future.

See this thread: https://github.com/papercups-io/papercups/pull/74#discussion_r465968811

[2020-08-05 20:42] reichert621 opened #86 "[Low priority] convert `users` table id to UUID type"
(Instead of just an auto-incrementing integer)

[2020-08-05 20:43] reichert621 commented on #83
(will leave this open while we do some testing, but should be fixed now -- just want to confirm before closing)

[2020-08-05 21:18] reichert621 commented on #78
Fixed in https://github.com/papercups-io/papercups/pull/84

[2020-08-05 21:18] #78 closed

[2020-08-05 21:22] reichert621 commented on #79
@cheeseblubber I think this should be fixed now, can you verify when you get a chance?

[2020-08-05 22:26] reichert621 commented on #58
handled in https://github.com/papercups-io/papercups/pull/81

[2020-08-05 22:26] #58 closed

[2020-08-05 22:26] reichert621 commented on #59
handled in https://github.com/papercups-io/papercups/pull/81

[2020-08-05 22:26] #59 closed

[2020-08-06 00:50] cheeseblubber opened #87 "Add transactions during account creation"
During account creation we first create the account then the user. If the user creation fails then you will have an account thats created without a user attached.

Repro:
Register for account
Enter mismatch passwords or empty fields

There would be a new account created in the table but no users associated.

[2020-08-06 03:31] reichert621 commented on #87
a bit more info: the issue is in this method https://github.com/papercups-io/papercups/blob/master/lib/chat_api_web/controllers/registration_controller.ex#L38-L43

note that the account will be created even if the user creation fails -- this is what needs to be fixed

[2020-08-06 03:47] cheeseblubber opened #88 "Embedding email in slack with long message overflows the string"
![Screen Shot 2020-08-05 at 8 47 09 PM](https://user-images.githubusercontent.com/4218509/89488441-e0668680-d75c-11ea-807b-805cbd7f96fe.png)
![Screen Shot 2020-08-05 at 8 45 59 PM](https://user-images.githubusercontent.com/4218509/89488449-e9575800-d75c-11ea-987d-4040fb5bc3a8.png)

[2020-08-06 05:07] cheeseblubber opened #89 "Conversations should reopen if someone messages after you close the conversation"
When a person messages a closed message it should reopen the closed message. Right now it doesn't reopen and the message disappears.

[2020-08-06 05:07] cheeseblubber opened #90 "Redeploy shouldn’t trigger everyone to relogin"
Currently for the hosted version every deploy triggers a re login

[2020-08-06 05:09] cheeseblubber opened #91 "Cmd + enter to send message"
Having to press the send button every time is tedious. We should support cmd + enter and ctrl enter for windows equivalent shortcuts. We shouldn't have enter by default since longer messages you might want multiple lines and you don't want to accidentally send

[2020-08-06 05:13] cheeseblubber opened #92 "When responding from slack show 🙂 instead of :slight_smily_face"
When you send emoji from slack it shows up as string instead of emoji
![Screen Shot 2020-08-05 at 10 13 35 PM](https://user-images.githubusercontent.com/4218509/89493411-ed897280-d768-11ea-8afb-193b4e29e866.png)

[2020-08-06 06:16] cheeseblubber commented on #73
I've uploaded the docker-hub image here! https://hub.docker.com/r/papercups/papercups

Feel free to reopen if there are any other issues

[2020-08-06 06:16] #73 closed

[2020-08-06 08:15] shunkakinoki opened #93 "Future pricing model for the hosted version?"
Hi papercups!!!
came from HN, and I just LOVE your work
just wanted to say thanks for democratizing chat widgets, really means a lot for the internet community in general honestly

I just wanted to inquire about the pricing model for the hosted version, since I'm looking to migrate from Hubspot.
Is there a general ballpark on how much the hosted version will cost a month for the enterprise?
Thanks

[2020-08-06 11:28] gdandersson commented on #80
In my world (with XMPP), I assume the hook is async so when data is returned, it's added as a message/internal note which is only sent to the agent.

I don't think any API endpoints to be exposed for this feature. I'm thinking a HTTP request to a specified URL and whatever is returned, is added as this note/message.

Guessing it could be more advanced with the answer having to be in some json/xml/

[2020-08-06 13:46] reichert621 commented on #88
There are two things we need to fix here:
- supporting better formatting for links like this that get sent from slack
- handling long text overflowing (this is just a matter of tweaking some css)

[2020-08-06 16:44] reichert621 commented on #83
hmm seems like this is still happening 😞 need to dig in more

[2020-08-06 17:22] reichert621 commented on #80
gotcha, so just setting up a webhook event to be fired off via HTTP request to a specified URL when a conversation is started will be good enough for now?

[2020-08-06 18:26] gdandersson commented on #80
As long as the returned data is sent to the agent as a message or shown somehow.

[2020-08-06 22:06] cheeseblubber commented on #93
Hi the pricing model for the near future is free for two seats/accounts and 15 dollars per additional user. We are thinking of adding more features and charging differently based on usage. We're new at pricing so theres a lot of things we're gonna experiment with but we intend to grandfather users who sign up with us now with the current price.

[2020-08-06 22:07] #93 closed

[2020-08-06 22:37] cheeseblubber opened #94 "Telegram support"
Integrate with Telegram, be able to reply through telegram

[2020-08-06 22:58] cheeseblubber opened #95 "Set working hours"
Users want the ability to set working hours and automatically prompt for Email address when they are away.

[2020-08-06 23:09] cheeseblubber opened #96 "Prompt to collect email at the beginning of the conversation"

[2020-08-07 01:37] cheeseblubber opened #98 "Browser validation for miss match passwords"
When a user enters the wrong confirm password on registration page we should tell them that it is miss matched on the browser side

[2020-08-07 02:50] cheeseblubber opened #99 "First chat message sent is slow"
When you send a message from a new browser or incognito the first messages is much slow the normal.

[2020-08-07 20:58] reichert621 commented on #91
Done!

[2020-08-07 20:58] #91 closed

[2020-08-08 14:06] reichert621 opened #102 "Reduce delay when closing a message"
Need to figure out the best UX for this -- didn't want the message disappearing to feel too jarring, but don't want it to feel slow either... maybe just a quick animation?

[2020-08-08 15:57] reichert621 opened #103 "It's not obvious that invite URLs are one-time use only"
We should either make this more clear, or just allow invite URLs to be used as many times as people like until they expire

[2020-08-08 16:42] zpeters opened #105 "Webex Teams integration"
I would like to see (and contribute to) an integration with Webex Teams.  Similar to Slack, i think this could be a great connectivity option for many organizations.

[2020-08-08 16:50] reichert621 commented on #80
gotcha -- in that case, I think the best way to do that would be via an API endpoint we expose :)

[2020-08-08 16:51] reichert621 commented on #105
great idea @zpeters! we're still scrambling to get all the basic stuff working, but will definitely want to set up this integration soon :)

[2020-08-08 16:53] zpeters commented on #105
sounds great, thanks.  I will look through the issues list and see if there is anything that would be a get entry issue.  Anything you are really needing at the moment?

[2020-08-08 17:02] #63 closed

[2020-08-08 17:02] #55 closed

[2020-08-08 17:05] reichert621 commented on #105
here are some good ones to start off with! https://github.com/papercups-io/papercups/labels/good%20first%20issue

[2020-08-08 17:05] reichert621 commented on #79
closing, feel free to reopen if you still see this happening

[2020-08-08 17:05] #79 closed

[2020-08-08 17:14] reichert621 opened #106 "Figure out how to map Slack users to Papercups users"
...so that when we respond from Slack, it knows who to show in the chat widget.

I'm hoping there's a "clever" way we can just match based on email, but if not we may need to set up a little UI to do it manually :/

(currently we just fall back to showing the sender as whoever the user was that set up the Papercups account)

[2020-08-08 17:15] reichert621 opened #107 "If customer email is available, send message to them via email if they are offline"
Right now if a customer goes offline and we respond, they won't see the message unless they come back to the page and open the widget -- would be nicer if they could get answers to their questions/comments via email if possible.

[2020-08-08 21:42] reichert621 opened #108 "Draft a public roadmap of upcoming/planned features"
Need to make our prioritizations a bit more clear

[2020-08-09 06:58] cheeseblubber commented on #108
https://github.com/papercups-io/papercups/wiki/Roadmap

[2020-08-09 10:04] gergely-42droids commented on #94
I am wondering if I could be any help setting this up. let me know.

[2020-08-09 18:10] kolharsam commented on #87
@cheeseblubber @reichert621 Is this issue taken, if not then I'd like to take this up :-)

[2020-08-09 23:38] cheeseblubber commented on #87
@kolharsam definitely open we'll hold off on working on it. we'd be happy to take a pull request!

[2020-08-10 05:44] kolharsam commented on #87
@cheeseblubber I'm a beginning to learn elixir, so I hope this is not an urgent requirement, if it is, then I don't mind taking up another task

[2020-08-10 05:55] #98 closed

[2020-08-10 14:15] reichert621 commented on #87
@kolharsam it's not too urgent :) you'll probably want to use something like this: https://hexdocs.pm/ecto/Ecto.Multi.html

let us know if you need any help!

[2020-08-10 15:14] reichert621 commented on #108
seems like a good start! but I'd like to write up something that's a bit higher level, maybe something like:

### V0
- In our v0, we made it possible for our users to embed our chat widget on their websites so that they could more easily interact with their own customers.
- For our chat widget, we set up an HTML snippet as well as a React component to make it as easy as possible to get started.
-

[2020-08-10 18:14] fabborke opened #113 "Add ability to delete a conversation"
For privacy reasons there should be the possibility to delete a conversation from the server.

[Edit from @reichert621]
Before we can fully support this, we'll need to fix some foreign key issues... namely, when a conversation is deleted, we should probably auto-delete all associated messages/slack threads/etc

[2020-08-10 18:16] fabborke opened #114 "Show notifications of closed conversations"
There are no notifications for closed conversations in the dashboard. Only an email is sent. Closed conversation notifications should still be displayed.

Alternatively, closed conversations should no longer be displayed in the client and a new conversation should be started.

[2020-08-10 18:33] reichert621 commented on #113
great idea 👍

[2020-08-10 18:33] reichert621 commented on #114
we plan on re-opening a conversation if a new message gets sent after it's closed :) (see https://github.com/papercups-io/papercups/issues/89)

[2020-08-10 23:40] cheeseblubber opened #117 "Invitation is broken"
![Screen Shot 2020-08-10 at 4 35 28 PM](https://user-images.githubusercontent.com/4218509/89841372-94825b80-db27-11ea-9bc4-ee15c2c392ba.png)

Company name is required

[2020-08-11 02:41] #117 closed

[2020-08-11 18:26] cheeseblubber opened #121 "Add ability to remove users from team"

[2020-08-11 18:27] cheeseblubber opened #122 "the chat box should grow if the user types more than 1 line"
Right now if you type in more than one line it starts scrolling

[2020-08-11 19:18] reichert621 commented on #121
hmm I wonder if we should add "roles" to users first, so that only admin can do this? or should anyone on a team be able to remove anyone else?

[2020-08-11 19:19] reichert621 commented on #122
(will need to be handled in https://github.com/papercups-io/chat-window)

[2020-08-11 21:52] reichert621 commented on #114
fixed in https://github.com/papercups-io/papercups/pull/116

let me know if this is still an issue!

[2020-08-11 21:52] #114 closed

[2020-08-11 21:53] reichert621 commented on #103
Temporarily fixed by no longer auto-expiring invite URLs

[2020-08-11 21:53] #103 closed

[2020-08-11 21:54] #89 closed

[2020-08-11 22:03] #88 closed

[2020-08-11 22:04] reichert621 commented on #88
(fixed in https://github.com/papercups-io/chat-window/commit/fef4c7106ef59673b7a4e7722092a5fc33c8c724)

[2020-08-12 17:47] masonhensley opened #126 "Google Tag Manager Issue / Broken in Chrome?"
Hello,

I just did a fresh install on heroku with the deploy button.

I'm getting an error in chrome, even when I turn off ublock origin.

With uBlock on:
![image](https://user-images.githubusercontent.com/534165/90048570-b869ac80-dca1-11ea-841c-1bafeadb0241.png)

With uBlock off:
![image](https://user-images.githubusercontent.com/534165/90049068-4f366900-dca2-11ea-9b97-4d5ae825ebf8.png)

[2020-08-12 18:04] masonhensley opened #127 "Ability to Disable Registration"
Hello,

I couldn't find a way to disable registration after creating the initial account (also tried to look through the source/docs).
Is there a way to prevent anyone from creating a new org on my deployment?

If it hasn't been build/spec'd yet, here's a potential direction:

**As an** Admin
**I want** to restrict outside registration
**So that** my instance of papercups is secure

Options:
- env

[2020-08-12 19:32] masonhensley commented on #54
Potentially related to #127

[2020-08-12 19:45] masonhensley opened #128 "User Metadata + documentation"
Hello again, writing up info from discord convo with Alex.

Use case, Jane Smith has logged into my SASS app, I'd like to be able to pass in the following to the JSON snippet/metadata if possible... guessing this is on your roadmap if this would be possible - https://github.com/papercups-io/papercups/issues/107:

[code]

Notes
- first name could feed into the bot saying "Hello Jane" if she opened

[2020-08-12 20:07] masonhensley commented on #96
... should skip if it's provided in the metadata.

Related to #128

[2020-08-12 20:10] reichert621 commented on #96
need to update the docs, but this should be possible now with the `requireEmailUpfront` prop: https://github.com/papercups-io/chat-widget/blob/master/src/components/EmbeddableWidget.tsx#L52

(will do some additional testing before closing this)

[2020-08-12 20:28] reichert621 opened #129 "UX for closing conversations is clunky"
- after a conversation is closed, it automatically highlights the most recent conversation (not sure if this is the ideal behavior, maybe it should just highlight the next/previous conversation in the list)
- the delay is annoying
- the notification is probably not necessary every time
- add X icon to conversation items on the left to close from there as well

[2020-08-12 21:04] cheeseblubber commented on #129
+1

[2020-08-12 21:52] cheeseblubber opened #130 "Support image upload"
You should be able to drag an image and upload it through chat

[2020-08-13 11:34] MrSaints opened #131 "E-mail initiated chat"
Awesome work on the launch!

I was wondering if y'all have any thoughts on or plans on supporting chats initiated by e-mail?

There already seems to be plans for continuing a chat through e-mail (https://github.com/papercups-io/papercups/wiki/Roadmap#after-hours), so this seems like a nice enhancement to it.

[2020-08-13 13:43] reichert621 opened #132 "Speed up loading time of conversations"
Now that we have a lot more conversations coming in (and I also happen to be on a slower connection), I'd really like to figure out how to optimize some of these queries and speed things up in general :)

One obvious thing we can fix: right now we query for every message of every open conversation upfront -- we really only need the most recent message of every conversation (e.g. to show the messag

[2020-08-13 13:44] reichert621 opened #133 "Add some keyboard shortcuts to the dashboard"
For example, shortcuts for:
- Closing/prioritizing a conversation
- Moving up/down between conversations

[2020-08-13 13:52] reichert621 opened #134 "Make it easier/possible to perform basic actions through our API"
For example:
- Sending a message
- Closing/prioritizing/assigning a conversation
- Pulling customer data

This will also make it easier for us (and our users!) to do bulk updates like close a bunch of spam conversations, or hook up to chatbots via the messages API, etc

[2020-08-13 16:38] jalberto commented on #107
I also will like to see the possibility of continue conversations by email.

I suggest SMTP as a base integration (as most providers have this option) then add integrations with other providers (my prefered provider is Mailgun as it has a nice API and EU/US servers)

[2020-08-13 16:42] lukewaring commented on #92
Hi Alex and Kam, I saw your launch on HN and am really excited about what you're building! I'm new to Elixir and have been looking for a project. I'd love to take a crack at this issue. Is there anything else I should be aware of before diving in? Thank you!

[2020-08-13 16:45] reichert621 commented on #92
hey @lukewaring! would love it if you contributed 😄

I just realized this ticket is actually done already, but let me know if you need help finding a good one to start with!

btw have you already gotten your development environment set up? feel free to ping us on slack if you need any help getting started https://github.com/papercups-io/papercups#get-in-touch

[2020-08-13 16:45] #92 closed

[2020-08-13 16:46] reichert621 commented on #131
hey @MrSaints! can you elaborate a bit more on how you would like this to work?

would your customer send an email to a special address you specify, and then have this show up in the papercups dashboard so you can reply there?

[2020-08-13 16:54] reichert621 opened #136 "Slack integration doesn't work with private channels"
For some reason, Slack isn't letting us connect our app to private channels... I did some debugging and couldn't figure out what was going on, so I might just need to contact Slack support to help out.

In the meantime, it would be good to show an alert on the Integrations page indicating that private channels do not currently work.

[2020-08-13 16:57] reichert621 opened #137 "Support 2FA in auth flow"
Let's make our auth flow better with 2 factor auth!

[2020-08-13 17:55] MrSaints commented on #131
Hey @reichert621, yes, that's exactly what I had in mind :)

[2020-08-13 18:16] reichert621 commented on #131
makes sense! we definitely want to prioritize our email integrations since we've been getting a lot of feedback about how important that is to people :)

[2020-08-14 00:06] reichert621 opened #138 "Add billing tab/page in dashboard"
Once we start charging users on our hosted version, we'll need a place where they can enter their CC info.

TODOs:
- Create a Billing page in the dashboard, with a Billing tab in the side nav
- On the page, user should be able to enter and save payment info
- User Stripe Elements to collect payment info
- Figure out a way to attach payment info to the given account
  - This will probably look some

[2020-08-14 00:13] reichert621 opened #139 "Add chat widget component support for Expo/React Native"
A lot of people want to be able to use our chat widget in Expo/React Native -- this should be possible with a few tweaks to our web widget.

TODOs:
- Probably need to create a separate repo from https://github.com/papercups-io/chat-widget and remove all browser-specific code (e.g. anything that uses `localStorage`, `window`, or `document`)
- Remove theme UI dependency, try `theme-ui-native` or som

[2020-08-14 05:02] cheeseblubber opened #140 "Add ability to change the widget icon"

[2020-08-14 09:29] MrSaints opened #141 "Facebook chat / Messenger support"
Similar to https://github.com/papercups-io/papercups/issues/94, but for Facebook.

This is particularly useful if you are operating a Facebook page because you can respond to support requests over your page's messenger.

[2020-08-14 13:19] reichert621 opened #142 "Change "Bot" in chat greeting to [company name] from account"
Don't want people to think they're just chatting with a bot. Plus the bot icon looks kinda ugly.

[2020-08-14 13:25] reichert621 opened #143 "Add read receipts"
Be able to tell if/when the other person in the conversation has seen the message.

(Not sure the best way to implement this yet, may want to flesh out the details here first)

[2020-08-14 13:59] reichert621 opened #144 "Save widget settings onChange (with debounce) instead of onBlur"
If someone changes an input and then refreshes the page, the latest value won't persist because the "blur" event wasn't fired.

Let's handle updating the widget settings `onChange` (with maybe a 400ms debounce) instead, so the save happens automatically more or less.

All the changes will be in this file: https://github.com/papercups-io/papercups/blob/master/assets/src/components/account/GettingSt

[2020-08-14 14:00] reichert621 commented on #144
@oddadmix let me know if you wanna take this!

[2020-08-14 19:19] Oddadmix commented on #144
Please assign it and I will work on it.

[2020-08-14 20:06] ZmagoD commented on #121
I would like to work on this but I have few questions how should this behave.

- Who is the the admin of the account the one that create it?
- What happen if there is an account with many users and the one that is the admin leaves the company where he/she works, should he/she be able to grand the admin privileges to other user?
- If this is the case then can an admin remove another admin? Maybe in

[2020-08-14 20:08] reichert621 commented on #121
hey @ZmagoD! I think we still need to figure out the answers to your questions before we can start working on this -- I would hold off on this until we sort out how roles should work 😅

[2020-08-14 20:09] reichert621 commented on #140
@cheeseblubber mind elaborating on this? i.e. do people want to pass in an image, svg, or what? do they also want control over the "x" icon?

[2020-08-14 20:10] reichert621 commented on #113
(need to QA this before closing)

[2020-08-14 20:27] cheeseblubber opened #146 "Add typing indicator"

[2020-08-14 21:09] Oddadmix commented on #144
@reichert621, PR created
https://github.com/papercups-io/papercups/pull/147

[2020-08-14 21:17] cheeseblubber opened #148 "Flash number of unread messages on the top of tab"
We currently display the number of unread messages at the top of the tab, but we should enhance this by making it "flash" to draw the user's attention.

Old example:
![118009002_942090216255467_1862770315944140461_n](https://user-images.githubusercontent.com/4218509/90293426-e1707580-de38-11ea-8570-d739519586a1.png)

[2020-08-14 21:19] josephecombs commented on #148
(This feature should mimic the way Brex "flashes" the page Title to draw the user's attention)

[2020-08-15 00:21] cheeseblubber opened #149 "Auto assign conversation to yourself when you respond to the message"
Should only happen on the first response

[2020-08-15 00:25] cheeseblubber opened #150 "Improve how we collect email in the chat widget"
Let's factor in if any messages have been sent yet, rather than just looking to see if a customerId exists already

[2020-08-15 00:29] cheeseblubber opened #151 "Continue over email"

[2020-08-15 12:07] sladyn98 opened #152 "Collect Name using the Web-Widget"

[2020-08-15 17:59] kolharsam commented on #87
Hi @reichert621, @cheeseblubber this is what I have done so far:

[code]

Am I heading in the right direction? Could I get some feedback on this?

[2020-08-15 18:35] Oddadmix commented on #144
@reichert621 I can take up more UI issues/tasks. Let me know

[2020-08-15 23:30] reichert621 commented on #144
thanks @Oddadmix i'll cc you in any good UI issues that come up :)

[2020-08-16 13:30] lukewaring commented on #92
Hi @reichert621 thanks for the update! I think I'm set on my environment. I should have some more time later this week to take a closer look at the open issues. I'm happy to work on the front or backend. I'll touch base with you on slack with any questions. Thanks!

[2020-08-16 14:39] reichert621 commented on #152
hi @sladyn98! can you elaborate a bit on what the ideal flow would look like for this?

[2020-08-16 14:40] #144 closed

[2020-08-16 18:00] ruruiye opened #155 "[feature request] add support for integration with DingTalk or WeChat Enterprise"
I am not familiar with erLang, but that's two important client.

[2020-08-16 20:20] reichert621 opened #156 "Rename "shout" event to "message:created""
This name is just the default event used when generating new channels in Phoenix, but let's make our event names a bit more descriptive... we already have `conversation:created` and `conversation:updated` events, so let's be consistent and change `shout` to `message:created`.

[2020-08-16 20:21] reichert621 commented on #87
hey @kolharsam — I'm a bit busy today, but let me take a look at this tomorrow :) sorry for the delay!

[2020-08-17 01:34] reichert621 opened #157 "Add company name to Account Overview page"
Show the company name on the account overview page and make it editable (see user profile for editable input examples)

Let's add it in this section:
<img width="945" alt="Screen Shot 2020-08-16 at 9 32 04 PM" src="https://user-images.githubusercontent.com/5264279/90349518-2991c280-e008-11ea-8191-21e02d310725.png">

[2020-08-17 01:35] reichert621 opened #158 "Show current user's email in profile page"
For now let's just show it, we don't want to make it editable until we have a better email verification flow.

This is the section we want to show it in:
<img width="948" alt="Screen Shot 2020-08-16 at 9 32 16 PM" src="https://user-images.githubusercontent.com/5264279/90349578-62ca3280-e008-11ea-9aea-794ff0026897.png">

[2020-08-17 03:31] heyarviind opened #159 "Chat icon is in the middle of the window, not in the bottom"
I have installed it on my nuxt app using Tailwind CSS and when I installed papercups, the chat icon got placed in the middle of the window, not in the bottom.

See screenshot for the reference

<img width="409" alt="Screenshot 2020-08-17 at 8 56 48 AM" src="https://user-images.githubusercontent.com/21043614/90354871-2cbc9b00-e068-11ea-928a-d1bb9fd23e70.png">

[2020-08-17 04:11] reichert621 commented on #159
hey @heyarviind! sorry to see you're having issues 😓 it's a little hard for me to tell what's going wrong from the screenshot -- is there a way you can share a link or take a screenshot of what the CSS looks like for the chat icon component?

[2020-08-17 13:51] TDRMinecraft opened #161 "Can you i run a Modified Version on my Server?"

[2020-08-17 13:54] reichert621 commented on #161
hey @TDRMinecraft! can you provide some more details around what you would like to modify?

you can certainly fork the repo, modify the code, and deploy it to your own server :)

[2020-08-17 13:56] heyarviind commented on #159
Sorry, I got the issue and it was from my end

[2020-08-17 13:56] #159 closed

[2020-08-17 13:56] TDRMinecraft commented on #161
Sorry just in the Moment my Problem disappeared... Sorry @reichert621

[2020-08-17 13:57] reichert621 commented on #159
@heyarviind mind letting me know what the issue was so that other people can avoid it in the future? 😄

[2020-08-17 13:58] #161 closed

[2020-08-17 14:00] heyarviind commented on #159
I was setting the height of  "body > div > div" to 100% which was overwriting papercups' widget CSS. I don't know why I did this in the first place 😅

[2020-08-17 14:01] reichert621 commented on #159
I see! thanks for explaining 👍 we should probably fix the widget so it's unaffected by that anyway 😛

[2020-08-17 14:05] heyarviind commented on #159
Yes, but if someone would change CSS just by doing body > div > div then a lot of things can be affected. We can find the solution for this too.

Anyways, the widget is live at https://helppie.me/

[2020-08-17 14:13] reichert621 commented on #159
awesome! by the way if you want to customize the widget to match the colors on your website, you can set `primaryColor: '#5E23E2'` so it shows up as purple :)

[2020-08-17 14:15] heyarviind commented on #159
Yes I did it, you can check now ☺️

[2020-08-17 14:17] heyarviind commented on #159
Everything is awesome except the message sending time. I am opening an issue and try to raise a PR if I am able to solve it

[2020-08-17 14:18] reichert621 commented on #159
good to know, is the issue that the message sending is slow, or the time is incorrect?

[2020-08-17 14:19] heyarviind opened #162 "Should show the message in window instantly, not after it is sent successfully"
When I send a message, it takes 2-3 seconds to appear in the chat window after I hit enter.

It should show instantly in the chat window for better UX and keep on sending in the background

[2020-08-17 14:20] heyarviind commented on #159
message sending is slow, you can refer to this issue https://github.com/papercups-io/papercups/issues/162

[2020-08-17 14:22] reichert621 commented on #162
thanks for reporting this @heyarviind -- looks like this is similar to https://github.com/papercups-io/papercups/issues/99

i'll try to fix it today!

[2020-08-17 14:23] reichert621 commented on #159
thank you!

[2020-08-17 14:23] heyarviind commented on #159
plus I am using papercups on my website in return I can offer a premium package for free of https://helppie.me

let me know if you need it anytime

[2020-08-17 16:38] reichert621 opened #163 "Add `sent_at` field to `messages`"
This way we can see how long messages are taking to get successfully created/sent (i.e. by comparing `sent_at` vs `inserted_at`/`created_at`)

[2020-08-17 20:26] #102 closed

[2020-08-17 22:18] rosinghal opened #165 "Add agent's availability in chat widget"
It would be helpful for users to see if any agent is online. We can even have offline mode.

Currently there is nothing shown irrespective of agent's availability.

[2020-08-17 22:27] reichert621 commented on #165
good idea @rosinghal! what do you think is the best way to display this information in the chat?

[2020-08-17 22:29] #163 closed

[2020-08-17 23:12] lukewaring commented on #157
Hi, is this a time-sensitive issue, or is there anything else I should know? I worked on it a little today and have everything functioning except getting the updates to persist properly. I'm aiming to wrap it up this week but just wanted to make sure it wasn't something more pressing. Thanks!

[2020-08-17 23:27] reichert621 commented on #157
hey @lukewaring! it's not _too_ urgent, but definitely something I'd like to get done by end of week if possible :) feel free to open a WIP pull request in the meantime if you want!

[2020-08-18 01:03] #162 closed

[2020-08-18 02:07] #99 closed

[2020-08-18 02:08] reichert621 commented on #162
@heyarviind this should be fixed now, but let me know if you have any issues!

(btw if you're using the React component of our chat widget, you might want to upgrade to version `1.0.25` 😄 )

[2020-08-18 02:42] heyarviind commented on #162
I am using the vanilla javascript version not react version so I am good :)

I will test it out and let you know

[2020-08-18 02:55] heyarviind commented on #162
Working so smooth now 😎. Thank you for fixing it

Cheers

[2020-08-18 03:11] reichert621 commented on #87
@kolharsam I'm also new to `Ecto.Multi`, but I gave it a shot like this:
https://github.com/papercups-io/papercups/pull/167/files

basically my transactions looks like:
[code]

I'm honestly not sure if this is the "best" way to do it, but it seems to work! 😛 (hopefully that helps)

[2020-08-18 03:11] reichert621 commented on #162
glad to hear it! 🎉

[2020-08-18 09:34] nt7 opened #168 "Mattermost instead of Slack"
Hi,

I wanted to ask if there is a way to chat via Mattermost, whose webhooks work similarly compared to Slacks's webhooks.
Has this been tried yet?
The combination of both would be an optimal open-source solution for us.

[2020-08-18 11:47] kolharsam commented on #87
Since you've already made a PR for this, do I have anything to do?
If there's not much to do, could you point me to any other issue that might need work?

[2020-08-18 13:12] reichert621 commented on #87
you could still test it out and set up a PR for it and I'd be happy to merge yours instead of mine!

otherwise in terms of other issues, do you have a preference between backend vs frontend?

[2020-08-18 14:06] kolharsam commented on #87
Now, that you've already made a PR I can help you test and move on with this :)

and I would prefer backend :)

[2020-08-18 17:51] reichert621 commented on #168
Makes a lot of sense! We definitely want to make it easy to connect to Mattermost.

We're still trying to figure out which integrations to prioritize based on the feedback so far, but Mattermost will likely be near the top of that list :)

are you currently using Mattermost, or planning to soon?

[2020-08-18 17:52] nt7 commented on #168
Great to hear, yes we are currently using MM

[2020-08-18 18:16] reichert621 commented on #168
thanks @nt7! at the moment the way our Slack integrations works is by creating a new "thread" for every new conversation started via Papercups -- I did a bit of research into Mattermost and it ~seems like they don't currently support adding/reading messages from threads via their webhooks :(

so we might have to take a slightly different approach... maybe we'll have to create a new "channel" for e

[2020-08-18 18:20] nt7 commented on #168
You can "reply" to a single message to [create a thread](https://docs.mattermost.com/help/messaging/sending-messages.html#replying-to-messages).

I think it works similar in Slack.

I wouldn't create a new "channel" for every conversation, imo.

[2020-08-18 18:24] reichert621 commented on #168
yup, I noticed you can reply to messages to create a thread, but I'm not seeing anything in the webhook event that points to the appropriate thread 😕 (and I agree that creating a new channel per conversation is not ideal... would really like to figure out how to get it working with threads)

for example, when i look at the webhook event, this is what i see for the first message:
[code]
...and this

[2020-08-18 18:40] nt7 commented on #168
Interesting...
Yeah, this seems to not be a thing in MM (yet) :(

https://github.com/mattermost/mattermost-server/issues/10463

https://github.com/mattermost/mattermost-plugin-jira/issues/492

[2020-08-18 20:05] reichert621 commented on #168
boooo... I guess we'll have to figure out a workaround for the time being 😞

[2020-08-18 20:39] MuhammadMullah opened #172 "Emoji's On the Message Box"
Hi All,

How about some ability to have the user put some emojis whenever they are typing their message on the message box as a form of expression.

[2020-08-18 20:53] reichert621 commented on #172
hey @MuhammadMullah! we currently have basic emoji support (see https://github.com/papercups-io/papercups/pull/124)

for example, if you type :), <3, `:tada` you should see 😄 ❤️ 🎉  -- is this what you mean?

[2020-08-18 21:09] MuhammadMullah commented on #172
No, I meant as in having like a button beside the send button with an option of different emoji signs. Personally I did not realize its there and also it could be difficult and tiresome for someone to know/write that just to get an emoji

[2020-08-18 21:11] MuhammadMullah commented on #172
Like how would I know what I am suppose to type just to get a specific emoji e.g `thumbsup`

[2020-08-18 21:11] reichert621 commented on #172
ah I see 👍 so maybe we could add something like this? https://github.com/missive/emoji-mart

[2020-08-18 21:26] reichert621 commented on #155
makes sense! is one more important than the other?

[2020-08-18 21:28] reichert621 commented on #141
@MrSaints sounds interesting! how would this work if someone was messaging you through your website and didn't have a facebook account? (my assumption is that facebook messenger can only accept messages from people who have facebook authenticated, right?)

[2020-08-18 21:28] #133 closed

[2020-08-18 23:29] #138 closed

[2020-08-19 03:03] ruruiye commented on #155
if in China, both are important. I will take a look if I have time about how to integrate.

[2020-08-19 03:09] reichert621 commented on #155
happy to look into it! maybe to keep things relatively simple, we could start with just pushing messages from Papercups to WeChat/DingTalk, and then figure out how to handle routing replies in a later update?

[2020-08-19 05:56] rosinghal commented on #165
@reichert621
**When agents are available**
Open chat window - 'Agents availlable'
Close chat window - show default color

**When agents are not available**
Open chat window - 'Agents not availlable'
Close chat window - gray color the chat icon

[2020-08-19 10:51] MuhammadMullah commented on #172
yes exactly @reichert621

[2020-08-19 13:58] MrSaints commented on #141
@reichert621 Oh, I was thinking more in terms of simply initiating the conversation from a Facebook chat :) Apologies if this is sort of a non-goal for this project.

But I can foresee a more complex integration involving someone being signed into Facebook, and initiating it from an embeddable on the website too, though I'm not sure what the limitations are in terms of Facebook's API, and SDKs (ht

[2020-08-19 14:20] reichert621 commented on #141
@MrSaints oh i see! so you mean if someone initiates a chat from your facebook page, the message can be passed through papercups?

[2020-08-19 15:37] reichert621 opened #173 "Create Wordpress plugin for embedding chat widget"
Let's try to make it as easy as possible to embed our chat widget on Wordpress sites 💪

(cc @ZmagoD thanks for the idea!)

[2020-08-20 13:16] reichert621 opened #176 "Improve Slack messages with more customer info"
Instead of just ":wave: Customer: hello" we should show the customer name/email if available

[2020-08-20 14:23] MrSaints commented on #141
@reichert621 Yup :) And responses will be passed back through to the ongoing direct message on Facebook.

[2020-08-20 18:31] cheeseblubber opened #178 "Programmatically expand the widget from react component"

[2020-08-20 20:01] reichert621 commented on #127
hey @masonhensley! sorry for the delay on this -- we'll probably start off with just an environment variable like you suggested, but long term we'd like to have a better UI for managing this kind of thing :)

to check if other instances have been registered, you would probably have to query your db through heroku -- happy to help you figure that out if you need!

[2020-08-22 12:34] ruruiye opened #180 "[feature request] disable signup, instead create a user when init"
papercups is a great software! I am look into the code for a while now, and want to deploy a instance into our company as customer support. but there is some issue came for a standard alone deployment:

Since our system need to access via internet, which means the login page and signup page is also available via internet, but in our case, we don't want to allow signup, instead we just need one acc

[2020-08-22 16:54] reichert621 opened #181 "Supporting uploading images/attachments to messages in chat"
A lot of people have requested the ability to send screenshots in particular. I guess a workaround we can recommend in the meantime is to just upload images to certain websites and share the links, but we should definitely support uploading images/attachments to messages at some point.

[2020-08-22 17:16] reichert621 opened #182 "Display customer metadata in dashboard"
Can probably start off simple here, just with a tooltip or something in the conversation header that shows metadata like `current_url`, `browser`, `os` etc (stuff we already store)

[2020-08-22 17:30] reichert621 opened #183 "Display customer metadata in initial Slack message"
Include whatever metadata we store automatically, e.g. `current_url`, `browser`, `os`, etc.

[2020-08-24 16:43] reichert621 commented on #168
hmm interesting! I'll check it out 🙂

[2020-08-25 04:16] MuhammadMullah commented on #180
yeah, I think I agree. We should probably the admin invite other users. This also reminds me of another feature which is part of the admin's roles. let me create a ticket for that

[2020-08-25 04:24] MuhammadMullah opened #187 "ADMIN CAN SUSPEND AND UNSUSPEND AN ACCOUNT"
Going through the issues, I came across issue https://github.com/papercups-io/papercups/issues/180 which reminded me of another feature.

As an admin, apart from inviting users, I should also be able to suspend/unsuspend users who belong to my company. When a user is suspended they can not be able to log in and probably get informed with a message that their account has been suspended.

This is in

[2020-08-25 13:22] reichert621 commented on #180
thanks @MuhammadMullah!

[2020-08-27 19:28] kolharsam commented on #87
@reichert621 I think you can close this right? PR https://github.com/papercups-io/papercups/pull/167 resolved this, right?

[2020-08-27 19:47] reichert621 commented on #87
yup I'll close this now! we've been a bit busy with improvements on the chat widget + slack integration, so i'm not sure which backend tasks would be best to tackle at the moment 🤔 but if you see any issues that look interesting to you, let me know!

[2020-08-27 19:47] #87 closed

[2020-08-27 20:13] #157 closed

[2020-08-27 20:13] #182 closed

[2020-08-27 20:13] #183 closed

[2020-08-27 20:14] reichert621 commented on #139
done in https://github.com/papercups-io/chat-widget-native

[2020-08-27 20:14] #139 closed

[2020-08-27 20:15] #134 closed

[2020-08-27 20:15] #129 closed

[2020-08-27 20:16] reichert621 commented on #127
closing for now, feel free to reopen if you notice any issues with this!

[2020-08-27 20:16] #127 closed

[2020-08-27 20:17] reichert621 commented on #80
@gdandersson basic support for webhooks is done :) see the docs: https://github.com/papercups-io/papercups/wiki/Event-Subscriptions-with-Webhooks

[2020-08-27 20:17] #80 closed

[2020-08-27 20:25] kolharsam commented on #156
@reichert621 I could take a stab at this?

[2020-08-27 20:53] reichert621 commented on #156
sure @kolharsam! just wanted to note -- after looking into this a bit more, we'll want to keep the `"shout"` event around for backward compatibility, so basically what we want to do in this ticket is make sure both `shout` and `message:created` events are handled the same :)

[2020-08-28 05:56] gdandersson commented on #80
Blimey, very very nice!

[2020-08-29 22:25] henrymori commented on #57
I'll take a stab at this if it's not taken yet!

[2020-08-30 01:47] reichert621 commented on #57
yes please @henrymori! (and as an added bonus, if you know of any good APIs to get locations from IP addresses, let me know 😬)

[2020-08-30 16:22] henrymori commented on #57
Sounds good, thanks! I have some ideas on reverse geocoding I can kick around once we get the IP addresses accurately captured (at that point, we should probably start a separate GH issue for tracking IP -> geocoded information mapping).

[2020-08-31 00:21] reichert621 commented on #57
for sure, will definitely want to track that in a separate ticket 👍

[2020-08-31 01:10] reichert621 opened #195 "Slack integration not working with private channels"
For some reason, the Slack integrations isn't working with private channels.

Some things to investigate:
- is this just a matter of adding new scopes/permissions?
  - (not sure... I tried this without any luck 😞 )
- could it be because our Slack app is not "approved" yet?
- or is it just something in the code?

If it's none of the above, we might just want to reach out to Slack support for help.

[2020-08-31 13:43] #57 closed

[2020-08-31 14:43] reichert621 commented on #26
<img width="1175" alt="Screen Shot 2020-08-31 at 10 41 24 AM" src="https://user-images.githubusercontent.com/5264279/91732806-bdba6880-eb76-11ea-8d8c-b5d5d2a89804.png">
<img width="1174" alt="Screen Shot 2020-08-31 at 10 40 15 AM" src="https://user-images.githubusercontent.com/5264279/91732809-c01cc280-eb76-11ea-9c82-4b1018792405.png">
<img width="974" alt="Screen Shot 2020-08-31 at 10 39 06 AM" s

[2020-08-31 15:04] reichert621 commented on #26
<img width="961" alt="Screen Shot 2020-08-31 at 11 03 06 AM" src="https://user-images.githubusercontent.com/5264279/91735037-b8aae880-eb79-11ea-9020-3298fcbe84de.png">
<img width="1178" alt="Screen Shot 2020-08-31 at 11 02 58 AM" src="https://user-images.githubusercontent.com/5264279/91735040-b9437f00-eb79-11ea-8896-2bf2ba97a384.png">

[2020-08-31 19:30] rishabhpoddar opened #199 "Slack integration causing 1-6 seconds delay when a site visitor is sending a message"
This doesn't happen without slack integration.

[2020-08-31 20:44] reichert621 commented on #199
thanks for reporting @rishabhpoddar! does the delay only affect how long it takes the message to show up in slack, or does it also slow down in the dashboard as well?

[2020-09-01 05:48] rishabhpoddar commented on #199
The delay is clearly visible on the visitor’s side. It takes up to 6 secs from the status to go from “sending” to “sent” as seen by the visitor.

As soon as the message shows up on slack, the status changes from “Sending” to “sent"

[2020-09-02 00:02] henrymori opened #202 "Geocoding Customer IP address -> Country / City"
Following up on https://github.com/papercups-io/papercups/issues/57 which fixes capturing the end-customer's IP address correctly:

Now that the `customer`'s IP address is being captured correctly, it's possible to do some geocoding to find out the country & city of the customer and store that data on the `customer` record.

A few ideas I wanted to kick around regarding implementation:

**Option 1

[2020-09-02 00:03] henrymori commented on #202
@reichert621 ^^ As discussed, some thoughts on geocoding implementations 👍

[2020-09-02 02:53] reichert621 opened #203 "Customer `ip` and `last_seen_at` fields should be updated every time customer is seen"
Right now we only set the `ip` and `last_seen_at` fields when a customer record is created. Let's update the customer `update_metadata` endpoint (https://github.com/papercups-io/papercups/blob/master/lib/chat_api_web/controllers/customer_controller.ex#L58) so that it also handles this.

(I think we can just default the `last_seen_at` field to the current timestamp for now.)

[2020-09-02 15:06] henrymori commented on #202
Consolidated discussion from the Slack thread (https://papercups-io.slack.com/archives/C0189MJHKMJ/p1599057225003600?thread_ts=1599005083.000900&cid=C0189MJHKMJ):

<img src="https://user-images.githubusercontent.com/782219/92000802-c9cb3500-ecf2-11ea-9a72-1debdfd1dcb1.png" width="300"></img>

[code]

[2020-09-03 03:32] cheeseblubber opened #206 "Investigate increased load time with embedding the chat widget"

[2020-09-03 16:56] #206 closed

[2020-09-04 02:44] jfrolich opened #209 "Support for Discord instead of slack"
We just moved to Discord. Would be great to have this support although not sure if it would work because discord doesn't have threading.

[2020-09-04 02:45] reichert621 commented on #209
hmm, do you think it would be viable to create a new channel per conversation, or would that get out of hand?

[2020-09-04 02:47] jfrolich opened #210 "Allow to easily integrate in an existing Elixir app"
It would be great if most of this can be moved to a `mix` app where it can be easily integrated inside of another app. This repo can just use that dependency.

I also saw that the table names are not namespaced. Actually namespacing these would also help to have this coexist.

[2020-09-04 02:48] jfrolich commented on #209
Yeah perhaps that would work. If it's easy to close/delete/archive channels of conversations that have completed.

[2020-09-04 02:54] reichert621 commented on #210
oh man this would be really cool... i think we probably won't have time to do this for a while since there's a bunch of other things on our current roadmap, but i hadn't though about this until now...

just to make sure i understand correctly, what you'd like to see is a `papercups` dependency that you can install, and then invoke methods like `Papercups.Messages.list(...)` and stuff like that?

[2020-09-04 02:55] reichert621 commented on #209
yeah definitely 👍 we'll look into it!

[2020-09-04 06:48] jfrolich commented on #210
Yeah basically have the whole app inside of an existing app. This is possible with Elixir as it's quite composable. (Basically you just need to add some lines to routes? And maybe some global config?).
If we look at adopting papercups I'll probably try to make a PR to enable this.

[2020-09-04 07:56] ruruiye opened #211 "CORD when chat"
I am trying to deploy a papercups instance into kubernetes behind an ingress. when try to send message from customer setup page, the site reported CORS error.

I am using the official docker, except change the enrypoint.sh with
[code]

and the environment values include:
[code]

[code]

anything I have missed?

[2020-09-04 08:42] #211 closed

[2020-09-04 08:43] ruruiye commented on #211
I need to set `MIX_ENV` instead of `ENV`

[2020-09-04 09:49] ruruiye opened #212 "mix docker start with PROD redirect 301"
I am deploying the papercups to k8s after ingress, the docker image is based on the dockerfile under repo. I have setup the environment value like following, but when I visit `https://papercups.xxx.com` it always return 301. any idea about this problem?

The deployment is behind an LB, which will terminate the SSL. and then route into the ingress, and behind the ingress is papercups.

I haven't ch

[2020-09-04 13:44] reichert621 commented on #212
hey @ruruiye! sorry you're encountering some difficulties here 😅

if you're comfortable forking the repo and messing around with a little bit of config code, it looks like this guy had a similar issue: https://elixirforum.com/t/plug-ssl-redirects-socket-connection-problem-301/25347 -- might be worth a shot in the meantime while we're sorting this out?

@cheeseblubber will likely be more helpful fo

[2020-09-04 13:58] ruruiye commented on #212
I fixed this, just need to remove `force_ssl` from the configuration.

[2020-09-04 13:58] #212 closed

[2020-09-04 14:07] reichert621 commented on #212
thanks for letting us know!

[2020-09-05 18:40] reichert621 commented on #165
@rosinghal I'm thinking of starting off with a pretty simple UI for this, something like:
<img width="417" alt="Screen Shot 2020-09-05 at 2 39 19 PM" src="https://user-images.githubusercontent.com/5264279/92311515-a8ce4280-ef85-11ea-82b1-40fe9bfa41bf.png">

what do you think?

[2020-09-05 20:18] alisinabh commented on #143
Hi,

First of all, I really like this project. :heart:

From my past experience in developing a chat service, We can create a table with a compound primary key on `conversation_id+user_id` and a `last_read_message_id` field. When a user sends a read receipt we can upsert the `last_read_message_id` in this table if the new message is newer than the last one registered here.

This way in frontend we

[2020-09-06 02:08] rosinghal commented on #165
@reichert621
Looks, nice. What about when agents are not available?

[2020-09-06 02:25] reichert621 commented on #165
maybe just this for now?
<img width="397" alt="Screen Shot 2020-09-05 at 10 24 53 PM" src="https://user-images.githubusercontent.com/5264279/92316775-a3451c80-efc6-11ea-8845-c4c3f2390f3b.png">

[2020-09-06 03:27] rosinghal commented on #165
Looks good @reichert621.

[2020-09-07 02:47] ruruiye commented on #155
we can reference https://github.com/lucid-lynxz/WebhookServer, it's chinese, but the code is international

[2020-09-07 09:59] timgl commented on #151
+1, this combined with #165 is crucial as otherwise we have no way of getting back to users when we're not online

[2020-09-07 13:45] reichert621 commented on #151
I'm thinking for the first version of this, we just do something like:
- **if**
  - the agent responds,
  - and the customer is no longer "online" (i.e. active on the website with the widget),
  - and we have a valid email address available for the customer
- **then**
  - we send the customer an email from `{agent.name} <hello@papercups.io>` with the latest N messages,
  - with a `reply_to: {agent

[2020-09-07 13:48] reichert621 commented on #165
(I'll also make the text editable in case you want to customize it, e.g. "We're not available at the moment" vs "Agents are offline")

[2020-09-07 14:29] timgl commented on #151
Yep I think that works for me!

[2020-09-07 14:36] rosinghal commented on #151
@reichert621 can we make `reply_to` configurable? Reason is I can use some generic email like support@example.com as some generic email where other agents can take care of it as well

[2020-09-07 15:06] reichert621 commented on #151
hey @rosinghal! yes, I think we should be able to do that -- would it be ok if that was an account-level setting? (so that no matter which agent sent the message, the reply_to would always be e.g. `support@example.com`?)

[2020-09-07 23:20] reichert621 commented on #165
@rosinghal @timgl this should be ready now in our latest version! (https://github.com/papercups-io/chat-widget/pull/46)

for this to work, just add the following to your config:
[code]

let me know if you have any issues!

[2020-09-08 00:46] rosinghal commented on #151
@reichert621 yup makes sense.

[2020-09-08 02:32] reichert621 commented on #165
actually seeing some issues with this in production for some reason, reopening for now 😞

[2020-09-08 15:21] reichert621 commented on #165
should be fixed now 🤞

[2020-09-08 15:21] #165 closed

[2020-09-09 01:29] reichert621 commented on #107
closing as duplicate of https://github.com/papercups-io/papercups/issues/151, will update that ticket with notes from here

[2020-09-09 01:29] #107 closed

[2020-09-09 01:30] reichert621 commented on #151
notes from #107

[2020-09-09 01:32] reichert621 commented on #113
(there were some issues with the PR above, need to fix some data issues before enabling this... e.g. db does not allow deleting certain resources due to current foreign key constraints)

[2020-09-09 01:48] #150 closed

[2020-09-09 02:06] cheeseblubber opened #217 "As a support agent I want to be able to add labels conversations"
Im trying to go back through conversations and it'd be nice to tag conversations as "useful customer feedback" or "bug"

[2020-09-09 08:05] jackkemmish opened #218 "How to change password and delete a user?"
Is there anywhere to change a users password and remove a user from the app?

Thanks again 😄

[2020-09-09 14:00] reichert621 commented on #218
thanks for add this @jackkemmish! this is definitely something we want to do soon :)

[2020-09-09 14:19] jackkemmish commented on #218
Thanks for letting me know! I am building a site first so will look to hand over to the client in the next week or so then will need the password changed. What's the best way to contact you directly?

Ps really impressed with this so far, look forward to seeing what's coming in the future!

[2020-09-09 14:28] reichert621 commented on #218
feel free to reach out at alex@papercups.io or ping us on slack :) https://github.com/papercups-io/papercups#get-in-touch

[2020-09-09 21:19] #158 closed

[2020-09-10 04:21] joelrojo commented on #94
+1 this would be awesome

[2020-09-10 13:26] reichert621 commented on #94
@gergely-42droids we'd love your help on this if you're interested!

[2020-09-10 13:32] reichert621 commented on #151
@rosinghal @timgl this is almost done -- just testing in staging first! hoping to deploy later today if things look good 👍

[2020-09-11 03:15] reichert621 commented on #151
this should be working now! let me know if you have any questions, but basically it will work like this: https://github.com/papercups-io/papercups/issues/151#issuecomment-688336245

(the only update is that we wait 2 minutes to send the email, to give the customer some buffer to see it before receiving an email, and also to give the agent time to send multiple messages without having multiple emai

[2020-09-11 03:15] #151 closed

[2020-09-13 10:34] lingster opened #223 "Add swagger documentation"
Add swagger documentation to api and improve docs for new developers

[2020-09-14 03:50] cheeseblubber commented on #121
* The first admin should be the account that is created
* Admin should be able to make other people admins
* Admin can demote (convert the user in to a non admin) and you can demote yourself but there must always be a single admin
* Only Admins should be able to invite right now

Migration wise we could just make everyone an admin when we introduce this feature.

[2020-09-14 04:15] cheeseblubber commented on #218
Closing going to track in https://github.com/papercups-io/papercups/issues/121#issue-677097233[](url)

[2020-09-14 04:15] #218 closed

[2020-09-14 04:30] cheeseblubber commented on #90
@reichert621 is this still an issue?

[2020-09-14 04:32] cheeseblubber commented on #96
Been merged in to master for a month closing now

[2020-09-14 04:32] #96 closed

[2020-09-14 13:41] reichert621 commented on #90
yes

[2020-09-16 02:58] a-krishnan7 opened #232 "Chats sent directly from Slack do not trigger webhook events"
When an agent sends a response to a chat from within the Slack application, the messages do not cause an event to be sent to the (verified) webhook target. Thanks!

[2020-09-16 13:14] reichert621 commented on #232
thanks @a-krishnan7! as part of this i'll fix the issue with the `customer` object not showing up as well 👍

[2020-09-16 21:48] #232 closed

[2020-09-16 21:48] reichert621 commented on #232
deploying the fix for this right now!

[2020-09-16 22:09] reichert621 commented on #232
@a-krishnan7 this should be done now, but let me know if you encounter anymore issues!

[2020-09-17 17:53] a-krishnan7 commented on #232
@reichert621 Thanks a ton! Appreciate the quick turnaround time, works great on my end

[2020-09-18 15:40] folkevil opened #236 "Allow to add existing user info"
Hi,
It would be better if we allow to existing user information via embed code, for example:

[code]

or maybe some other additional info.

[2020-09-18 16:45] reichert621 commented on #236
hey @folkevil! you can already do this with our `customer` prop :) (see https://github.com/papercups-io/chat-widget#using-in-html for more info)

thanks for flagging this though -- we should make it more obvious in the dashboard that you can do this!

[2020-09-18 21:29] masonhensley opened #238 "Single Sign On (SSO) - SAML / Open ID Connect"
Assuming this might go into an enterprise tier, but documenting here since I didn't see another discussion.

The two might need to be split up into two tickets. Creating this after noticing #235 which got the gears turning.

## SAML:

As a User
I want to integrate with SAML
So That the platform can integrate with existing user management systems.

- [ ] AC1: Required Items will vary depending on t

[2020-09-19 16:37] cheeseblubber opened #239 "Change user information in to a collapsible side bar"
Currently the side bar takes two clicks to see the information
We should default the sidebar to be opened and be able to collapse the side bar
![Screen Shot 2020-09-19 at 9 32 46 AM](https://user-images.githubusercontent.com/4218509/93671825-20f33880-fa5b-11ea-991d-6f94af0f42d0.png)

When the sidebar's collapsed/opened state should persist across conversations:
* when you collapse the sidebar it s

[2020-09-20 19:17] #203 closed

[2020-09-23 02:12] #236 closed

[2020-09-23 02:12] reichert621 commented on #187
Fixed in https://github.com/papercups-io/papercups/pull/242!

[2020-09-23 02:12] #187 closed

[2020-09-23 02:13] reichert621 commented on #180
I believe this is fixed now, but feel free to reopen if not!

[2020-09-23 02:13] #180 closed

[2020-09-23 02:59] reichert621 commented on #121
the "ability to remove users from team" is done in https://github.com/papercups-io/papercups/pull/242, so closing this -- still need to handle some UX around giving/revoking admin privileges, but will track that separately

[2020-09-23 02:59] #121 closed

[2020-09-23 03:01] #142 closed

[2020-09-23 03:01] reichert621 commented on #142
Done!

[2020-09-23 03:03] reichert621 commented on #149
(almost done in https://github.com/papercups-io/papercups/pull/154 but hasn't been completed yet)

[2020-09-23 03:03] reichert621 commented on #140
Done, we currently support passing in an image url to replace the icon

[2020-09-23 03:03] #140 closed

[2020-09-23 03:05] reichert621 commented on #136
closing, duplicate

[2020-09-23 03:05] #136 closed

[2020-09-23 03:05] reichert621 commented on #195
See also https://github.com/papercups-io/papercups/issues/136

[2020-09-23 03:06] reichert621 commented on #126
hey @masonhensley! sorry for the delay on this -- is this still an issue, or can i close it?

[2020-09-23 13:57] jamesefhawkins opened #243 "Support switching on/off at certain times"
We usually have team members awake 24 hours a day able to respond to user messages in papercups.

However, at the moment, we don't!

We'd love the ability to edit the hours when papercups is on/off for situations when support is / is not available.

[2020-09-23 14:11] reichert621 commented on #243
good idea @jamesefhawkins! this is similar to https://github.com/papercups-io/papercups/issues/95, correct?

would you like to completely hide the chat widget when it's "off", or just display a message indicating you aren't available?

[2020-09-24 04:30] MuhammadMullah commented on #60
@reichert621 I'd like to attempt getting this one done

[2020-09-24 06:54] jamesefhawkins commented on #243
I'd probably rather hide it completely so we don't disappoint people, but either way seems kind of valid.

[2020-09-24 11:47] reichert621 commented on #243
got it, we can support both and let you choose whichever you prefer 👍 hoping to get to this by next week!

[2020-09-24 11:49] reichert621 commented on #60
@MuhammadMullah that sounds great! nothing you should need to get started, other than setting up your development environment: https://github.com/papercups-io/papercups/wiki/Development-Setup#getting-started

basically we have a lot of repeated boilerplate code in our tests and would like to clean it up with factories, so just make sure `mix test` still passes before opening a PR 😄

[2020-09-24 11:50] MuhammadMullah commented on #60
great

[2020-09-25 12:06] peeves6 opened #248 "Make changes to widget js"
Hi, where can i find the non minified version of widget.js? I can only see the minified version in the assets directory. The chat-widget repo also does not have it.

[2020-09-25 19:04] reichert621 commented on #248
hey @peeves6! right now I just have it setup in a little script which I haven't put on github yet, but I'll push it in the near future :) what would you like to change?

[2020-09-27 18:00] cheeseblubber opened #250 "As a agent I want the ability Selecting multiple conversations and marking them as read"
**Is your feature request related to a problem? Please describe.**
Closing a large number of conversations is slow

**Describe the solution you'd like**
have checkboxes next to on the left conversations and when you highlight multiple conversations you can have a button that closes them all. like how in gmail you can select multiple and click close on all.

[2020-09-28 15:49] peeves6 commented on #248
Hey Alex, thanks for the response. I have a non-React site and wanted to add 'menu cards' for some common actions that customers can perform, along with image uploads. I guess I could build the react code in the chat-widget repo and add a wrapper to render an iframe...just trying to save myself some work :)

Btw is that what the widget script that you mentioned does - adding a wrapper around the r

[2020-09-28 15:54] reichert621 commented on #248
hey @peeves6 -- basically all the script does it build everything in the chat-widget repo and then do this:
[code]
other than that, it's the same as what's in the chat-widget repo (where the entrypoint above is this https://github.com/papercups-io/chat-widget/blob/master/src/components/ChatWidget.tsx)

[2020-09-28 15:55] reichert621 commented on #248
we plan on adding "menu cards" and image uploads in the near future btw! how urgently do you need it?

[2020-09-29 01:31] reichert621 commented on #178
Will be handled in https://github.com/papercups-io/chat-widget/pull/43

[2020-09-29 01:31] #178 closed

[2020-09-29 02:54] reichert621 opened #252 "Reporting Dashboard v1"
### Goals

The first version of the reporting dashboard will serve to provide basic insights into customer engagement through Papercups. This will include metrics like:
- Viewing how many messages are sent on a daily/weekly basis
- How many conversations are started/closed on a daily/weekly basis
- Which days of the week are the busiest (i.e. receive the most messages)
- The breakdown of sent vs r

[2020-09-29 19:44] reichert621 opened #254 "[Reporting - API] Update reporting methods to filter by date range"
**Problem**
Users should be able to filter reporting data by a date range. Right now, the `/api/reporting` endpoint just fetches all data by default.

**Solution**
Update the queries in the Reporting context to incorporate a `from_date` and `to_date`:
- Reporting context: https://github.com/papercups-io/papercups/blob/master/lib/chat_api/reporting.ex#L9
- Reporting controller: https://github.com/p

[2020-09-29 19:54] reichert621 opened #255 "[Reporting - API] Add method to count messages sent/received by date"
**Problem**
Users should be able to see a breakdown of messages sent vs received in the reporting dashboard.

**Solution**
Let's create two methods in the Reporting context (https://github.com/papercups-io/papercups/blob/master/lib/chat_api/reporting.ex)
- One should retrieve daily counts of "sent" messages
  - "Sent" messages are messages where `user_id` is not `null` (i.e. it was sent by a signe

[2020-09-29 20:03] reichert621 opened #256 "[Reporting - API] Add method to calculate average/total received messages by day of the week"
**Problem**
Users should be able to see which days of the week (e.g. Monday, Tuesday, etc) are the "busiest" (i.e. receive the most messages on average)

**Solution**
Let's create a method in the Reporting context (https://github.com/papercups-io/papercups/blob/master/lib/chat_api/reporting.ex) that does the following:
- Retrieves daily counts of "received" messages
  - "Received" messages are mes

[2020-09-29 20:10] reichert621 opened #257 "[Reporting - API] Add method to determine breakdown of messages sent per user on team"
**Problem**
Users should be able to see a breakdown of how many messages are sent by users/agents on their team. (This is only relevant for accounts with multiple users/agents on the team.)

**Solution**
Let's create a method in the Reporting context (https://github.com/papercups-io/papercups/blob/master/lib/chat_api/reporting.ex) that counts the number of messages sent per user on the account for

[2020-09-29 20:28] reichert621 opened #258 "[Reporting - UI] Refresh reporting data when date range is changed"
**Problem**
Right now the data does not update when the date range is changed on the reporting page.
- **NB**: this is blocked by the backend task handling filtering by date range https://github.com/papercups-io/papercups/issues/254 -- please work on that first if it's not done yet!
- The reporting page can be accessed at http://localhost:3000/reporting

The reporting page (with fake data:)
<img w

[2020-09-29 20:28] reichert621 opened #259 "[Reporting - UI] Update chart to display real data for messages sent/received by date"
**Problem**
At the moment, the reporting page is just showing fake data. Let's update it to show real data.
- The reporting page can be accessed at http://localhost:3000/reporting

The reporting page (with fake data:)
<img width="1291" alt="Screen Shot 2020-09-29 at 4 23 45 PM" src="https://user-images.githubusercontent.com/5264279/94611812-47418100-0270-11eb-9c58-dd40b208f34f.png">

**Solution**

[2020-09-29 20:42] reichert621 opened #260 "Display customer metadata in customer details modal"
**Problem**
Users can set custom metadata on their customers, but we currently don't display this information anywhere in the UI.

This is what we currently display:
<img width="1084" alt="Screen Shot 2020-09-29 at 4 35 11 PM" src="https://user-images.githubusercontent.com/5264279/94613354-79ec7900-0272-11eb-923b-109232295829.png">

**Solution**
Using this `metadata` field on the customer object:

[2020-09-29 21:54] lukewaring commented on #260
Hi @reichert621, I would be happy to work on this one 🙂

[2020-09-29 22:35] reichert621 commented on #260
thanks @lukewaring!

[2020-09-30 03:16] reichert621 opened #261 "Add `time_zone` field to customers"
Seems like it could be useful? (Will need to send it through on the widget side, but for the sake of this ticket just add a nullable string field to the customers table)

See https://stackoverflow.com/questions/1091372/getting-the-clients-timezone-offset-in-javascript

[2020-09-30 04:01] Grantimus9 commented on #210
@jfrolich I think including the js is the least difficult part of such a transformation, but to include the js widget, you could do what phoenix does: include the js in the hex package, and reference it from the app's package.json like so:

[code]
And then later in js files import things like so:
[code]

Maybe something that would get one most of the way is a hex package that always includes the l

[2020-09-30 04:30] Grantimus9 opened #262 "Hex.pm Proxy Lib"
**Problem Statement**
As browsers increasingly restrict third party cookies and third party script execution and/or access to localstorage, companies relying on chat apps that pull in third party scripts will be increasingly frustrated with lack of syncing and state getting lost.

As a company that'd like to create an internal Phoenix/Elixir pubsub topic for customer events, I would like to have a

[2020-09-30 15:34] sohamsshah commented on #260
Hi @reichert621 I am interested to contribute to Papercups. Can you suggest or assign me some work to start contributing towards?

[2020-09-30 15:43] reichert621 commented on #260
hey @sohamsshah -- this should have some good guidance :)

https://github.com/papercups-io/papercups/blob/master/CONTRIBUTING.md

[2020-09-30 16:16] MuhammadMullah commented on #60
@reichert621 working on this isssue but I am a bit unsure whether this has been done already. Just want to confirm if I can still continue with this

[2020-09-30 18:12] reichert621 commented on #60
hey @MuhammadMullah! a bunch of the fixtures were refactored already, but I still think it would be really useful to set up factories (https://hexdocs.pm/ecto/test-factories.html) for a bunch of our models (e.g. messages, conversations, accounts, etc.)

so there is still some work to do here if you want to pick it up!

[2020-09-30 19:48] estevanjantsk commented on #261
🚀

[2020-09-30 19:49] siddhantvirus commented on #261
I was just looking through the code before i commented . @estevanjantsk are you planning to take this up ?

[2020-09-30 19:50] estevanjantsk commented on #261
I already created a PR.

[2020-09-30 21:51] cheeseblubber commented on #26
![faster_demo](https://user-images.githubusercontent.com/4218509/94742853-415ca600-032b-11eb-9417-57e2e81e7177.gif)

[2020-09-30 22:42] cheeseblubber commented on #26
![Uploading Screen Shot 2020-09-30 at 3.40.53 PM.png…]()

[2020-09-30 22:43] cheeseblubber commented on #26
![Uploading Screen Shot 2020-09-30 at 3.40.53 PM.png…]()

[2020-09-30 22:43] cheeseblubber commented on #26
<img width="1193" alt="Screen Shot 2020-09-30 at 3 40 53 PM" src="https://user-images.githubusercontent.com/4218509/94747421-b6cc7480-0333-11eb-9a8f-807eb794b0a0.png">

[2020-09-30 23:06] estevanjantsk commented on #257
🚀 another one 👍

[2020-10-01 01:56] reichert621 commented on #262
thanks for this great writeup @Grantimus9! it's a lot to digest, so i'll have to get back to you with my thoughts :) but i really like these ideas 🙏

[2020-10-01 02:32] reichert621 opened #266 "Tags v1"
### Goals

Users should be able to tag/label conversations and customers in order to filter/search more easily by tag and divide customers into segments (e.g. for email campaigns).

### Architecture

- `tags`
  - fields: `id, name, account_id, description?, creator_id, color?, timestamps`
  - `name` should be unique by `account_id`
- `conversation_tags`
  - many-to-many table between conversations

[2020-10-01 06:22] eikooc commented on #254
Hi Alex. As mentioned, I am totally new at Elixir, but if this is a pretty confined task I'd like to contribute to this and #255. I have time tomorrow and in the weekend to work on it if no one is working on it yet :).

[2020-10-01 06:22] eikooc commented on #255
As mentioned in #254 I'd like to pick this up :+1:

[2020-10-01 09:15] sbacarob commented on #256
I'd love to tackle this, if that's ok

[2020-10-01 13:23] reichert621 commented on #254
sounds good @eikooc, that would be great! i'll assign you for now :)

[2020-10-01 13:24] reichert621 commented on #255
sure @eikooc! once #254 is completed i'll assign this one to you :)

[2020-10-01 13:24] reichert621 commented on #256
certainly, that would be great @sbacarob! assigning you now :)

[2020-10-01 15:32] sohamsshah commented on #260
@reichert621 Thank you! Looking forward to be a part of this!

[2020-10-01 20:23] #257 closed

[2020-10-01 20:24] #261 closed

[2020-10-02 20:56] simran2607 commented on #148
can u pls elaborate

[2020-10-02 21:45] reichert621 commented on #148
@simran2607 by "flash" we mean the html title should show `(2) New messages!` (wait 1s) -> `Papercups` (wait 1s) -> `(2) New messages!` -> etc, so that it's more eye catching

[2020-10-04 17:24] kaozdl commented on #259
I can work on this one

[2020-10-04 19:16] reichert621 commented on #259
sounds good @kaozdl! i'll assign you :)

[2020-10-04 20:16] reichert621 commented on #243
@jamesefhawkins out of curiosity, how "complicated" are your working hours?

e.g. is it something pretty straightforward like "weekdays from 9am-5pm", or is it more like "mondays from 10-6, tuesdays from 9-7, etc etc"?

(just trying to get a sense of how we should design this UX!)

[2020-10-04 22:55] WLSF commented on #255
I'd like to help with this one, is it available? I saw that there was nos activity over the past 4 days.

[2020-10-05 00:49] reichert621 commented on #255
sure! i'll reassign it to you since i think @eikooc still hasn't finished #254 👍

(cc @eikooc let me know if you have any updates!)

[2020-10-05 00:53] WLSF commented on #255
Wow ok, thanks!

[2020-10-05 08:44] eikooc commented on #255
Totally fine. It is taking me some time to set up the Elixir development environment for some reason, so I am still working on #254 :-)

[2020-10-05 12:04] WLSF commented on #255
@eikooc If you need some help, you can call me and we can pair or something to set the environment and discuss about the task... 😸

[2020-10-05 13:06] reichert621 commented on #255
btw we also have a shared slack channel if you guys want to chat there :) https://github.com/papercups-io/papercups#get-in-touch

[2020-10-05 18:55] eikooc commented on #255
@WLSF that would be fun! join the slack channel and let's coordinate! 🐈

[2020-10-06 12:35] #254 closed

[2020-10-06 17:01] Aditya135 commented on #258
Hey, I did like to work on this one

[2020-10-06 19:28] eikooc commented on #156
@reichert621 how do you want to keep the support? Both on the back-end and the front-end or how should I proceed if I want to pick this up? :)

[2020-10-06 21:20] reichert621 commented on #156
hey @eikooc! as mentioned above, let's make sure we continue supporting `shout` for backward compatibility, but change the frontend to use `message:created`

so the backend change will probably look something like
[code]

...or something like that. what do you think?

[2020-10-06 21:24] reichert621 commented on #258
sure @Aditya135 -- i'll assign you for now :)

when do you think you'll be able to work on it?

[2020-10-06 21:26] reichert621 opened #278 "Upgrade to Elixir v1.11"
This last version offers some nice updates: https://elixir-lang.org/blog/2020/10/06/elixir-v1-11-0-released/

Let's upgrade if it doesn't break anything :)

[2020-10-06 21:28] reichert621 commented on #255
done in https://github.com/papercups-io/papercups/pull/272

[2020-10-06 21:28] #255 closed

[2020-10-06 21:29] reichert621 commented on #256
done in https://github.com/papercups-io/papercups/pull/274

thanks @sbacarob!

[2020-10-06 21:29] #256 closed

[2020-10-06 22:11] reichert621 commented on #258
hey @Aditya135 -- it turned out that the fix for this was trivial (https://github.com/papercups-io/papercups/pull/280/files#diff-2160a0e22b7bdfee0ff3c1561656c30fR218) so it's done already 😓 sorry about that!

i'll be adding more frontend tickets tonight if you're still interested in contributing 🙏

[2020-10-06 22:11] #258 closed

[2020-10-07 02:14] reichert621 opened #281 "[Reporting - API] Add method to determine number of new customers created per day"
**Problem**
Users should be able to see how many new customers are interacting with their chat per day.

**Solution**
Let's create a method in the Reporting context (https://github.com/papercups-io/papercups/blob/master/lib/chat_api/reporting.ex) that counts the number of customers created on the account per day for a given date range.

The response should look something like this:
[code]

(This m

[2020-10-07 02:28] reichert621 opened #282 "[Internal notifications] Send internal Slack alert when user successfully links Slack/Gmail integration"
**Problem**
This is a good way for us to track engagement -- if users are setting up these integrations, we want to make sure everything is working well for them.

**Solution**
In the SlackController and GmailController, send an internal notification to Slack (with `ChatApi.Slack.log`) that says "{user.email} successfully linked Slack/Gmail!"

(See https://github.com/papercups-io/papercups/pull/27

[2020-10-07 02:31] reichert621 opened #283 "[Internal notifications] Send internal Slack alert when user changes subscription plan"
**Problem**
We want to get alerted right away if someone upgrades/downgrades their subscription plan

**Solution**
In the BillingController, send an internal notification to Slack (with `ChatApi.Slack.log`) that says "{user.email} set subscription plan to {plan}" whenever a user creates or updates their subscription plan.

(See https://github.com/papercups-io/papercups/pull/276 for an example of h

[2020-10-07 02:38] reichert621 opened #284 "[Reporting - UI] Create chart to display stats around messages sent per day of week"
**Problem**
Our reporting API currently returns stats around the number of total/average messages sent by day of week. Let's add a chart do display this information!
- The reporting page can be accessed at http://localhost:3000/reporting

The reporting page (with fake data:)
<img width="1291" alt="Screen Shot 2020-09-29 at 4 23 45 PM" src="https://user-images.githubusercontent.com/5264279/94611812

[2020-10-07 02:42] reichert621 opened #285 "[Reporting - UI] Create chart to display breakdown of messages sent per user/agent"
**Problem**
Our reporting API currently returns stats around the number of messages sent per user/agent over a given date range. Let's add a chart do display this information!
- The reporting page can be accessed at http://localhost:3000/reporting

The reporting page so far (with fake data:)
<img width="1291" alt="Screen Shot 2020-09-29 at 4 23 45 PM" src="https://user-images.githubusercontent.com

[2020-10-07 02:50] reichert621 opened #286 "Fix auto-assignment logic when integrated with Slack"
**Problem**

Since the Slack integration requires all conversations to have an assignee, we auto-assign the first user found on the account whenever a conversation is started over Slack and no assignee has been set.

Now that users can be disabled on an account, it's possible for the auto-assignment to assign a disabled user.

**Solution**
Update this to only assign valid (enabled) users, and defa

[2020-10-07 02:57] reichert621 opened #287 "[Email notifications] Add customer email to "new message" notification if available"
**Problem**
Our email notifications currently don't include any information about the sender. We should include the customer/sender email in the message if it's available.

**Solution**
If the customer sending the message has an email address, display it in the email notification. (Here's where the logic lives: https://github.com/papercups-io/papercups/blob/master/lib/chat_api/messages.ex#L206-L20

[2020-10-07 05:16] KeshriAyushi22 commented on #284
hey @reichert621 , can u assign this to me? It would be a great learning experience

[2020-10-07 06:14] Aditya135 commented on #285
Hi @reichert621 , I did like to work on this one, I am free to work on Fri 9 - Oct 11

[2020-10-07 06:47] eikooc commented on #260
Hi. I was just playing around, and thought I'd do this one since there has been a week without activity. @lukewaring I hope I'm not intruding, and if you have made something more elegant, you can tell me and open a PR 🙂.

My PR is here #288

[2020-10-07 06:50] eikooc commented on #156
@reichert621 that was also what I was thinking. I just didn't know if you wanted the front-end to also be backwards-compatible such that if two installations happened to use the same database but different versions of the front-end, they would both work.

[2020-10-07 12:39] shivamls commented on #287
Hi
Please assign this to me.

[2020-10-07 13:34] reichert621 commented on #156
hmm yeah... didn't think about that edge case 🤔 maybe for now let's just focus on the backend update and make sure both "shout" and "message:created" work the same

[2020-10-07 13:36] reichert621 commented on #287
sure @shivamls :) i'll assign you for now -- when do you think you'll be able to work on it?

[2020-10-07 13:37] reichert621 commented on #284
certainly @KeshriAyushi22! when do you think you'd be able to work on it btw?

[2020-10-07 13:59] KeshriAyushi22 commented on #284
I will start this by tomorrow, rn working on some other issues @reichert621

[2020-10-07 14:06] reichert621 commented on #284
sounds good @KeshriAyushi22!

[2020-10-07 16:27] Aditya135 commented on #148
Hi @reichert621 , can you assign this one to me?

[2020-10-07 17:46] reichert621 commented on #148
sure @Aditya135!

[2020-10-07 17:53] eikooc commented on #283
Can I try this one out? :)

[2020-10-07 18:01] reichert621 commented on #283
certainly @eikooc! should be pretty straightforward, but let me know if you need any help getting a slack webhook url setup (i think the slack docs are pretty good though 👍 )

[2020-10-07 21:54] jonathanyeong commented on #281
Hey there! Could I take this issue?

[2020-10-07 22:51] reichert621 commented on #286
@sykrish thanks for handling! going to assign you here as well :)

[2020-10-07 22:54] #286 closed

[2020-10-07 22:57] reichert621 commented on #281
sure @jonathanyeong! assigning you now :)

[2020-10-07 22:58] reichert621 commented on #281
(i should add -- if this ticket is too easy for you, feel free to look out for any opportunities to do some refactoring in the `Reporting` context or in the tests!)

[2020-10-08 02:01] jonathanyeong commented on #281
Haha let's see how I go with this ticket! First time working with a prod Elixir app!

[2020-10-08 03:18] lorecrafting commented on #282
Hey, thanks for the descriptive and bite-sized issues.  Would you please assign this to me?  Thank you!

[2020-10-08 03:20] reichert621 commented on #282
sure @lorecrafting!

[2020-10-08 05:36] aladhims opened #294 "Unable to start web app on local development using Docker"
**Describe the bug**
I'm unable to start local development due to the issue of the mix package manager

**To Reproduce**
Steps to reproduce the behavior:
1. Trigger local docker development using this command `docker build -t papercups . && docker-compose up` as mentioned on the [wiki](https://github.com/papercups-io/papercups/wiki/Development-Setup)
2. After some installations, the log on the web

[2020-10-08 05:45] shivamls commented on #287
Going through the docs and slack. Will start as soon as I get a hang of things (first time contributing)

Targeting completing this by today

[2020-10-08 06:52] KeshriAyushi22 commented on #284
Hi,
I tried to register by running the npm , inside assets .. but it wasnt
working as proxy error was giving which i realised i wasnt running the
backend module which is fair enough.. i get the issue , but how to run the
backend as im new to docker and all, i just know react so can u help me out
on that front? plz
*Thanks and Regards*
*Ayushi  Keshri*

On Wed, 7 Oct 2020 at 19:36, Alex Reichert <n

[2020-10-08 12:18] reichert621 commented on #284
hey @KeshriAyushi22! did you follow the instructions in https://github.com/papercups-io/papercups/wiki/Development-Setup?

[2020-10-08 12:19] reichert621 commented on #287
sounds good, thanks for the update @shivamls :)

[2020-10-08 12:22] reichert621 commented on #294
Thanks for reporting this @aladhims! Just curious, did you try running `mix deps.get` to see if that fixes anything?

[2020-10-08 12:22] reichert621 commented on #294
cc @cheeseblubber

[2020-10-08 12:25] aladhims commented on #294
Hi @reichert621 , Thanks for the response,  `mix deps.get` is actually already included in the Dockerfile here https://github.com/papercups-io/papercups/blob/c094d5b3d95e3bcaaecb6fddd95e42e56f5483ec/Dockerfile#L16

[2020-10-08 13:41] reichert621 commented on #294
hmm good point 🤔 we'll look into it!

[2020-10-08 14:35] aladhims commented on #294
Sure, thanks. Please let me know if you guys found something, in the meantime I'll try to look way around it.

[2020-10-08 15:11] #260 closed

[2020-10-08 15:12] reichert621 commented on #294
sounds good, will do 👍 have you tried the non-Docker setup in https://github.com/papercups-io/papercups/wiki/Development-Setup? (that might be the easiest workaround for now)

[2020-10-08 16:04] aladhims commented on #294
Yes, I probably will try the non-Docker setup if I can't resolve this problem on my own, but having a local dev with docker is easy and simple 😄

[2020-10-08 16:37] reichert621 commented on #294
for sure, we'll definitely want to get that fixed!

[2020-10-08 19:10] cheeseblubber opened #297 "Add toggles for `requireEmailUpfront` and `showAgentAvailability` on getting started page on dashboard"
**Is your feature request related to a problem? Please describe.**
When a non technical user wants to customize the widget for requiring email upfront and showing agent availability they can't do it through the GUI.

**Describe the solution you'd like**
There should be a toggle for both requireEmailUpFront and showAgentAvailability in the https://github.com/papercups-io/papercups/blob/master/asset

[2020-10-08 20:52] cheeseblubber commented on #294
Hey Aladhims long shot but do you have any more logs around when `mix do deps.get` was running?

[2020-10-09 15:22] sladyn98 opened #299 "How does papercups handle concurrency"
Suppose two users are logged into the same dashboard, how do you make sure that they do no overwrite the same chat ?

[2020-10-09 17:17] cheeseblubber commented on #26
![FwVW18Kk](https://user-images.githubusercontent.com/4218509/95612673-c9c8fe00-0a31-11eb-8f12-6b51fa29fbc5.png)
![2DtQqQ9A](https://user-images.githubusercontent.com/4218509/95612691-ce8db200-0a31-11eb-967a-ba4f80397666.png)
![CHeHiPA4](https://user-images.githubusercontent.com/4218509/95612704-d4839300-0a31-11eb-8d0d-7a3aadf6b266.png)

[2020-10-09 17:59] SherSpock commented on #60
Hey @MuhammadMullah! Hope you're well. Just checking if you are still looking at this.

[2020-10-09 18:14] reichert621 commented on #60
@SherSpock given how long it's been, I'm happy to assign this to you if you're interested!

[2020-10-10 01:53] reichert621 commented on #299
hey @sladyn98! not quite sure what you mean -- if two users are logged in and they each send a message, both messages would show up from each user in the UI

did you encounter some issue?

[2020-10-10 01:55] reichert621 commented on #283
thanks again @eikooc!

[2020-10-10 01:55] #283 closed

[2020-10-10 01:56] reichert621 commented on #259
hey @kaozdl! just curious, when will you be able to tackle this?

[2020-10-10 03:26] sladyn98 commented on #299
Hey @reichert621 thanks for the reply. I would like to frame it better. If the admin invites two users to a dashboard and they try to reply to the same customer at the same time. Do the messages overwrite or does each message appear on the conversation. Because it could be possible they reply with a different answer

[2020-10-10 04:02] uPaymeiFixit opened #301 "Mailgun integration not working - no errors"
**Describe the bug**
I have mailgun set up properly in the .env file according to the [example](https://github.com/papercups-io/papercups/blob/master/.env.example)

**To Reproduce**
Populate the mail section of the example .env file properly.

**Expected behavior**
Receive emails when a user messages us, or an error message message if it failed.

**Additional context**
I'm using the dev docker ima

[2020-10-10 11:10] eikooc commented on #283
Likewise!

[2020-10-10 14:11] reichert621 commented on #299
ah I see! yes, at the moment both messages would show up if two users replied at the same time

[2020-10-10 14:24] SherSpock commented on #60
@reichert621 I am!

Forgive me if I'm overcomplicating this, but there's two things I wanted to get your input about before starting anything:

1) Could we split this work into multiple work items?

2) Could we have a separate module for each factory?

The way the Ecto documentation does factories is reminiscent of how factories are done with `factory_bot` and Laravel -- it lumps everything onto a

[2020-10-10 14:39] reichert621 commented on #60
@SherSpock sure!

1. happy to split this up -- I'll probably hold off on creating a bunch of tickets for every model, but feel free to tackle just a chunk of this first to demonstrate a good example of it :)
2. yes, I like the idea of separating the factories rather than lumping them all into one (I imagine this will also make it easier to split up the work if anyone else ends up wanting to help o

[2020-10-10 14:41] SherSpock commented on #60
@reichert621 Sounds great on both counts!

[2020-10-10 14:42] reichert621 commented on #301
thanks for reporting this! we're still fixing up our docker setup, so it might be related to that. are you able to verify that your environment variables are being loaded correctly?

cc @cheeseblubber any ideas?

[2020-10-10 14:43] reichert621 commented on #301
also just noticed this: https://github.com/papercups-io/papercups/blob/master/Dockerfile#L12

did you add your API keys there as well?

[2020-10-10 18:33] MuhammadMullah commented on #60
Hey @SherSpock, I was but I got so busy. But yeah sure you can go ahead and work on it. Because I am moving slowly because of a lot of work I have currently

[2020-10-11 00:13] markholmes commented on #297
Should this also incorporate other widget options (as indicated here: https://github.com/papercups-io/chat-widget#options)? And just so I'm certain, this only affects the generated HTML/React installation scripts, correct?

[2020-10-11 03:27] markholmes commented on #297
Something like this:

<img width="1680" alt="email_and_availability" src="https://user-images.githubusercontent.com/921826/95669550-f450af00-0b36-11eb-946c-d0e322f19a9b.png">

<img width="675" alt="html" src="https://user-images.githubusercontent.com/921826/95669551-f7e43600-0b36-11eb-9fbe-557abdfdbcc5.png">

<img width="680" alt="react" src="https://user-images.githubusercontent.com/921826/956695

[2020-10-11 03:43] reichert621 commented on #297
hey @markholmes! awesome, looks pretty good so far :)

only feedback would be:
- `true` and `false` need to be booleans in the code snippets rather than strings
- you'll also need to apply these updates to the widget on the page so the user can see what it looks like when e.g. `showAgentAvailability` is `true`

let me know if you have any questions! going to assign this to you for now 👍

[2020-10-11 16:52] reichert621 opened #304 "[Reporting - API] Add method to determine breakdown of customer browsers/timezones/OS's"
**Problem**
Users should be able to see a breakdown of their customers' browser/OS/timezone in the Reporting Dashboard

**Solution**
Let's create a method in the Reporting context (https://github.com/papercups-io/papercups/blob/master/lib/chat_api/reporting.ex) that counts the number of customer browsers/OS's/timezones for a given date range.

Basically this just means grouping the `customers` tab

[2020-10-11 16:57] reichert621 opened #305 "Display customer timezone in CustomerDetailsModal if available"
**Problem**
For some customers, we are able to detect their timezone. But we don't currently show this in the `CustomerDetailsModal` component.

This is what we currently display:
<img width="1084" alt="Screen Shot 2020-09-29 at 4 35 11 PM" src="https://user-images.githubusercontent.com/5264279/94613354-79ec7900-0272-11eb-923b-109232295829.png">

**Solution**
If the `time_zone` field is available

[2020-10-11 17:01] reichert621 opened #306 "Add typespecs to API controller methods"
**Is your feature request related to a problem? Please describe.**
We want to start getting better about including typespecs for our Elixir code. The controllers should be an easy place to start.

**Describe the solution you'd like**
Add typespecs to all the methods in our controllers, i.e. the files in the `lib/chat_api_web/controllers` directory.

For more info on typespecs, see https://hexdocs.

[2020-10-11 17:05] reichert621 opened #307 "Add typespecs to backend "context" modules"
**Is your feature request related to a problem? Please describe.**
We want to start getting better about including typespecs for our Elixir code. A lot of our backend logic lives in Phoenix "contexts" (e.g. `lib/chat_api/messages.ex`), so this will be a great place to add more typespecs.

**Describe the solution you'd like**
Add typespecs to all the modules in the `lib/chat_api` directory. Don't w

[2020-10-11 17:11] reichert621 opened #308 "Fix some `any` types in the Conversations UI"
**Is your feature request related to a problem? Please describe.**
We have a lot of `any` types in our frontend. Let's start replacing these with more descriptive types.

**Describe the solution you'd like**
In all the components in `assets/src/components/conversations`, replace as many `any` types with `Conversation`/`Message`/`Account`/`User` types from https://github.com/papercups-io/papercups/

[2020-10-11 18:44] shivamls commented on #282
Hi @lorecrafting if you are not planning to work on this lmk. I can pick this up.

[2020-10-11 19:15] raditya3 commented on #305
Hi @reichert621 , Can you assign me this one?

[2020-10-11 20:56] reichert621 commented on #305
sure @raditya3!

[2020-10-11 21:09] dudeofawesome commented on #301
I've verified that our environment variables are being set correctly at runtime, but were not present at image build time. Setting them in the Dockerfile has fixed this. However, it's a pretty non-standard way of handling env vars for Docker.

I've been meaning to take a look at getting a prod build of the image working, so I might also take a look at compile time env vars at the same time.

[2020-10-11 21:47] reichert621 commented on #301
thanks @dudeofawesome! yeah, we're aware that the docker setup is a little hacky at the moment -- we're still a bit new to docker so still trying to iron out the kinks, but any feedback would be super helpful!

[2020-10-11 21:48] reichert621 commented on #299
let me know if there's anything unexpected happening or you have a feature request! in the meantime, going to close this

[2020-10-11 21:48] #299 closed

[2020-10-11 23:20] xapatjb4 commented on #308
Hey @reichert621 would like to give this a shot. Can you assign this to me?

[2020-10-12 05:16] raditya3 commented on #305
Hi @reichert621, by timezone you mean offset like `+5:30 GMT` right?

[2020-10-12 11:33] shivamls commented on #304
You can assign this to me.

[2020-10-12 11:58] m1ome commented on #307
Submitted PR according to this issue

[2020-10-12 11:58] m1ome commented on #306
Submitted PR according to this issue

[2020-10-12 15:13] m1ome commented on #306
@reichert621 👍

[2020-10-12 16:03] reichert621 commented on #306
thanks @m1ome! 🎉

[2020-10-12 16:03] #306 closed

[2020-10-12 18:09] m1ome commented on #281
@jonathanyeong are you working on this? would like to pick this up if you are not working on it 😄

[2020-10-12 19:21] #294 closed

[2020-10-13 00:05] jonathanyeong commented on #281
Hi! @m1ome I've definitely been dragging my feet on this. Looks like you already have a PR open. So go for it!

[2020-10-13 00:14] reichert621 commented on #281
hey @jonathanyeong feel free to tackle this still! I think the PR misunderstood this a bit because it queries the `users` table rather than the `customers` table

but if you don't have time this week, I'll be writing up some more tickets soon if you'd like to pick up a different one 👍

[2020-10-13 00:20] jonathanyeong commented on #281
Okay! Great, I'm working on it tonight. I had some issues installing Elixir 1.6.3 (from the [Getting Started](https://github.com/papercups-io/papercups/wiki/Development-Setup#getting-started) wiki) but then I realized you're using 1.10 which I already have installed! So I'm able to start dev on it.

[2020-10-13 00:26] reichert621 commented on #281
ah! sorry for the confusion there, we need to update that 😓 (I'm probably going to update the docs to recommend using https://github.com/asdf-vm/asdf)

[2020-10-13 01:38] SherSpock commented on #60
@MuhammadMullah Sounds good! Very understanding of you.

@reichert621 @MuhammadMullah
Sorry for the radio silence. I didn't have as much time as I thought I would to dig in this weekend, but I was still able to do a fair bit of thinking on the subject and dig into some writing today.

Long story short, I might stick with the ecosystem standard for the first iteration of this functionality.

In som

[2020-10-13 02:24] lorecrafting commented on #282
Thanks @shivamls, i'll be putting in a PR today.

[2020-10-13 02:27] jonathanyeong commented on #281
Nah all good! I'm pretty new to Phoenix so still getting my head around where the configs are. Hopefully, my PR addresses this issue!

[2020-10-13 06:19] m1ome commented on #281
@jonathanyeong saw you PR, closed mine 👍

[2020-10-13 09:04] m1ome opened #316 "Move to ex_machina for fixture testing"
**Is your feature request related to a problem? Please describe.**
Currently papercups using stuff like self-bound factories to run tests, bad thing about it:
- It generates some weird functions like: `create_test_user` e.t.c
- It should also be handled in future development

**Describe the solution you'd like**
Solution is to use [ex_machina](https://github.com/thoughtbot/ex_machina) and remove a

[2020-10-13 13:26] reichert621 commented on #316
great idea @m1ome! this sounds related to https://github.com/papercups-io/papercups/issues/60, do you mind commenting on that issue as well in case these should be done at the same time?

[2020-10-13 15:11] raditya3 commented on #308
Hey, Can I get this one?

[2020-10-13 16:52] reichert621 commented on #308
sure @raditya3! assigning you for now :)

[2020-10-13 18:05] reichert621 commented on #60
thanks for the update @SherSpock! curious if you have any thoughts on using ex_machina? (from #316)

[2020-10-13 19:37] reichert621 commented on #60
makes sense! happy to skip it for now, just wanted to make a note of it since @m1ome brought it up :)

[2020-10-13 19:41] SherSpock commented on #60
Sure! I took a quick look.

Looking at it again, t looks like an Elixir port of `factory_bot`. Maybe I've just never fully understood what `factory_bot` gets you, but I don't understand the appeal. It doesn't seem to solve the problem of the all-knowing factory, and having a library telling you to do it that way in the codebase makes it easy for that way of thinking to get entrenched on the testin

[2020-10-13 21:37] dudeofawesome opened #319 "Is it possible to collect user emails without *requiring* them upfront?"
**Is your feature request related to a problem? Please describe.**
I'd like to have a way to reply to a user who no longer has the site open, but I don't want to make it a hard requirement that they provide an email to message us at all.

**Describe the solution you'd like**
If we could have the same UI as when `requireEmailUpfront` is true, just not disabling the chat box, that would be perfect.

[2020-10-14 01:04] SherSpock commented on #60
@reichert621
Hey sorry this is taking longer than I thought. I quickly realized following the Ecto factory implementation was going to trace a different path to the db than the current persistence layer, and that's not something I was willing to see have a chance at being merged even provisionally.

From there I revisited the idea of factories in separate modules with Intellisense completion of fa

[2020-10-14 03:08] reichert621 commented on #60
@SherSpock tbh i don't think another implementation is in flight at the moment, so feel free to play around with this!

(but if you've lost interest, that's fine too)

[2020-10-14 09:04] m1ome commented on #60
I can do this along with #316. It should be done at a same time.

[2020-10-14 09:04] m1ome commented on #316
@reichert621 can you assign hacktoberfest labels also? 😃

[2020-10-14 09:05] m1ome commented on #316
@reichert621 also it would be awesome if you assign this on to me, and i will try done this ASAP

[2020-10-14 13:18] SherSpock commented on #60
@reichert621
Haven't lost interest! Far from it, I see a good test-data abstraction layer as essential to maximizing happiness and productivity in a test suite. So I see this work as valuable and [relatively] low-hanging fruit.

Having said that, making headway has been a struggle and I think part of it is just not having enough Elixir hours under my belt.

I might be being overly rigid, but I'm n

[2020-10-14 13:38] reichert621 commented on #316
sure! still trying to sort things out in this discussion (#60), but in the meantime I'd love to see what your proposed updates would look like :)

[2020-10-15 11:04] webdeb opened #322 "Please opt-in GoogleAnalytics"
To prevent of being sued we have to get the permission from the user to opt-in analytics. Right now we'd have to disable Papercups completely :(

[2020-10-15 13:11] reichert621 commented on #322
hey @webdeb! can you tell us a bit more about your setup?

for example:
- are you using our hosted dashboard at http://app.papercups.io/, or are you self-hosting on our own server?
- where do you need the opt-in to happen? in the chat widget or in the dashboard? (I'm assuming the chat widget, but I don't think we have Google Analytics there 🤔)

[2020-10-15 21:35] webdeb commented on #322
Hello @reichert621!
please check this out. It looks like Google Analytics cookie to me:
<img width="778" alt="Bildschirmfoto 2020-10-15 um 23 32 43" src="https://user-images.githubusercontent.com/14992140/96188388-efc53580-0f3e-11eb-91db-20e599c47155.png">

For me the opt-in/out would cool on the JS side, so we could use a client-side consent manager flow.

[2020-10-16 02:49] reichert621 commented on #322
I see -- thanks for the info! I'll look into it 👍

[2020-10-16 02:51] reichert621 commented on #319
hey @dudeofawesome! interesting idea :) we could probably make this work -- I just want to figure out what the ideal UX would be here

[2020-10-16 02:51] #308 closed

[2020-10-16 02:51] reichert621 commented on #307
closing, thanks @m1ome!

[2020-10-16 02:51] #307 closed

[2020-10-16 02:52] reichert621 commented on #305
closing, thanks @raditya3!

[2020-10-16 02:52] #305 closed

[2020-10-16 02:53] reichert621 commented on #281
done, thanks @jonathanyeong!

[2020-10-16 02:53] #281 closed

[2020-10-16 02:53] reichert621 commented on #284
hey @KeshriAyushi22 -- any updates on this?

[2020-10-16 02:54] #285 closed

[2020-10-16 02:54] reichert621 commented on #287
done, thanks @shivamls!

[2020-10-16 02:54] #287 closed

[2020-10-16 02:58] KeshriAyushi22 commented on #284
Hi
No I was quite busy with my day job work, couldn't look into it. You can
assign this to someone else, meanwhile if I get time I will look into this.

Thanks
Ayushi

On Fri, Oct 16, 2020, 08:24 Alex Reichert <notifications@github.com> wrote:

[2020-10-16 13:53] webdeb commented on #322
Right now I am in the middle of implementing one, so I'll first just go the most basic enable-all / disable-all flow. And since we are using a React-App and are controlling all of the scripts we can just enable / disable the parts of the app that are affected by the user decision like `useAnalytics` etc..

In case of third-party apps like papercups we would have to entirely disable it

`return !an

[2020-10-16 14:33] reichert621 opened #323 "Chat widget should not autofocus on page load"
**Describe the bug**
The chat widget is capturing the focus of the page when it loads, even thought it's hidden.

**Expected behavior**
The chat widget text input should only come into focus when it's opened.

[2020-10-16 15:31] reichert621 opened #324 "Add API endpoint to export customer data as CSV"
**Problem**
Users would like to export their customer data in CSV format.

**Solution**
Let's create an API endpoint in our `CustomerController` that returns customer data in CSV format. (Currently we just return it as JSON).

This could probably be a good use case for pattern matching, e.g.
[code]

[2020-10-16 22:54] fel-mazo commented on #324
Hi ! I'm going to try to get this done over the weekend and make a pull request ! wish me luck still an elixir beginner !

[2020-10-16 22:58] reichert621 commented on #324
sounds good @fel-mazo!

[2020-10-18 19:48] alisinabh commented on #324
Hi everyone,

I just have a question. How are you going to handle `tags` in customer data?

[2020-10-18 20:37] reichert621 commented on #324
hey @alisinabh! good question -- for now, we can just omit them

[2020-10-18 20:44] nt7 commented on #168
hi,
I wanted to revisit this thread to see if there have been any upgrades on the mattermost chat?
Thank you for all your efforts!
Best,

[2020-10-19 00:24] reichert621 commented on #168
hey @nt7! not yet 😞 sorry -- it's been a bit low on the priority list, but if more people start asking for it we'll definitely bump it up! it's definitely something we'd like to get around to eventually 👍

[2020-10-19 01:04] reichert621 commented on #297
hey @markholmes! any updates on the widget side of this? (i remember you were working on it, sorry if i missed any latest updates!)

[2020-10-19 02:24] reichert621 commented on #304
hey @shivamls -- any updates?

[2020-10-19 02:32] reichert621 opened #327 "Allow users to edit their customer's information"
**Problem**
Our users should be able to edit their customers' information -- specifically their name, email, and phone number.

Users can currently view these fields, but not edit them... this is what we currently display:
<img width="923" alt="Screen Shot 2020-10-18 at 9 08 36 PM" src="https://user-images.githubusercontent.com/5264279/96394885-2befd480-1191-11eb-9493-478cf0998a4f.png">

**Solutio

[2020-10-19 02:37] reichert621 opened #328 "Migrate customers table `current_url`/`pathname` fields from `string` to `text` types"
**Problem**
The `current_url` and `pathname` fields on the Customers table are sometimes longer than the max character limit for DB fields of type "string".

**Solution**
Migrate the following fields on the Customers table from type "string" to type "text":
- `current_url`
- `pathname`

For context: https://github.com/papercups-io/papercups/blob/master/lib/chat_api/customers/customer.ex#L29

**Que

[2020-10-19 02:39] reichert621 opened #329 "Migrate widget_settings table `pathname` fields from `string` to `text` type"
**Problem**
The `pathname` field on the `widget_settings` table is sometimes longer than the max character limit for DB fields of type "string".

**Solution**
Migrate the `pathname` fields on the `widget_settings` table from type "string" to type "text":

https://github.com/papercups-io/papercups/blob/master/lib/chat_api/widget_settings/widget_setting.ex#L18

**Questions, or need help getting star

[2020-10-19 02:47] reichert621 opened #330 "SlackConversationThreads should auto-delete when the associated Conversation is deleted"
**Problem**
When deleting a `conversation` in the database, we get an error if associated `slack_conversation_threads` exist.

This is because when we created the `slack_conversation_threads` table, we forgot to add an `on_delete: :delete_all` to the migration script.

This is what we did: https://github.com/papercups-io/papercups/blob/master/priv/repo/migrations/20200720153026_create_slack_conver

[2020-10-19 04:31] yash2189 commented on #329
hi can I work on this? Also I had a question... do we just need to change the type from `string` to `text`?

[2020-10-19 08:20] swatikothari commented on #327
I can take this one

[2020-10-19 09:01] daskycodes commented on #330
Hi, I would like to prepare a PR for this!

[2020-10-19 10:32] kamilpikula commented on #328
if the problem's similar to https://github.com/papercups-io/papercups/issues/329 - you can assign to me. :)

[2020-10-19 17:28] cheeseblubber opened #332 "Paginate conversations queries in each Inbox tab"
**Is your feature request related to a problem? Please describe.**
Currently we fetch the full list of conversations in each Inbox tab. For users with a lot of conversations it can be slow to load.

**Describe the solution you'd like**
* We should be paginating the conversation and fetch the first 50 conversations.
* Should be ordered by most recently sent message
* When the user scrolls to the bo

[2020-10-19 17:41] cheeseblubber opened #333 "Search conversations with Postgres full text search (API)"
**Is your feature request related to a problem? Please describe.**
We want to be able to full text search the backend use https://www.postgresql.org/docs/9.5/textsearch-intro.html for reference.

**Describe the solution you'd like**
You should be able to search through conversation. Use basic postgres full text search for now.

**Describe alternatives you've considered**
Potentially investigate el

[2020-10-19 17:57] cheeseblubber opened #334 "Archive conversations that are older than 14 days"
**Is your feature request related to a problem? Please describe.**
Currently on the client side we are fetching and listening for changes on all conversations -- even those that were closed month ago. This is starting to slow things down.

Let's add a worker that archives all closed conversations that haven't been updated in over 14 days (2 weeks). This will at least speed things up until we start

[2020-10-19 19:42] reichert621 commented on #330
thanks @daskycodes! let me know if you're interested in tackling any other tickets :)

[2020-10-19 19:42] #330 closed

[2020-10-19 19:42] reichert621 commented on #327
sure @swatikothari :) I'll assign you 👍

[2020-10-19 19:43] reichert621 commented on #328
hey @kamilpikula! sounds good :)

[2020-10-19 19:44] reichert621 commented on #329
hey @yash2189! it will also involve creating a migration script so that this type gets updated at the database level

[2020-10-19 20:00] cheeseblubber opened #335 "A customer support agent should be able to set auto respond message when a user responds to a closed conversation"
When a user replies to a closed conversation they should receive a custom auto message. This is to set expectations that the agent might not respond immediately. The customer support agent should be able to toggle this feature and set the default message that gets sent.

[2020-10-19 20:04] cheeseblubber opened #336 "A customer support agent should be able to set an away message when they are away"
**Is your feature request related to a problem? Please describe.**
When a user sends a message to agents that are away or out of hours than they should receive a custom message setting expectations that they might not receive an immediate message

**Describe the solution you'd like**
A user should receive a custom message if there are no customer support agent has been active for more than 10 minu

[2020-10-19 21:36] kamilpikula commented on #328
hi @reichert621, I sent PR with the changes - https://github.com/papercups-io/papercups/pull/338 :)

[2020-10-19 22:07] reichert621 commented on #113
done with https://github.com/papercups-io/papercups/pull/331 🎉

[2020-10-19 22:07] #113 closed

[2020-10-19 22:17] SherSpock commented on #60
@reichert621 @m1ome
I had a "Eureka!" moment on this last week, my enthusiasm for which I hope is warranted. It might not have a place in papercups, but it's definitely something I want to get down on paper. I will probably offer it to the Ecto docs as a possible alternative as well assuming I haven't overlooked any glaring issues.

Basically and in brief, what I'm thinking of now for a factory im

[2020-10-19 22:26] SherSpock commented on #60
Ah, I forgot at least one thing, part number 4 -- a `unique_token/0` function (possibly imported from a newly defined UniqueTokenGenerator module) that would replace the `counter/0` function in the `test_helpers` and be called everywhere we need to prevent data collisions.

[2020-10-20 09:25] mavrick opened #339 "Self-Hosted - Docker image build results in crash using k8s"
**Describe the bug**
Docker launch in k8s environment results in `Could not find Hex, which is needed to build dependency :credo`

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy papercups/papercups:latest https://hub.docker.com/r/papercups/papercups
2. Check logs

**Expected behavior**
hex to be installed during docker build on hub

**Additional context**

Logs from k8s:

[code]

depl

[2020-10-20 17:33] divyeshairmeet commented on #284
Hi I want to work on this. I'll take a little more time, I hope that's fine

[2020-10-20 17:35] Tapudp commented on #284
Hi I want to work on this, I might take a little longer than usual. I hope that's fine.

[2020-10-20 18:01] reichert621 commented on #284
sounds good @Tapudp! when do you think you'll be able to work on it?

[2020-10-20 18:02] reichert621 commented on #60
sounds interesting @SherSpock! would you be able to set up a bite-sized example of what this might look like in code?

[2020-10-20 18:25] Tapudp commented on #284
This week I'll keep working on this on my free time after work. Do you guys have slack that I can join to communicate for questions to understand the repo better.

[2020-10-20 18:55] reichert621 commented on #284
yes! there's a link in the issue at the top :)

(or see https://github.com/papercups-io/papercups#get-in-touch)

[2020-10-20 18:57] JekRock commented on #284
Is there a way to fill the database with fake data (like seeding) to check the charts?

[2020-10-20 19:42] reichert621 commented on #284
hey @JekRock! not at the moment 😞 I should create a ticket for that haha

[2020-10-20 19:51] cheeseblubber opened #340 "Add ability to redirect users to a protected page after login"
**Is your feature request related to a problem? Please describe.**
If you try to reach a page that requires login you should be redirected to the original page after logging in.

**Describe the solution you'd like**
Use the `redirect` query param to redirect the user back to the original page they tried to access.

For example:
- User tries to go to `/conversations/all` page
- User is not authenti

[2020-10-21 13:15] daskycodes commented on #334
I could give this a try and prepare a PR for this full-stack feature.

shouldn't it be Open -> Closed -> Archived -> Deleted?

[2020-10-21 16:15] reichert621 commented on #334
hey @daskycodes! I think I'd like to break this ticket up into smaller tickets before anyone starts working on this... there's a few things we need to do here:
- we should probably add a `closed_at` field so we known precisely when a conversation was closed
  - for all existing closed conversations, we can just default that field to the current time in the migration
- we'll probably want to add an

[2020-10-21 17:08] daskycodes commented on #334
hey @reichert621

You are right smaller tasks, will be useful!

- What do you think about using the `:updated_at` field for querying conversations with the `status: "archived"`?
  Since closed conversations won't be updated anymore unless they are reopened this could work.
- Not 100% relevant, but the new `Ecto.Enum` type (Introduced in Ecto 3.5) could be useful to make the schema more readable
[c

[2020-10-21 18:14] reichert621 commented on #334
@daskycodes yeah I was thinking about using `updated_at` in the meantime, but long term I'd prefer having `closed_at` and `archived_at` because it's helpful to know exactly when these actions occurred

love the idea of using an enum for the `status` field though!

[2020-10-21 18:20] SherSpock commented on #60
Yep!

[2020-10-22 17:54] kamilpikula commented on #329
hi, I sent PR with solution: #343 :)

[2020-10-23 03:13] cheeseblubber opened #346 "Do not require escalated privileges for docker container"
at the moment if you set security context
[code]
 in your docker compose file or k8 files your build will fail with the following error
<img width="880" alt="Screen Shot 2020-10-22 at 11 12 21 PM" src="https://user-images.githubusercontent.com/4218509/96952125-0b3ebc00-14bc-11eb-9a0c-c148146de1f7.png">

In the docker file we should not need escalated privileges to build the container for productio

[2020-10-23 03:14] cheeseblubber commented on #339
Hi @mavrick I've fixed the issue in https://github.com/papercups-io/papercups/commit/fc7e3191b86236360d260e6358989b6c802f545b but at the moment your security context will break since we don't do the best with scoping our permissions in our containers ATM.

I've opened a new issue for this https://github.com/papercups-io/papercups/issues/346 and will try to fix this by end of next week. Also happy

[2020-10-23 03:14] #339 closed

[2020-10-23 07:08] joelazwar commented on #259
Hi, I'd like to give this a try :)

[2020-10-23 09:54] gdandersson opened #347 "Agent rating/review"
**Is your feature request related to a problem? Please describe.**
To make sure all agents are handling their chats properly, implement reviews

**Describe the solution you'd like**
After a chat finishes, let the customer review/rate the agent/chat. 1-5 stars and optional text review or similar

[2020-10-26 00:59] reichert621 commented on #329
thanks @kamilpikula!

[2020-10-26 00:59] #329 closed

[2020-10-26 01:00] reichert621 commented on #328
thanks @kamilpikula!

[2020-10-26 01:00] #328 closed

[2020-10-26 01:00] reichert621 commented on #324
thanks @alisinabh!

[2020-10-26 01:00] #324 closed

[2020-10-26 01:00] reichert621 commented on #327
hey @swatikothari! any updates on this?

[2020-10-26 01:02] reichert621 commented on #282
thanks @lorecrafting!

[2020-10-26 01:02] #282 closed

[2020-10-26 01:02] #148 closed

[2020-10-26 01:02] reichert621 opened #349 "[Backend] Add ability to archive a conversation"
**Problem**
We should be able to archive (soft delete) conversations if they've been closed for a certain period of time. This will speed up our queries and remove unnecessary data from the UI. Also, since it's a soft-delete, we'll be able to retrieve the data if the user decides they want it back.

**Solution**
Let's add an `archived_at` field to the `conversations` table and use the presence of

[2020-10-26 01:20] reichert621 commented on #349
cc @daskycodes if you're interested!

[2020-10-26 03:03] daskycodes commented on #349
Thank you @reichert621 I will have a go at that :)

[2020-10-26 05:34] alisinabh commented on #324
:blue_heart: :purple_heart: :green_heart: :heart:

[2020-10-26 15:14] eikooc commented on #304
Does it make sense for me to pick this up? It looks stale.

[2020-10-26 18:26] reichert621 commented on #304
yup go for it @eikooc :)

[2020-10-28 03:07] reichert621 commented on #349
done!

[2020-10-28 03:07] #349 closed

[2020-10-28 03:07] reichert621 commented on #340
done in https://github.com/papercups-io/papercups/pull/348

[2020-10-28 03:07] #340 closed

[2020-10-28 03:09] reichert621 commented on #336
For a bit more context: the problem we're trying to solve is when a customer is sending messages through the chat, but no one is around to respond.

This could be solved in a few ways:
- Make it more obvious when people are around to chat
- Automatically send an away message if a customer sends a message and no one is around (e.g. outside of working hours)
- Automatically send an away message if n

[2020-10-28 03:10] reichert621 commented on #316
hey @m1ome! any updates on this?

[2020-10-28 03:23] reichert621 commented on #334
@daskycodes I updated the description of this ticket with more details -- let me know if you're still interested in tackling this!

[2020-10-28 03:29] reichert621 opened #354 "Send conversation state updates to Slack conversation thread"
**Problem**
We don't send any notification to our Slack integration when a conversation is closed, prioritized, archived, etc.

This makes it hard to know the state of a conversation if you're only looking at it in Slack.

**Solution**
Let's send the following messages to the Slack conversation thread when necessary:
- Conversation is closed: _This conversation has been closed._
- Conversation is

[2020-10-28 03:34] #323 closed

[2020-10-28 03:35] reichert621 commented on #284
@Tapudp any updates on this?

[2020-10-28 03:37] reichert621 commented on #239
done -- we just show this info in the sidebar by default now

[2020-10-28 03:37] #239 closed

[2020-10-28 03:37] #217 closed

[2020-10-28 03:40] reichert621 commented on #126
closing, but feel free to reopen if still an issue!

[2020-10-28 03:40] #126 closed

[2020-10-28 03:40] #95 closed

[2020-10-28 03:40] #85 closed

[2020-10-28 10:10] aguilaair commented on #319
I was thinking something similar to what Front does with their widget:
![imagen](https://user-images.githubusercontent.com/29983481/97422508-2c653980-190e-11eb-965c-469f7b4c2366.png)

[2020-10-28 18:24] daskycodes commented on #334
@reichert621 I am going to prepare a PR for this in the coming days :) thanks!

[2020-10-28 18:39] reichert621 commented on #334
thanks @daskycodes! for reference, here's an example of setting up a recurring job:
- The worker itself: https://github.com/papercups-io/papercups/blob/master/lib/workers/example.ex
- Configuring the worker: https://github.com/papercups-io/papercups/blob/master/config/config.exs#L68-L69

[2020-10-28 21:21] #284 closed

[2020-10-29 13:56] alexanderadam commented on #75
There's also a [XMPP library from processone](https://github.com/processone/xmpp) if papercups should get direct XMPP support.

IMHO XMPP support would be great. :heart:

[2020-10-29 14:06] reichert621 commented on #75
nice, we'll definitely check that out @alexanderadam!

[2020-10-29 14:33] alexanderadam commented on #181
What is the difference to #130? :thinking:

**PS:** Thank you so much for papercups! :pray:

[2020-10-29 19:42] reichert621 opened #358 "Add notification sound when new messages come in"
**Problem**
Sometimes it's hard to know if a new message has arrived since there's no sound.

**Solution**
Let's find a good "ping" sound (like FB messenger) to play when new messages arrive, both in the dashboard and in the chat widget.

**Questions, or need help getting started?**
Feel free to ask below, or [ping us on Slack](https://join.slack.com/t/papercups-io/shared_invite/zt-h0c3fxmd-hZi1Zp

[2020-10-30 00:17] reichert621 commented on #181
good point, I'll remove the duplicate 👍

[2020-10-30 00:17] #130 closed

[2020-10-30 19:23] swatikothari commented on #327
Hey @reichert621 - Sorry I got busy with another PR for a different Hacktoberfest project. If this hasn't been taken, I have bandwidth to work on this now. Please let me know.

[2020-10-31 12:20] cheeseblubber opened #360 "On registration it should route to Getting started page"

[2020-10-31 18:07] Tapudp commented on #284
Hey sorry couldn't update the status here, I have been traveling. I'll look up other FE tasks in the repo then. :(

[2020-10-31 22:59] reichert621 commented on #284
sounds good @Tapudp! i just want to make sure tickets are handled within 7 days of assigning them 👍

[2020-11-01 10:21] eikooc commented on #304
@reichert621 I have created a draft pull request at #361. I couldn't for the life of me figure out how to make the field an atom or what is needed to make the key of the map dynamic based on the `field` given as input, so I chose to go with a generic name called `field` for now. If you can help me, then it would be appreciated :)

[2020-11-01 14:03] joelazwar commented on #327
hi, i know hacktoberfest is past but i'd still love to try this issue :)

[2020-11-01 14:15] jalford14 opened #362 "Migrations fail on initial setup"
**Describe the bug**
When running `mix ecto.setup`, the migration fails on `20200831011352_set_messages_seen_at.exs` producing the error `(Postgrex.Error) ERROR 42703 (undefined_column) column c0.archived_at does not exist`.

**To Reproduce**
Steps to reproduce the behavior:
1. `mix ecto.reset` (if you dare)
2. See error

**Expected behavior**
All of the migration files to run.

**Screenshots**
I'

[2020-11-01 18:43] reichert621 commented on #362
thanks for flagging this @jalford14!

should be fixed in https://github.com/papercups-io/papercups/pull/363 :)

[2020-11-01 18:55] #362 closed

[2020-11-01 18:55] reichert621 commented on #327
sure @joelazwar! i'll assign you :)

[2020-11-01 20:56] reichert621 commented on #304
hey @eikooc! thanks for the draft PR :) i'll take a look later, but in the meantime if it's easier feel free to use use `Enum.map` to convert `:field` to the name of the field (e.g. `:browser`)

[2020-11-02 01:26] jalford14 commented on #362
No problem @reichert621. However, you might still run into issues in the future if you change the shape of `Message`. I don't believe preloading messages will work if you have a field in your message schema that isn't yet present in the database (line 13).

[2020-11-02 15:17] jalford14 commented on #354
Mind if I take a stab at this?

[2020-11-02 15:34] reichert621 commented on #354
Sure @jalford14! It might be slightly annoying because setting up Slack locally is kind of a pain, so let me know if you need any help :)

Here are the docs for Slack btw: https://github.com/papercups-io/papercups/wiki/Setting-up-Slack

[2020-11-02 15:35] reichert621 commented on #362
good point! I'll create a separate ticket for that -- just wanted to do the minimal amount of work to unblock current migrations in the meantime :P

[2020-11-03 00:46] #61 closed

[2020-11-03 14:34] #360 closed

[2020-11-03 16:16] #259 closed

[2020-11-03 16:17] reichert621 commented on #334
done, thanks @daskycodes!

[2020-11-03 16:17] #334 closed

[2020-11-03 20:47] jalford14 opened #370 "Adding checks for `mix test` and `mix format` in GH actions"
**Problem**
Currently, it's a hassle to have to run `mix format` and `mix test` before actually submitting a PR. It also means that only the author of the PR has visibility into whether or not `mix format` or `mix test` ran successfully which can be error prone and dangerous.

**Solution**
We should have `mix format` and `mix test` run in GitHub actions whenever a PR is created so that the author

[2020-11-03 21:50] #304 closed

[2020-11-05 13:34] #252 closed

[2020-11-05 13:35] #248 closed

[2020-11-05 20:27] danielfaust opened #376 "Wrong age shown for message"
**Describe the bug**

When clicking on the lower right chat button on https://papercups.io/ so that the widget pops up, I get the following message:

**Expected behavior**

should be

**Screenshots**
![image](https://user-images.githubusercontent.com/320098/98292448-03e3dc00-1fad-11eb-931b-92dfe83b3f19.png)

**Additional context**
My TZ is Europe/Berlin and we've moved from DST (CEST = UTC+2) to n

[2020-11-05 20:51] reichert621 commented on #376
thanks for flagging this @danielfaust! this is a known issue (https://github.com/papercups-io/chat-widget/issues/62)

[2020-11-06 07:28] sladyn98 opened #377 "PaperCups.io takes a lot of time to load"
The hosted version on Heroku takes a lot of time to come into memory. Have you checked out alternate platforms to deploy the app or any way to make the current hosted version faster?
My team was planning to deploy a hosted version of papercups but realised it was too slow. CCing my team.

CC @av06 @prem1835

[2020-11-06 07:43] sladyn98 opened #378 "Shopify Integration"

[2020-11-06 13:41] cheeseblubber commented on #377
Can you give me more details or send me a gif of the issue with the heroku deploy? We have a docker container where you can run on production for them. I need to add more documentation for it first.

[2020-11-06 19:09] cheeseblubber commented on #377
If you are referring to a heroku deploy that takes a while to load. It is because it is deployed to heroku on a free tier which takes time to startup. The way to fix this issue is by upgrading the heroku dynos to a paid version. I think that is the issue https://help.heroku.com/81MBEG7L/how-do-i-upgrade-from-heroku-s-free-tier-and-begin-using-paid-resources

Going to close the issue for now. Feel

[2020-11-06 19:09] #377 closed

[2020-11-06 19:51] jalford14 commented on #370
Fixed with [371](https://github.com/papercups-io/papercups/pull/371).

[2020-11-06 19:51] #370 closed

[2020-11-08 17:44] Immortalin opened #380 "Add support for Flutter"
You can do the same as the React Native widget and put everything in a WebView.

[2020-11-08 18:18] reichert621 commented on #380
Yup, that's the plan! Would you be interested in trying to tackle this @Immortalin?

[2020-11-09 03:04] cheeseblubber commented on #322
@webdeb So our widget doesn't itself doesn't do any google analytics tracking. You can see in the code yourself we don't even include it in the [package.json](https://github.com/papercups-io/chat-widget/blob/master/package.json). We add the google analytics tracking to our hosted site which is app.papercups.io.

I think what is happening is that the cookie that is coming from app.papercups.io is b

[2020-11-09 03:17] webdeb commented on #322
@cheeseblubber you are right, the cookie was already in my browser, thank you the explanation 👍

[2020-11-09 03:17] #322 closed

[2020-11-09 15:27] cheeseblubber opened #381 "Add deployment instructions for AWS"
Add deployment instructions for docker on AWS. Also investigate deploying with cloud formation

[2020-11-09 17:32] reichert621 commented on #195
@jalford14 I don't know if you're interested in looking into this, but thought it might be good since you've recently been working on our Slack integration :)

let me know if you wanna give this a shot! this would be super helpful for us if you figured it out 🙏

[2020-11-09 19:45] ZmagoD commented on #250
Hi, I would like to take over this one.

[2020-11-09 21:51] avorio opened #383 "How to prevent multiple accounts on the same server"
Hi there,

I'd like to use Papercups for a single project — the default multi-tenancy approach does not work for my use case.

Is there a way to disable the creation of new accounts once it's been deployed?

Thanks!

[2020-11-09 21:52] avorio opened #384 "Additional customer metadata"
Is there a way to associate custom metadata to a customer record via the `customer` obj in `config`? How so?

[2020-11-09 21:56] avorio commented on #384
Found it:

[code]

[2020-11-09 21:56] #384 closed

[2020-11-09 22:08] reichert621 commented on #383
hey @avorio! yes :) if you set the `PAPERCUPS_REGISTRATION_DISABLED` environment variable to `1` or `true`, it will prevent anyone else from being able to register for an account unless they have an invitation link from you

[2020-11-09 22:08] reichert621 commented on #250
sounds good @ZmagoD! we still need to sort out the UX a bit, but I'll assign you for now 😄

[2020-11-09 23:23] avorio opened #385 "Slack integration error: redirect_uri did not match any configured URIs"
Hi there,

I'm trying to set up Slack integration following [this tutorial](https://github.com/papercups-io/papercups/wiki/Setting-up-Slack), but after all I'm getting the following error:

<img width="572" alt="Screenshot 2020-11-09 at 20 21 35" src="https://user-images.githubusercontent.com/649020/98608056-32252c80-22c9-11eb-99e7-d6dbfb7eccfe.png">

Part of the URL was intentionally redacted.

A

[2020-11-09 23:28] avorio commented on #385
I re-installed the app and it all worked as expected. Thanks, everyone!

[2020-11-09 23:28] #385 closed

[2020-11-09 23:43] avorio commented on #383
Fantastic! That worked. Thank you so much!

[2020-11-09 23:43] #383 closed

[2020-11-10 06:36] sladyn98 commented on #381
@cheeseblubber Kindly get a GCP guide in place as well. Would love to help out on both

[2020-11-10 06:37] sladyn98 commented on #377
@cheeseblubber Thanks I agree that this is probably the issue. Would love to deploy it on GCP or AWS which would make it much more easier and convenient .

[2020-11-11 01:36] reichert621 commented on #380
For reference, this is all our React Native library does: https://github.com/papercups-io/chat-widget-native/blob/master/src/index.tsx

[2020-11-11 01:42] reichert621 opened #387 "[Reporting - UI] Create chart to display breakdown of customer browsers/timezones/OS's"
**Problem**
Users should be able to see a breakdown of their customers' browser/OS/timezone in the Reporting Dashboard.

Now that https://github.com/papercups-io/papercups/pull/361 is done, we can build the UI!

**Solution**
- Create a new chart component in `/assets/src/components/reporting`
  - We're using `recharts` for our chart library
  - Let's use a pie chart for this
  - See https://github

[2020-11-11 01:46] reichert621 opened #388 "Add "Timezone" data to initial Slack conversation thread"
**Problem**
This is a useful proxy for knowing where the user is located. It should be easy to just add this to the initial message in our Slack conversation threads.

**Solution**
Add "Timezone" to initial Slack conversation thread if it exists. If it doesn't exist, just display "N/A"

The code will go here: https://github.com/papercups-io/papercups/blob/master/lib/chat_api/slack.ex#L278-L300

**

[2020-11-11 01:47] reichert621 opened #389 "Removed unused variables in tests"
**Problem**
When running `mix test`, I see a lot of warnings for unused variables.

**Solution**
Let's either remove these variables, or use them if necessary.

**Testing**
Make sure `mix test` still passes!

**Questions, or need help getting started?**
Feel free to ask below, or [ping us on Slack](https://join.slack.com/t/papercups-io/shared_invite/zt-h0c3fxmd-hZi1Zp8~D61S6GD16aMqmg) :)

(You can

[2020-11-11 01:51] reichert621 opened #390 "[For fun] Write a script that crawls websites to find out who's using Intercom/Drift/Crisp/etc"
**Problem**
It would be nice to have a script that finds potential customers for us 😛

**Solution**
Write a script that crawls the web and looks for websites with the Intercom/Drift/Crisp widget embedded. (Usually if you inspect element, you can figure out what to look for.)

Maybe to start, this script should just take a list of urls and output whether or not a chat widget is currently embedded o

[2020-11-11 01:57] reichert621 opened #391 "Optimize the query in `ChatApi.Conversations.list_conversations_by_account`"
**Problem**
This query could be made more efficient. We currently fetch all conversations ordered by `:inserted_at`, while in the UI we display them based on how recently a message was sent within it (i.e. `message.sent_at`).

**Solution**
Optimize this query to order the results by the most recently sent message associated with the conversation.

It might also be helpful to write a query to fetch

[2020-11-11 02:02] #354 closed

[2020-11-11 10:25] edgrknye commented on #389
Hey @reichert621, I would love to take this up.

[2020-11-11 13:01] reichert621 commented on #389
go for it @edgrknye! since this is a pretty small issue i'll take the first PR from whoever gets this done :)

[2020-11-11 13:11] WLSF commented on #391
Hi Alex, can I have this one?

[2020-11-11 13:13] reichert621 commented on #391
sure @WLSF! assigning you for now 👍

[2020-11-11 13:40] jalford14 commented on #195
@reichert621 yeah that sounds great to me! I might be a little busy for the next couple days but I'll get on it as soon as possible!

[2020-11-11 13:47] reichert621 commented on #195
thanks @jalford14! no rush :)

[2020-11-12 16:26] #389 closed

[2020-11-12 18:32] reichert621 opened #395 "Prepare for change to Slack's Events API"
Email from Slack:

[2020-11-13 15:39] jalford14 commented on #195
@reichert621 working on this now. would you mind assigning me?

[2020-11-13 17:52] reichert621 commented on #195
sure @jalford14! 🎉

[2020-11-13 22:24] reichert621 opened #397 "Use a different cache key for different environments (e.g. dev/staging/prod)"
**Describe the bug**
We currently use localStorage to cache the customer token, so we can track anonymous customers.

Since we use the same key to cache it regardless of environment, this causes errors when switching between environments (e.g. because the API will attempt a lookup of an id that does not exist in that environment's db)

**Expected behavior**
Let's use a different cache key for each

[2020-11-14 02:02] jalford14 commented on #195
hey @reichert621! the answer to this one is actually pretty easy. all you need to do is add the event name `message.groups` which allows us to read from private channels. Here's an example below.

![image](https://user-images.githubusercontent.com/7582183/99136539-6b280e80-25f3-11eb-817f-a780eda5034c.png)
![image](https://user-images.githubusercontent.com/7582183/99136542-711def80-25f3-11eb-94e1-b

[2020-11-14 02:02] jalford14 commented on #195
and here's what I have in Slack. Let me know if there is anything else I can help with!
![image](https://user-images.githubusercontent.com/7582183/99136559-97438f80-25f3-11eb-8b4f-279347b5c8a8.png)

[2020-11-14 03:27] reichert621 commented on #195
nice @jalford14! just curious, did you get this working with your personal access token, or did you get a token through the oauth flow?

[2020-11-14 10:45] kamilpikula commented on #388
hi @reichert621, I think I'll add this feature, you can assign to me. :)

[2020-11-14 14:21] reichert621 commented on #388
sounds good, thanks @kamilpikula!

[2020-11-14 19:27] jalford14 commented on #195
I'm fairly certain it was via Oauth, though I couldn't tell you for sure. I used the guide provided in the wiki which requires using Oauth. I don't know if that answers your question so feel free to let me know what I'm missing.

[2020-11-14 19:52] reichert621 commented on #195
no worries! only reason I ask is because when I was setting up the Slack integration initially I noticed some differences in how permissions worked between my personal access token and then OAuth token... but I'll try out your solution this weekend and hopefully that's all there is to it! :)

[2020-11-15 00:06] reichert621 commented on #195
hmm @jalford14 so no matter what I do, it seems that Slack gives me a `channel_not_found` error whenever I try connecting to a private channel 😕

<img width="697" alt="Screen Shot 2020-11-14 at 7 05 27 PM" src="https://user-images.githubusercontent.com/5264279/99159655-77bc6d80-26ac-11eb-8914-0b56919ad1f9.png">

did you have to do anything else to get this working?

[2020-11-15 00:12] reichert621 commented on #195
looks like I had to manually click "Add an app" to the channel to get it working 😕

<img width="516" alt="Screen Shot 2020-11-14 at 7 11 23 PM" src="https://user-images.githubusercontent.com/5264279/99159731-527c2f00-26ad-11eb-9ac3-584f5d9e88f6.png">

did you have to do this too?

[2020-11-16 04:24] jalford14 commented on #195
The only thing I had to do was re-authenticate the app. I didn't have to add the app to the channel

[2020-11-16 13:52] reichert621 commented on #195
hmm strange, do you mind sharing which scopes were used for your Slack authorization?

for example, mine were:
[code]

[2020-11-16 18:43] #149 closed

[2020-11-16 20:55] #387 closed

[2020-11-16 20:56] reichert621 commented on #266
We should probably also add APIs for searching for conversations/customers by tag 🤔

[2020-11-16 23:17] reichert621 commented on #376
hey @danielfaust! i think this should be fixed now -- can you double check for me and let me know if I can close this?

[2020-11-16 23:19] danielfaust commented on #376
Hi @reichert621 it's fixed. Great job!

[2020-11-16 23:19] #376 closed

[2020-11-17 00:34] reichert621 commented on #376
glad to hear it, thanks for flagging this!

[2020-11-17 01:37] dwwoelfel commented on #390
You might try https://stackshare.io/api or [Hunter](https://hunter.io/technologies/intercom) for this.

[2020-11-17 01:59] cheeseblubber opened #402 "Add deployment instructions for GCP"
Add deployment documentation for GCP currently we support production docker deploys with our https://hub.docker.com/r/papercups/papercups image. Would be great to be able to get docker deploy instructions for Google Cloud with the docker image

[2020-11-17 02:28] #346 closed

[2020-11-17 02:38] cheeseblubber opened #403 "Add deployment instructions for Azure"
Add documentation with examples for deploying with Azure with the prod docker container.

[2020-11-17 02:40] reichert621 commented on #390
nice, will definitely check those out 😄 thanks @dwwoelfel!

[2020-11-17 13:22] aguilaair commented on #380
I may be interested in tackling this, I'll take a look at what I can do!

[2020-11-17 18:38] aguilaair commented on #380
https://github.com/aguilaair/papercups_flutter -- Very rough still, but it's a start

[2020-11-17 19:14] reichert621 commented on #380
awesome @aguilaair! this looks great so far 🎉 🎉 🎉

do you happen to have any experience with creating packages in Dart? (I don't have any experience with Dart, so I'm not sure... is it similar to creating a new npm module? 🤷)

[2020-11-17 19:17] aguilaair commented on #380
I'm afraid I have no experience with new npm modules so I cannot really judge 😅
I'll send over the basic docs for creating a package if you want to take a look: https://flutter.dev/docs/development/packages-and-plugins/developing-packages

[2020-11-17 20:10] reichert621 commented on #380
no worries, thanks!

[2020-11-19 02:13] reichert621 opened #405 "Improve how we identify customers in the chat + Storytime"
**Problem**
The introduction of Storytime brings about some potential challenges around how we identify customers in both of these plugins.

We are currently not consistent in how we identify a customer in chat vs Storytime:
- In chat, we don't create/update the customer info until a conversation is started
- in Storytime, we need to identify the customer as soon as it loads

This can result in so

[2020-11-20 01:41] jalford14 commented on #195
@reichert621  `channels:history,channels:manage,chat:write,chat:write.public,incoming-webhook,users:read,users:read.email`

[2020-11-20 01:43] jalford14 commented on #195
odd, i'm not seeing the message scope in either of our slack auths

[2020-11-20 01:59] reichert621 commented on #195
hmm I still have no idea why I had to add the app to my channel manually, while it worked for you right away 🤔 maybe I'll just have to reach out to Slack support and see if they know, they've been helpful in the past 🤷

[2020-11-22 06:52] sladyn98 opened #407 "Add email verification on sign up"
User Story: As a user I want get a confirmation email when I register with papercups on the signup page.

[2020-11-22 06:54] sladyn98 commented on #407
With respect to this would we want the email to contain a kind of password or just a link which directly gets us into the page.

[2020-11-22 07:06] sladyn98 opened #408 "Add feature to send unique invite link via email"
**User Story** : As a user I want to be able to email the unique invite link to team mates.

[2020-11-22 17:36] #391 closed

[2020-11-23 12:22] cheeseblubber commented on #407
@sladyn98 would your team be able to help contribute to this one?

[2020-11-23 12:23] cheeseblubber commented on #378
@sladyn98  @av06 Can you guys add more details on what this would look like?

[2020-11-23 12:29] cheeseblubber commented on #388
@reichert621 closing now since it looks merged feel free to reopen

[2020-11-23 12:29] #388 closed

[2020-11-23 12:41] cheeseblubber opened #413 "Hide widget outside of working hours"
**Problem**
As a company it is a bad experience if a customer messages me and there is no response

**Solution**
As a user I want to be able to hide widget outside of working hours. I want to have a boolean flag is set.

You need to modify:
https://github.com/papercups-io/chat-widget

- [ ] Widget should have a boolean field with the flag hideWidgetOutsideOfWorkingHours (Or whatever reasonable nam

[2020-11-23 12:43] cheeseblubber commented on #413
Happy to merge in just the widget side changes and dashboard changes separately if making both is too intimidating

[2020-11-23 13:57] reichert621 commented on #413
(similar to https://github.com/papercups-io/papercups/issues/243)

[2020-11-23 15:54] sladyn98 commented on #407
@cheeseblubber Yeah sure

[2020-11-23 17:40] xenforq opened #414 "Toggle automatic text to emoji conversion"
**Problem**
Normal text-based emotes like ":)" automatically becomes a representative emoji from the Twemoji library. While I can understand the mindset for this amount of playfulness—it just doesn't fit every company the same.

**Solution**
- [ ] Add on/off toggle for automatic text -> Twemoji conversion
- [ ] Add option for the use of Twemoji or system native emoticons.

**Additional context**
@

[2020-11-23 18:11] cheeseblubber opened #416 "Auto code reload for dev docker compose file"
Docker compose file for dev doesn't auto load the changes locally. Ideally we make the dev.Dockerfile as similar to prod.Dockerfile as possible

[2020-11-23 21:16] cheeseblubber opened #417 "As a customer support agent I want to be able to add a private note to a customer"
**Problem**
I want to add private notes to a customer so in case there is a reoccurring issue next time I have more context. A private note is only shown to the company and not to the customer

**Additional context**
On the side bar there should be a private note section where you can add the note

On the side bar:
It should show  private notes related to a customer
It should show private notes re

[2020-11-24 15:14] cheeseblubber opened #418 "test - ignore"
@all-contributors please add cheeseblubber

[2020-11-24 20:31] Immortalin commented on #380
@reichert621 I think papercups flutter can now be added to the docs.

[2020-11-24 20:31] #380 closed

[2020-11-24 21:52] reichert621 commented on #380
🎉

[2020-11-25 19:52] reichert621 commented on #417
let's make sure we distinguish between private notes on customers vs private notes/messages in a conversation -- these might need to be handled separately

TODOs for this:
- [ ] draft a spec of the models and APIs we'll need to create/modify
- [ ] write ticket(s) for building out those models/APIs
- [ ] write ticket(s) for building out the UI

we can probably just take inspiration from Intercom or

[2020-11-25 20:00] reichert621 commented on #414
hey @xenforq! just curious, is this specifically for the chat widget, or would you like this in the admin dashboard as well?

[2020-11-25 20:01] reichert621 commented on #418
assuming we can close this now? feel free to reopen if you need to

[2020-11-25 20:01] #418 closed

[2020-11-26 20:12] xenforq commented on #414
I thought it would be a toggleable option in the admin dashboard solely.

[2020-11-26 20:13] xenforq commented on #414
Oops, closed the issue by mistake 😳

[2020-11-26 20:35] arjenrschat opened #420 "Local dev installation, show incorrect widget installation code"
**The issue**
The port numbers in the widget code,  is incorrect for local dev installation. If you use this code to test your local system on a local test domain, the widget will not load.

**To Reproduce**
Steps to reproduce the behavior:
Go tohttp://localhost:3000/account/getting-started on your local dev

Code shown:

[code]

**Code should be **

[code]

[2020-11-27 15:52] arjenrschat opened #422 "/logo192.png file not found"
**Describe the bug**
file not found logo192.png

**To Reproduce**
Open any page in the browser it wants to load
<link rel="apple-touch-icon" href="/logo192.png">

**Additional context**
[error] #PID<0.1191.0> running ChatApiWeb.Endpoint (connection #PID<0.1190.0>, stream id 1) terminated
Server: localhost:4000 (http)
Request: GET /logo192.png
** (exit) an exception was raised:
    ** (File.Error)

[2020-11-29 20:23] cheeseblubber opened #424 "Make ip tracking optional per company for GDPR compliance"
**Problem**
IP address is considered personal information and we currently only use it to figure out timezone and location of the user.

**Solution**
Boolean flag to track IP or not with default as not tracking IP address

[2020-11-30 16:37] cheeseblubber opened #428 "Verify email on sign up with debounce"

[2020-11-30 16:42] cheeseblubber commented on #199
Fixed

[2020-11-30 16:42] #199 closed

[2020-12-01 01:52] #428 closed

[2020-12-02 00:15] reichert621 commented on #75
just adding a note for one XMPP client we've heard about: https://conversations.im/

[2020-12-02 02:27] cheeseblubber opened #432 "Continue conversation over email"
**Problem**
Customer support agents wants to continue the conversation over email. CS agents want multiple channel support in one location. We want to support conversations over email

## Options 1:
### Gmail integration (Needs more investigation @reichert621)
* Main advantage is it might be less set up for gmail

## Option 2:
### Create a new subdomain every time under our domain (least favorite)

[2020-12-02 02:29] reichert621 commented on #420
thanks @arjenrschat!

I think there are a few places we need to do a better job distinguishing between localhost:3000 (client) and 4000 (server)... I'll  take care of this 👍

[2020-12-02 02:43] reichert621 opened #433 "Customer Notes v1"
**Problem**
As a user, I should be able to add notes to a customer.

At a high level, this will involve the following tasks:
- Creating a new table/model in the db to store the notes
  - For reference, here's Intercom's Notes API: https://developers.intercom.com/intercom-api-reference/v0/reference#note-model
- Creating the APIs to create/read/update/delete a note
  - And ideally some tests! (Phoen

[2020-12-02 02:44] reichert621 commented on #433
@fkotsian mind if I assign this to you? 😄

[2020-12-02 03:00] cheeseblubber opened #434 "Move docs off of github"
Move docs to a better platform with better search and index

[2020-12-02 03:01] cheeseblubber opened #435 "Basic analytics tracking"
We have customers requesting basic events they want to track. This can feed in to events that can trigger proactive conversations

[2020-12-02 03:04] cheeseblubber opened #436 "Proactive messaging"
Companies want to be able to message customer based on specific scenarios. Gotta add more details

[2020-12-02 19:21] cheeseblubber opened #438 "Investigate GDPR Data protection processing agreement"
To support GDPR we would need a data processing agreement
https://gdpr.eu/data-processing-agreement/

[2020-12-02 22:02] makkiedavid opened #441 "Being able to opt out of the automatic emails"
**Problem**
I wish to disable the e-mails automatically sent out after a customer has ended the session and I send them a message back.

**Additional context**
The company should have an option to opt out from automatic e-mails. Where this should be implemented is up to the developers. I suggest inside the config script tag, something along the lines of `sendEmails: true/false`

For further contex

[2020-12-02 22:05] reichert621 commented on #441
hey @makkiedavid! would it work for you if we added this feature to the account settings page in the dashboard, rather than as a field on the chat widget?

[2020-12-02 22:06] makkiedavid opened #442 "I wish to be able to translate certain texts in the chat window"
**Problem**
I wish to be able to edit all text inside of the chatbox for translation purposes

**Solution**
Being able to edit the text inside of a chatbox via the script config tag

**Additional context**
I am talking about the texts that we are not yet able to edit such as the "Sent just now" & "Enter your email". The reason I wish to edit those is because my target audience is Dutch. Thanks in

[2020-12-02 22:07] makkiedavid commented on #441
Hi @reichert621 this would work perfectly fine for me! :)

[2020-12-02 22:09] reichert621 commented on #442
@makkiedavid makes sense! making "Enter your email" editable should be easy, so we'll probably do that first :)

("Sent just now" is dynamic, so that might be a bit trickier... since it shows up as "Sent 5 minutes ago", etc as time goes on)

[2020-12-02 22:41] #90 closed

[2020-12-02 22:44] reichert621 commented on #413
(gonna assign @fkotsian for now, i can always pick this up if he's too busy though)

[2020-12-03 14:48] arjenrschat opened #443 "Invite url point to wrong port"
On a local dev install the invite url points to the wrong port, 4000 instead of 3000

**To Reproduce**
Generate an invite url

**Screenshots**

<img width="752" alt="image" src="https://user-images.githubusercontent.com/25150192/101043750-ee97a880-357e-11eb-80f0-d1e68812bfd4.png">

[2020-12-03 20:33] cheeseblubber opened #444 "On hosted version limit usage based on plan"
Debounce email validation support - when an user enters their email
story time page view
number of seats
private notes
email channel
30 day message retention

[2020-12-04 01:47] #358 closed

[2020-12-04 11:15] arjenrschat opened #446 "New message notification sound not playing"
**Describe the bug**
When a new message comes no sound is played, because Firefox blocked it,
Raising:
Failed to play notification sound: DOMException: The play method is not allowed by the user agent or the platform in the current context, possibly because the user denied permission.

**To Reproduce**
Use Firefox to receive messages,
After a few messages, the autoplay permissions is blocking the

[2020-12-04 13:59] reichert621 commented on #446
hey @arjenrschat! i'm having trouble reproducing this... did you manually set the "block audio" permission, or did something happen automatically? is this only an issue in incognito?

[2020-12-04 14:05] aguilaair commented on #446
This is a Firefox issue, mine has this default setting:
![image](https://user-images.githubusercontent.com/29983481/101172973-29aee000-3642-11eb-96af-053070478d95.png)

[2020-12-04 14:09] reichert621 commented on #446
ahh i see now, thanks for clarifying @aguilaair

[2020-12-05 07:07] sladyn98 opened #448 "WordPress plugin widget appearing a square"
The WordPress plugin shoes a square for the widget which is not the expected behaviour.
Attaching the screenshot.
![IMG-20201204-WA0044](https://user-images.githubusercontent.com/28837406/101236349-9c799300-36f6-11eb-997f-bb739001b1e9.jpg)

[2020-12-05 16:56] cheeseblubber commented on #407
Verification email would clean up our email database so we don't have a bunch of fake emails

[2020-12-05 21:17] fkotsian commented on #181
Phoenix now supports file upload natively in LiveView!: https://www.phoenixframework.org/blog/phoenix-live-view-upload-deep-dive

[2020-12-05 23:12] jalford14 commented on #335
mind if I try out this one?

[2020-12-05 23:42] reichert621 commented on #335
hey @jalford14! i think we need to define this a bit more clearly first -- I'd rather break this down into a few tickets before someone jumps in to tackle it.

for example, some questions we need to answer:
- what problem are we trying to solve here exactly? is it only the case where a user replies to a conversation that has already been closed, or the case where a user replies but the agent is no

[2020-12-05 23:44] reichert621 commented on #448
hey @sladyn98! is there a website we can visit to see this bug? or some other way we can reproduce this error?

also do you mind providing some info around which browser this was in, etc?

[2020-12-05 23:48] reichert621 commented on #417
(spec will be written here: https://github.com/papercups-io/papercups/issues/433)

[2020-12-06 02:58] #327 closed

[2020-12-06 03:08] cheeseblubber opened #449 "Improve registration flow when signing up for team plan"
When a user registers under team plan on the pricing page they should automatically start their 30 day trial

[2020-12-06 23:59] reichert621 opened #450 "Implement pagination for the `ChatApi.Customers.list_customers/1` method"
**Problem**
We currently fetch ALL customer records when we call the `ChatApi.Customers.list_customers/1` method (i.e. we set no `limit` or `offset` in our query, nor do we have cursors or anything like that)

This will not scale very well as more and more data gets added.

**Solution**
To start off, let's do the following:
- Implement another version of `ChatApi.Customers.list_customers(account_i

[2020-12-07 00:03] reichert621 opened #451 "Implement pagination for the `ChatApi.Conversations.list_conversations_by_account/2` method"
**Problem**
We currently fetch ALL conversation records when we hit the `ChatApi.Conversations.list_conversations_by_account/2` method (i.e. we set no `limit` or `offset` in our query, nor do we have cursors or anything like that)

This will not scale very well as more and more data gets added.

**Solution**
To start off, let's do the following:
- Implement another version of `ChatApi.Conversation

[2020-12-07 00:20] reichert621 opened #452 "Conversation Private Notes v1"
**Problem**
As a user, I should be able to add a private note to a conversation.

At a high level, this will involve the following tasks:
- Updating the `messages` table to support private notes as well
  - Or, creating a new table/model in the db for private conversation notes, if we decide this is preferable
- Making sure that private notes are only available in the admin/agent UI
  - This also

[2020-12-07 00:35] reichert621 opened #453 "Add `object` field to JSON views to reference the name of the model"
**Problem**
One thing I like about Stripe's API responses is that they include the name of the model in the JSON response payload as an `object` field. For example, in their Customer object (https://stripe.com/docs/api/customers/object) they have:
[code]

**Solution**
Let's add an `object` field to all our JSON views where it references a clear model (e.g. "message", "customer", "conversation", et

[2020-12-07 02:02] reichert621 opened #454 "[Free tier] Set up a worker to archive stale conversations after 30 days"
**Problem**
We want to limit data retention for users in our hosted free tier. Let's start by archiving conversations that haven't been active in >30 days and are not marked as a priority (i.e. favorited/starred).

**Solution**
Create a worker with Oban ([example](https://github.com/papercups-io/papercups/blob/master/lib/workers/archive_conversations.ex)) that archives conversations where the foll

[2020-12-07 02:04] #443 closed

[2020-12-07 02:12] reichert621 commented on #422
hopefully fixed in https://github.com/papercups-io/papercups/commit/c57e461c16568fc3232f7423af906b60b2e34476, but i'm having some trouble reproducing... let me know if this is still an issue!

[2020-12-07 02:12] #422 closed

[2020-12-07 15:40] edgarkanye commented on #453
I would like to take this up

[2020-12-07 17:13] reichert621 commented on #453
sure @edgarkanye, i'll assign you for now :)

[2020-12-07 18:47] jalford14 commented on #452
Hey @reichert621, just a few thoughts from our very brief discussion yesterday. I've gone through Intercoms API docs and see how they differentiate between `messages` and `notes`. It looks like they're two different models entirely.

![image](https://user-images.githubusercontent.com/7582183/101368267-f0aa8180-3874-11eb-9e29-2b2dcb2e4af8.png)
![image](https://user-images.githubusercontent.com/7582

[2020-12-07 19:19] reichert621 commented on #452
hey @jalford14! so the `Notes` API you mentioned above is actually "customer/contact notes", not private conversation notes -- we have a separate ticket set up for that in https://github.com/papercups-io/papercups/issues/433 :)

Intercom's public API doesn't seem to expose the functionality around private conversation notes, but when I looked at the network responses in their dashboard i noticed t

[2020-12-07 19:39] sladyn98 commented on #448
Hey the website is theblockchainschool.io and the browser was safari @reichert621. Unfortunately we might not be able to reproduce it since the client took it off

[2020-12-07 19:39] sladyn98 commented on #448
Cc @av06

[2020-12-08 10:23] flmel commented on #60
Me

[2020-12-08 10:23] flmel commented on #316
Me

[2020-12-08 14:29] #60 closed

[2020-12-08 14:30] #316 closed

[2020-12-08 17:01] cheeseblubber opened #457 "As a CS agent I want to share specific conversation with my team"
**Problem**
I want to be able to get a link to share with my teammates for specific conversations

**Solution**
I want to click/copy a link on the context side bar and share that to my team members for that conversation

**Additional context**
Only your teammates can get access to this conversation.

[2020-12-08 20:56] #453 closed

[2020-12-09 02:56] fkotsian commented on #433
3 pieces:

Note
- author_id: int
- account_id: uuid
- customer_id: uuid
- body: text
- timestamps()

NoteController

def create(conn, %{"note" => note_params}) do  # params = %{"body" => body}
  # require body
  # author_id = current_user, account_id = current_user.account
end

def index(conn, params) do
  # with %{account_id: account_id} <- conn.assigns.current_user do
  #   notes = Notes.list_no

[2020-12-09 17:47] reichert621 commented on #442
@makkiedavid quick updates -- the "Enter your email" portion of this should be done by the end of today 👍 (we'll be adding an `emailInputPlaceholder` option where you can customize it)

[2020-12-09 18:25] makkiedavid commented on #442
Super! 😄

[2020-12-09 20:16] cheeseblubber opened #461 "A conversation should auto close after 7 days of no response"
Conversations should auto close when there were no messages after 7 days (Make this configurable in the conversations page)

[2020-12-10 01:14] cheeseblubber commented on #457
@jamesefhawkins Would the goal of this to be to have the teammate reply to it or is the goal to share a transcript of the conversation?

[2020-12-10 01:56] fuziontech commented on #457
I think both. The let's say I spot a question in a conversation that I don't know anything about and want to pass it off to someone who does. It would be super helpful to have a deep link that I could share with them that would take them right to the specific conversation. You do this already in the slack integration including the uuid in the link.

I think the ideal case here is when you click on

[2020-12-10 04:01] reichert621 commented on #442
@makkiedavid you should now be able to add `emailInputPlaceholder` to your Papercups config to customize it :)

[2020-12-10 08:41] flmel opened #465 "Convert INT ids to UUIDS."
There are two tables, namely "users" and "oban_jobs" that use INT based IDs. Unless I'm missing on something those would ideally be converted to uuids.

[2020-12-10 13:01] makkiedavid commented on #442
Working very well, thank you! I suppose this issue can be closed then?

[2020-12-10 14:20] reichert621 commented on #442
glad to hear it! editing dynamic text will probably not happen in the short term (unless we can think of a relatively simple way to do it), so i'm going to close this for now and move this task to https://github.com/papercups-io/chat-window/issues/21

[2020-12-10 14:20] #442 closed

[2020-12-10 14:24] reichert621 commented on #465
I think it's fine to keep `oban_jobs` as ints because they're only used internally on the server, but it might be nice to convert user IDs to UUIDs eventually!

[2020-12-10 15:26] reichert621 commented on #457
@fuziontech should be done in #462 but feel free to reopen if i missed something!

[2020-12-10 15:26] #457 closed

[2020-12-10 15:44] edgarkanye commented on #454
@reichert621 I would like to take this on.

[2020-12-10 16:30] reichert621 commented on #454
sure @edgarkanye! i'll assign you for now 👍

[2020-12-10 19:06] flmel commented on #450
I can take on it

[2020-12-11 20:35] fkotsian commented on #433
UI notes:

- modals
- delete exp

[2020-12-15 21:33] cheeseblubber opened #473 "As a customer support manager I want to see the response time of my agents"
**Problem**
I want to know how long on average it takes to respond on the customer support team level and individual level

[2020-12-15 21:35] cheeseblubber opened #474 "Change reporting page's color to be more muted"
It just doesn't look that good right now... Maybe similar to the getting-started color palette that is more muted

[2020-12-16 00:19] reichert621 opened #475 "Make it possible to customize "View new messages" text in chat widget"
**Problem**
When a notification pops up at the bottom, we show "View new messages" in English

**Solution**
Make this text customizable, so people can translate it if they want

**Questions, or need help getting started?**
Feel free to ask below, or [ping us on Slack](https://join.slack.com/t/papercups-io/shared_invite/zt-h0c3fxmd-hZi1Zp8~D61S6GD16aMqmg) :)

(You can also check out our [CONTRIBUTI

[2020-12-16 04:09] fkotsian commented on #56
Some research on writing to Teams from PC and to PC from Teams:

Integration type | UX | Implementation | URL
-----------------|----|--------------------|---------
Incoming webhook | Exposes a /teams/channels/xxx endpoint that Papercups can post messages to | PC posts to /teams/channel endpt, message is inserted on Teams end		| https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-

[2020-12-16 19:13] cheeseblubber opened #476 "As a customer support agent I want to be able to create a ticket easily from customer conversations"
**Problem**
When I get a message in Slack or dashboard I want to be easily capture the new problem/feature request easily

[2020-12-17 22:42] cheeseblubber opened #479 "Make join Slack button on github readme bigger and a button"

[2020-12-18 18:05] cheeseblubber opened #480 "As a customer support agent I want to see where the message is coming from"
I want to know if it is from slack or widget or email etc... on the dashboard

[2020-12-18 20:47] #475 closed

[2020-12-21 01:59] cheeseblubber opened #482 "As a CS agent that uses shared Slack channels I want to be able to connect multiple channels"
At the moment I can only connect a single public channel. But I need it to connect multiple channel and each one for each individual customer

[2020-12-21 16:41] cheeseblubber opened #484 "As a customer support manager I want to see how long it takes to close a ticket"
Problem:
I want to make sure my team is providing great customer support.

Solution:
I want to see average response time of how long it takes to close a customer support ticket

[2020-12-21 17:12] reichert621 commented on #433
thanks for all the help on this @fkotsian 🎉

[2020-12-21 17:12] #433 closed

[2020-12-21 21:49] psolvy commented on #451
Hi
I'll take this one)

[2020-12-21 21:50] reichert621 commented on #451
sounds good @psolvy! I'll assign you for now :)

[2020-12-21 22:54] reichert621 opened #485 "Set up Company model + associations"
**Problem**
We should be able to group Customer records by Company.

**Solution**
Create a database migration that does the following:
- Creates a `companies` table with the following fields:
  - `id` (uuid, required)
  - `name` (string, required)
  - `external_id` (string)
  - `website_url` (string)
  - `description` (string)
  - `logo_image_url` (string)
  - `industry` (string)
  - `slack_channe

[2020-12-21 23:13] reichert621 opened #486 "Add `closed_at` field to Conversation model"
**Problem**
We need to be able to calculate how long it takes for a conversation to be closed ("resolved").

Right now the way we determine if a conversation is closed is by looking at the `status` field, which can currently only be `"open"` or `"closed"`.

**Solution**
- Set up a database migration to add the `closed_at` field to the `conversations` table (as a `utc_datetime`)
- Update the `ChatA

[2020-12-21 23:22] reichert621 opened #487 "Figure out the best way to determine how long it takes to reply to a conversation"
**Problem**
Our users want to measure how long it takes from a conversation being created to the first reply from an agent.

At the moment we could determine this by querying conversations and messages and comparing `conversation.inserted_at` with `message.inserted_at` for the first message that comes from an agent (i.e. the first message with a `user_id`).

However I'm a little worried that this

[2020-12-22 10:30] cheeseblubber commented on #487
I prefer the solution of adding a first_replied_at field mainly because the queries is going to be pretty expensive as the number of conversations of a company grows and it is probably better to cache the calculation so we don't have to do it every time.

I plan on setting the first_replied_at field when the first message from the agent is first sent on message_controller's create function

[2020-12-22 20:10] cheeseblubber commented on #487
@reichert621 Probably plan on creating a function in notification_channel.ex "maybe_update_first_replied_at" that checks if a conversation has a "first_replied_at" field and then update the field there.

Other options were doing it in the message controller on create but it felt like notification_channel.ex fits a bit better

[2020-12-22 20:46] reichert621 commented on #487
@cheeseblubber sounds good, tbh there's probably a bit of refactoring we should do eventually to handle the fact that we can create messages from 3 sources as an "agent": the dashboard (via websockets, `notification_channel`), the API (via the `message_controller`), and Slack (via `slack_controller` webhook)

i think starting off in the `notification_channel` makes the most sense 👍

one nice thing

[2020-12-22 20:53] #485 closed

[2020-12-23 06:33] flmel commented on #451
Hi  @psolvy, @reichert621

If we want to use prams such as limit offset  eg. _`%{page_size: 5, page_number: 10}`_ we cant use cursor based pagination.
I have opened a [pr](#490) which uses [scrivener](https://github.com/drewolson/scrivener_ecto) (offset based pagination).

also this is related with #332

[2020-12-23 12:07] flmel commented on #407
Since we use pow this will be relatively easy task, I can take on

[2020-12-23 16:36] reichert621 commented on #407
@flmel feel free to use whatever message you want for now :) it should be pretty easy to change it later if we want to

to start off, something like this should be fine:

**Subject:**

**Message:**

[2020-12-23 16:38] reichert621 commented on #451
@flmel since conversations will be fetched as the user scrolls (or with e.g. a "Load more" button), rather than in a table with pages, i think it should be fine to use cursor-based pagination here 👍

[2020-12-24 00:20] #450 closed

[2020-12-24 12:38] psolvy commented on #451
ок

[2020-12-24 20:53] cheeseblubber opened #491 "Link to conversation during pop up in the dashboard when there is a new message"

[2020-12-24 21:52] cheeseblubber commented on #487
WIP: https://github.com/papercups-io/papercups/tree/track-agent-response-time

[2020-12-28 12:24] jeepers3327 commented on #486
Can I work on this one?

[2020-12-28 16:26] reichert621 commented on #486
sure @jeepers3327! i'll assign you for now 👍

[2021-01-02 00:04] cheeseblubber opened #499 "Track average response time by agent"
**Problem**
As a customer support manager I want to see response time break down by agent

**Solution**
On the reporting page we should have average response time broken down by agent over time.

[2021-01-02 00:48] cheeseblubber commented on #499
Other option instead of having it in the dashboard is to export this data in a CSV file so that people can run analytics on it. I've seen companies basically set up some pretty complex excel spreadsheets so that they can do the analysis themselves.

[2021-01-04 23:08] cheeseblubber opened #502 "When a user is customizing their background color text should auto render black when it is a lighter color"
**Problem**
If a user has a lighter shade color for the chat widget the text is not legible

**Solution**
We should auto change the color of the text to black when the shade is too light (need to figure out how to detect the shades and brightness)

**Describe alternatives you've considered**
We could let them change the color of the text themselves but it could be too ugly if they choose some mism

[2021-01-05 00:17] aguilaair commented on #502
This is also a problem in the Flutter version, I'll create an issue for it and see what I come up with 😀

[2021-01-05 18:00] aguilaair commented on #502
BTW @cheeseblubber, it looks like the shadow's z-index isn't quite right and the message is going in front of it:
![image](https://user-images.githubusercontent.com/29983481/103681844-482d3180-4f88-11eb-8789-141742460365.png)

[2021-01-06 01:36] cheeseblubber opened #505 "When another agent replies from slack it show up on the left side"

[2021-01-06 01:51] reichert621 commented on #505
@cheeseblubber this is somewhat intentional, based on fb messenger where the "current user" always shows up on the right side, and anyone else shows up on the left... I'm curious how Intercom/Drift/etc handle it though 🤔 basically the problem we want to solve is: "it's hard to distinguish between the customer and other agents in the dashboard when multiple agents send messages in a conversation"

[2021-01-07 05:40] lookformentor opened #509 "When I use IME for Japanese Input, TextBox submit incomplete message while inputting."
**Describe the bug**
When I use IME for Japanese Input, TextBox submit incomplete message while inputting.

**To Reproduce**
Steps to reproduce the behavior:
1. Input Japanese character.
2. TextBox submit incomplete message while inputting.

**Expected behavior**
Stop submitting message during IME is composing

**Additional context**
This is the same problem.
[When I use IME for Japanese Input, Te

[2021-01-07 17:35] reichert621 commented on #509
thanks for flagging this @lookformentor! we'll look into it :) looks like the solution is pretty simple

[2021-01-11 01:02] reichert621 opened #515 "The public `/api/customers/identify` endpoint should factor in the current `host`"
**Problem**
For customers who include Papercups in their self-hosted open-source projects, there is potential for their user IDs to conflict with other deployments of the project (e.g. if the `users` table has auto-incrementing integer IDs).

In the meantime, to work around this customers can fix this by updating the `external_id` set on the widget to be unique across environments (e.g. by includi

[2021-01-11 19:58] reichert621 commented on #515
after thinking about this a bit more, it might be best to avoid using explicit customer fields (like id and email) to figure out which conversations to load in general, and just stick with the more opaque token we cache in the browser

this has the downside of not loading conversation history when a user switches browsers/devices, but it might be a reasonable trade-off

[2021-01-11 22:16] paolodamico commented on #515
As a suggestion you could also **optionally** delegate the token logic to the client (e.g. PostHog). Then on the client side we can store a token (on our DB) with enough randomness to be secure enough. An even better approach would be the ability to provide a user ID with a tamper-proof signature that you can validate async (e.g. a JWT). With this, the client would have the option of supporting en

[2021-01-11 22:53] reichert621 commented on #515
@paolodamico i like that idea :) but i'm still not completely sure i understand how that would work in practice -- would papercups be issuing the JWT, or would you guys?

[2021-01-12 12:45] paolodamico commented on #515
I've been giving it more thought and doing the shared secret or some sort of async signing might be an overkill. Particularly, if we consider for instance a JWT signed with `HS256`, the signature hash length would be 32 bytes. From this you could simply **allow the client the option to provide the unique ID** and maybe just clarify that the ID should have enough entropy (be generated by a cryptogr

[2021-01-14 17:42] reichert621 commented on #452
done in https://github.com/papercups-io/papercups/pull/521

[2021-01-14 17:42] #452 closed

[2021-01-14 23:19] #487 closed

[2021-01-17 21:01] sitemapxml opened #527 "Heroku build Failed"
When I try to deploy to heroku using provided build script, the app creation fails.

Here is the build log:

[code]

[2021-01-18 17:48] sladyn98 opened #528 "Plugin Integration Bug"
I tried integrating the plugin to the papercups app however it is not getting authenticated.
`Error: Error: cannot POST /api/v1/messages (401)
        at Response.toError (/home/sladyn/BotCart/webhooks-demo/node_modules/superagent/lib/node/response.js:98:13)
        at ResponseBase._setStatusProperties (/home/sladyn/BotCart/webhooks-demo/node_modules/superagent/lib/response-base.js:119:48)

[2021-01-18 21:04] cheeseblubber commented on #527
Fixed in https://github.com/papercups-io/papercups/commit/747637e79640c587d97ab5e6938ffa6630013cf1

[2021-01-18 21:04] #527 closed

[2021-01-19 16:54] uzarubin opened #529 "Multi-channel routing"
**Problem**
Currently, if I have a chat for a marketing site and a chat for my customers, they all go to the same slack channel. For larger organizations this means that both sales and support people are in the same slack channel and have to figure out which thread is a `support` thread and which is a `sales` thread. It would be great to have a way to pipe different chats to different slack channe

[2021-01-19 17:00] reichert621 commented on #529
good idea! thanks @uzarubin 👍

[2021-01-19 22:26] reichert621 opened #531 "[Reporting] Backend APIs for overall average/median resolution metrics"
**Problem**
Before we can display these metrics in the UI, we'll need to write the backend APIs to query and calculate this data.

**Solution**
We've already done this for "reply time" metrics, so the code will be very similar :)

Basically, we want to write these methods, but have them compare `conversation.closed_at` (rather than `conversation.first_replied_at`) with `conversation.inserted_at`:

[2021-01-19 22:28] reichert621 opened #532 "[Reporting] Backend APIs for weekly resolution metrics"
**Problem**
Before we can display these metrics in the UI, we'll need to write the backend APIs to query and calculate this data.

**Solution**
We've already done this for "reply time" metrics, so the code will be very similar :)

Basically, we want to write these methods, but have them compare `conversation.closed_at` (rather than `conversation.first_replied_at`) with `conversation.inserted_at`:

[2021-01-19 22:33] reichert621 opened #533 "[Reporting] Add resolution metrics to the reporting dashboard UI"
**Problem**
Once we have our backend APIs ready (see https://github.com/papercups-io/papercups/issues/531 and https://github.com/papercups-io/papercups/issues/532), we should display this data in the reporting UI!

**Solution**
Add "Resolution Metrics" under "Response Metrics" in the reporting dashboard, and include the same metrics (average/median weekly/overall):
![Reporting](https://user-images

[2021-01-19 22:38] reichert621 opened #534 "[Tech debt] Fix dialyzer typespec warnings for missing types"
**Problem**
When we run `mix dialyzer` in the project, we can see all the warnings based on our typespecs:
<img width="574" alt="Screen Shot 2021-01-19 at 5 34 48 PM" src="https://user-images.githubusercontent.com/5264279/105101606-b12ea200-5a7c-11eb-964d-38b435818810.png">

Let's start off by fixing the `unknown_type` warnings by adding these types to the relevant models!

**Solution**
For all th

[2021-01-20 19:16] reichert621 opened #536 "Implement v1 of reminders in Slack"
**Problem**
In general, users want to be reminded about unresolved conversation in case they forget about them.

To start off, we're going to focus on implementing a (daily) reminder in Slack.

**Solution**
I'm thinking we can send reminders in one of two ways:
- As a message directly from the Papercups app/bot to the user with a link to the thread
- Or, as an ephemeral message (https://api.slack.

[2021-01-20 21:58] reichert621 opened #538 "Set up API for retrieving previous conversation"
**Problem**
Users want to be able to see previous conversations from the context of an existing conversation, in order to view what was discussed previously with a customer (if that customer had already messaged them in the past).

**Solution**
- Write the method to query for previous conversation, given a current conversation.
- Create the API endpoint for this as well (e.g. `GET /api/conversatio

[2021-01-20 22:03] aguilaair commented on #538
I think the next step could be a way to get all previous conversations, that'd help with customers seeing all their conversations